{% extends "../template.html" %}

{% block page %}
<div class="container">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">כניסה למערכת</div>
			<div class="panel-body">
				<form method="POST" class="form-horizontal"> 
					{% csrf_token %}
					
					{% include "Management/form_snippet.html" %}

					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<input type="submit" value="התחבר" class="btn btn-sm btn-primary"/>
						</div>
					</div>

						<input type="hidden" name="next" value="{{ next }}" />
					</table> 
				</form> 

				{% if form.errors %}
					<div class="alert alert-danger">
						פרטי ההתחברות לא נכונים. אנא נסה שנית.
					</div>
				{% endif %}
			</div>
		</div>
	</div> 
</div> 
{% endblock page %}