{% extends "template.html" %}

{% load static %}
{% load humanize %}

{% block header %}
<link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}" type="text/css" >
<link rel="stylesheet" href="{% static "css/datatables-bundle.min.css" %}" type="text/css" >
{% endblock header %}

{% block page %}

<nav class="navbar navbar-default">

	<!-- <a class="navbar-brand" href="#">
    <img src="{% static "images/logo_neve_hair_2018.png"%}" width="50" height="50" class="d-inline-block" alt="" >
  </a> -->

	<div class="navbar-header">
		<a class="navbar-brand" href="/"><span class="text-primary">נווה העיר</span> 2007</a>
	</div>

	{% if user.is_authenticated %}
	<ul class="nav navbar-nav">
		<li><a href="/employees">מצבת עובדים</a></li>
		<li><a href="/projects">מצבת פרוייקטים</a></li>
	</ul>
	{% endif %}

	<ul class="nav navbar-nav navbar-left">
		<p class="navbar-text navbar-left">
			<span>שלום, </span>
			{% if user.is_authenticated %}
				<span>{{ user.get_full_name }} !</span>
				<a href="/accounts/logout">התנתק</a> / <a href="/accounts/password_change">שנה סיסמא</a>
			{% else %}
				<span>אורח !</span>
				<a href="/accounts/login">התחבר</a>
			{% endif %}
		</p>
	</ul>
</nav>

<div id="content">

{% block content %}{% endblock content %}

</div>
<div id="footer" style="text-align:center;">
<hr width=60%>
<a href="#top">חזור לראש הדף</a><br><br>
</div>
{% if error %}
	<div id="error" style="display:none;">{{error|default_if_none:""}}</div>
{% endif %}
{% endblock page %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/jquery.fancybox.pack.js" %}"></script> 
<script type="text/javascript" src="{% static "js/jszip.min.js" %}"></script> 
<script type="text/javascript" src="{% static "js/datatables-bundle.js" %}"></script> 

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			type: 'iframe'
		});
		$(".bigfancybox").fancybox({
			type: 'iframe',
			frameWidth: 800
		});
	});
</script>

{% endblock scripts %}