{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block scripts %}	
{{ block.super }}
<script>
	var projectSelect;
	var employeeSelect;
	$(document).ready(function() {
		$("input[type!='submit']").attr("class", "inputText");
		$("select").attr("class", "inputText");
		
		projectSelect = $("#id_project");
		employeeSelect = $("#id_employee");
		
		//add click event to projects select : use ajax to get related buildings and employees
		projectSelect.change(onChangeProject);
	});
		
	function onChangeProject()
	{
		$("option", employeeSelect).remove();
		var selectedProject = projectSelect.val();

		$.getJSON("/xml/employees/" + selectedProject, onEmployeeDataArrived);
	}
	
	function onEmployeeDataArrived(data)
	{
		for (i in data)
		{
			obj = data[i];
			text = obj.fields['pid'] + " : " + obj.fields['first_name'] + " " + obj.fields['last_name'];
			employeeSelect.append("<option value='" + obj.pk + "'>" + text + "</option>");
		}
		if (data.length == 1)
			employeeSelect.attr("value", data[0].pk);
	}
</script>
{% endblock scripts %}

{% block content %}	
<h3 class="text-center text-danger">דו"ח פעילות לאתר</h3>
<form method="POST">
	{% csrf_token %}
	<table cellspacing="2" cellpadding="2" class="formTable">
		{% include "Management/form_snippet.html" %}
	<tr>
		<td></td>
		<td>
			<input type="submit" value="אישור" class="button"/>
			<input name="addanother" type="submit" value="אישור והמשך הזנה" class="button"/>
		</td>
	</tr>
</table>
</form>
{% endblock content %}