{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block scripts %}
{{ block.super }}
<script>
	var selectedID = 0;
	
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[data-id='"+selectedID+"']").removeClass('active');
			selectedID = tr.data('id');
			if (!selectedID)
				return;
				
			tr.addClass('active');
			//sync links
			if (selectedID > 0)
			{
				$("#objEdit").attr("href", selectedID);
				$("#objDelete").attr("href", selectedID + "/del");
			}
		});
	});
</script>
{% endblock scripts %}

{% block content %}
	<h3 class="text-center text-danger">מדד המחירים לצרכן</h3>

	<a href="add" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> חדש
	</a>
	<a id="objEdit" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> שינוי
	</a>
	<a id="objDelete" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
	</a>

	<div class="clearBoth"> </div>
	<br /> 		
	<table class="table table-bordered table-striped table-condensed">
		<th>חודש</th>
		<th>ת. פרסום</th>
		<th>מדד</th>
		<th>שינוי ב-%</th>
		{% for m in object_list %}
			<tr data-id={{m.id}}>
				<td>{{ m.month }}/{{m.year}}</td>
				<td>{{ m.publish_date }}</td>
				<td><a class="fancybox" href="{{m.id}}">{{ m.value }}</a></td>
				<td>{{ m.diff|floatformat:1 }}%</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}