{% extends "../base.html" %}

{% load static %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
			{
				$("#apEdit").attr("href", "/advancepayments/" + selectedID);
				$("#apToLoan").attr("href", "/advancepayments/" + selectedID + "/toloan");
				$("#apDelete").attr("href", "/advancepayments/" + selectedID + "/del");
			}
		});
		//add fancybox
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
	<h3 class="text-center text-danger">ריכוז מקדמות שלא שולמו לעובדים</h3>

	<a href="/advancepayments/add" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> חדש
	</a>
	<a id="apEdit" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> שינוי
	</a>
	<a id="apToLoan" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> הפוך להלוואה
	</a>
	<a id="apDelete" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
	</a>

	<div class="clearBoth"> </div>
	<br /> 		
	<table class="dataTable" border="1">
		<th>שם העובד</th>
		<th>תאריך המקדמה</th>
		<th>סכום המקדמה</th>
		{% for ap in object_list %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{ap.id}}>
				<td><a href="/employees/{{ ap.employee.id }}">{{ ap.employee }}</td>
				<td>{{ap.date}}</td>
				<td>{{ap.amount}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}