{% extends "../base.html" %}
{% load humanize %}
{% block content %}
<div id="content">
	<h3 class="text-center text-danger">מצבת רוכשים לבניין {{object.num}} בפרוייקט {{object.project}}</h3>
	<a href="pdf" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-print"></i> גרסת הדפסה
	</a>
	<div class="clearBoth"></div>
	<br /> 		
	<table class="table table-bordered table-striped table-condensed small">
		<th>מס'<br>דירה</th>
		<th>סוג<br>דירה</th>
		<th>שטח<br>נטו</th>
		<th>קומה</th>
		<th>שם<br>הרוכשים</th>
		<th>ת.ז.</th>
		<th>כתובת</th>
		<th>טלפונים</th>
		<th>דוא"ל</th>
		<th>ת.<br>הרשמה</th>
		<th>ת.<br>חוזה</th>
		<th>מחירון</th>
		<th>מחיר<br>חוזה</th>
		<th>חנייה</th>
		<th>מחסן</th>
		<th>הוצאות<br>נלוות</th>
		<th>מועד<br>אכלוס<br>חזוי</th>
		<th>ארכיב<br>לקוח</th>
		<th>מצב<br>חשבון</th>
		{% for h in object.houses.all %}
			<tr>
				<td><a href="../house/{{h.id}}/type1">{{ h.num }}</a></td>
				<td>{{ h.type }}</td>
				<td>{{ h.net_size }}</td>
				<td>{{ h.floor }}</td>
				{% with h.get_sale as s %}
				<td>{{ s.clients|default_if_none:"" }}</td>
				<td></td>
				<td></td>
				<td>{{ s.clients_phone|default_if_none:"" }}</td>
				<td></td>
				<td>{{ s.get_signup.date|default_if_none:"" }}</td>
				<td>{{ s.sale_date|date:"j/m/Y"|default_if_none:"" }}</td>
				<td>{% if h.price %}{{ h.price|intcomma }} ש"ח{% endif %}</td>
				<td>{% if s.price %}{{ s.price|intcomma }} ש"ח{% endif %}</td>
				<td>{% for p in h.parkings.all %} {{p}} {% endfor %}</td>
				<td>{% for s in h.storages.all %} {{s}} {% endfor %}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				{% endwith %}
			</tr>
		{% endfor %}
		<tr class="info">
			<td>{{object.houses.count}} סה"כ</td>
			<td colspan="11"></td>
			<td>{{total_sale_price|intcomma}}</td>
		</tr>
	</table>
</div>
{% endblock content %}