{% extends "./template.html" %}
{% block header %}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock header %}
{% block page %}
<div id="content">	
	{% if title %}
	<h3 class="text-center text-danger">{{title}}</h3>
	<div class="clearBoth"></div>
	{% endif %}
	<form method="POST">
	<div id="leftSide">
		<fieldset class="cardFieldset">
			<table class="formTable">
				<legend>פרטי חשבון</legend>
				{% for field in accountForm %}
				<tr>
					<th>{{field.label_tag}}</th>
					<td>
						{{field}}
						{% if field.errors %}<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</fieldset>
	</div>
	<div id="rightSide">
		<table class="formTable">
			{% include "Management/form_snippet.html" %}
			<tr>
				<td></td>
				<td>
					<input type="submit" value="אישור" class="button"/>
					<input name="addanother" type="submit" value="אישור והמשך הזנה" class="button"/>
				</td>
			</tr>
		</table>
	</div>
	<div class="clearBoth"/>
	</form>
</div>
{% endblock page %}