{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
{% if demand.id %}
	<h3 class="text-center text-danger">
		{% if demand.get_previous_demand %}
		<a href="/demands/{{demand.get_previous_demand.id}}" style="text-decoration:none;">
			<img src="{% static "images/1rightarrow-48.png" %}" width="24" height="24" border="0" alt="דרישה קודמת" />
		</a>
		{% endif %}
		ריכוז מכירות {{demand.month}}/{{demand.year}}
		לפרוייקט
		{{demand.project}}
		{% if demand.get_next_demand %}
		<a href="/demands/{{demand.get_next_demand.id}}" style="text-decoration:none;">
			<img src="{% static "images/1leftarrow-48.png" %}" width="24" height="24" border="0" alt="דרישה הבאה" />
		</a>
		{% endif %}
		<br>
		מצב - 
		{{demand.statuses.latest.type}}
	</h3>
	<div class="clearBoth"></div>
	<table class="pageSubTitle" align="center">
		<tr>
			<th>יזם</th>
			<td>{{demand.project.initiator}}</td>
		</tr>
		<tr>
			<th>פרוייקט</th>
			<td><a href="/projects/{{demand.project.id}}">{{demand.project.name}}</a></td>
		</tr>
		<tr>
			<th>עיר</th>
			<td>{{demand.project.city}}</td>
		</tr>
		<tr>
			<th>אנשי מכירות בפרוייקט</th>
			<td>
			{% for e in demand.project.employees.all %}
				<a href="/employees/{{e.id}}">{{e}}</a> ,
			{% endfor %}
			</td>
		</tr>
	</table>
{% else %}
	<h3 class="text-center text-danger">פתיחת דרישה חדשה</h3>
{% endif %}

<hr/>

<div class="col-md-4">
	<form method="POST" class="form-horizontal">
		{% csrf_token %}
		
		{% include "Management/form_snippet.html" %}

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="אישור" class="btn btn-sm btn-primary"/>
			</div>
		</div>

	</form>
</div>

<div class="col-md-8">
	
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">סיכום</div>
			<div class="panel-body">
				<table class="formTable">
					<tr>
						<th>עמלה בגין מכירות</th>
						<td>{{demand.sales_commission|intcomma}} ש"ח</td>
					</tr>
					<tr>
						<th>סה"כ תשלום לחברה</th>
						<td>{{demand.total_amount|intcomma}} ש"ח</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">תוספות וקיזוזים</div>
			<div class="panel-body">
				{% for d in demand.diffs.all %}
					{{ d }}				
					<a href="{{d.get_absolute_url}}" class="fancybox"><i class="fa fa-edit" title='עריכה'></i></a>
					<a href="{{d.get_absolute_url}}/del"><i class="fa fa-fw fa-times-circle text-danger"></i></a>
					<br>
				{% endfor %}
				
				<hr/>

				<a class="fancybox" href="{{demand.id}}/adddiff">תוספת\קיזוז חדש</a>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">תיקונים לדרישה</div>
			<div class="panel-body">
				<ul>
					{% for s in demand.get_pricemodsales %}
						<li>המחיר עבור מכירה מס'
						<a href="/sale/{{s.id}}">{{s.id}}</a>
						שונה מ- 
						{{s.salepricemod.old_price|intcomma}} 
						ל - 
						<strong>{{s.price|intcomma}}</strong>. 
						<a href="{{ s.salepricemod.get_absolute_url }}">פרטים</a>
						</li>
					{% endfor %}
					{% for s in demand.get_housemodsales %}
						<li>הדירה עבור מכירה מס'
						<a href="/sale/{{s.id}}">{{s.id}}</a>
							שונתה מבניין
						<a href="/buildings/{{s.salehousemod.old_house.building.id}}/pricelist/type1">{{s.salehousemod.old_house.building.num}}</a>
							דירה 
						<a href="/buildings/{{s.salehousemod.old_house.building.id}}/house/{{s.salehousemod.old_house.id}}/type1">{{s.salehousemod.old_house.num}}</a>			
							לבניין 
						<a href="/buildings/{{s.house.building.id}}/pricelist/type1"><strong>{{s.house.building.num}}</strong></a>
							דירה 
						<a href="/buildings/{{s.house.building.id}}/house/{{s.house.id}}/type1"><strong>{{s.house.num}}</strong></a>. 
						<a href="{{ s.salehousemod.get_absolute_url }}">פרטים</a>
						</li>
					{% endfor %}
					{% for s in demand.get_presales %}
						<li>מכירה מס' 
						<a href="/sale/{{s.id}}">{{s.id}}</a> - ({{s}})
						הוקדמה לחודש זה.
						<br>
						העובד יקבל תשלום בחודש
						<strong>{{s.salepre.employee_pay_month}}/{{s.salepre.employee_pay_year}}</strong>. 
						<a href="{{ s.salepre.get_absolute_url }}">פרטים</a>
						</li>
					{% endfor %}
					{% for s in demand.get_rejectedsales %}
						<li>מכירה מס' 
						<a href="/sale/{{s.id}}">{{s.id}}</a> - ({{s}})
						נדחתה לחודש
						<strong>{{s.salereject.to_month}}/{{s.salereject.to_year}}</strong>
						<br>
						העובד יקבל תשלום בחודש
						<strong>{{s.salereject.employee_pay_month}}/{{s.salereject.employee_pay_year}}</strong>. 
						<a href="{{ s.salereject.get_absolute_url }}">פרטים</a>
						</li>			
					{% endfor %}
					{% for s in demand.get_canceledsales %}
						<li>מכירה מס' 
						<a href="/sale/{{s.id}}">{{s.id}}</a> - ({{s}})
						בוטלה.
						<a href="{{ s.salecancel.get_absolute_url }}">פרטים</a>
						</li>			
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">חשבוניות</div>
			<div class="panel-body">
				{% for i in demand.invoices.all %}
					{{ i.num }}
					- בתאריך
					<strong>{{i.date|date:"j/m/y"}}</strong>
					על סך
					<strong>{{i.amount|intcomma}} ש"ח</strong>  				
					<a href="/demandinvoice/{{i.id}}" ><i class="fa fa-edit" title='עריכה'></i></a>
					<a href="/invoices/{{i.id}}/del"><i class="fa fa-fw fa-times-circle text-danger"></i></a>
					{% if i.offset %}
						בתאריך 
						{{i.offset.date|date:"j/m/y"}}
						זיכוי על סך של 
						{{i.offset.amount|intcomma}} ש"ח
						בגלל 
						{{i.offset.reason}} 
						<a href="{{i.offset.get_absolute_url}}" class="fancybox"><i class="fa fa-edit" title='עריכה'></i></a>
						<a href="{{i.offset.get_absolute_url}}/del"><i class="fa fa-fw fa-times-circle text-danger"></i></a>
					{% else %}
						<a href="/invoices/{{i.id}}/offset" class="fancybox">הזנת זיכוי לחשבונית</a>
					{% endif %}
					<br>
				{% endfor %}
				
				<hr/>
				
				<a href="{{demand.id}}/invoice/add">חשבונית חדשה</a>

			</div>
		</div>
	</div>
		
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">תשלומים מהיזם</div>
			<div class="panel-body">
				{% for p in demand.payments.all %}
					{{ p.num }}
					- לתאריך
					<strong>{{p.payment_date|date:"j/m/y"}}</strong>
					על סך
					<strong>{{p.amount|intcomma}} ש"ח</strong>  				
					<a href="/demandpayment/{{p.id}}" ><i class="fa fa-edit" title='עריכה'></i></a>
					<a href="/payments/{{p.id}}/del"><i class="fa fa-fw fa-times-circle text-danger"></i></a>
					<br>
				{% endfor %}

				<hr/>

				<a href="{{demand.id}}/payment/add">הוסף תשלום</a>
			</div>
		</div>
	</div>	
	
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">מסמכים מצורפים</div>
			<div class="panel-body">
				<a id="list_attachments" href="{{demand.id}}/attachments" class="bigfancybox">ארכיב מסמכים</a><br>
				<a id="add_attachment" href="{{demand.id}}/attachment/add" class="bigfancybox">צרף מסמך</a>
			</div>
		</div>
	</div>

</div>

<div class="clearBoth"></div>
	
<div class="col-md-4">
	{% if not demand.invoices.count %}
		<div class="alert alert-danger">
			לתשומת לבך ! לא הוצאה חשבונית בגין הדרישה
		</div>	
	{% endif %}

	{% if not demand.payments.count %}
		<div class="alert alert-danger">
			לתשומת לבך ! לא התקבל תשלום בגין הדרישה
		</div>
	{% endif %}	
	
	{% if demand.diff_invoice_payment %}
		<div class="alert alert-danger">
			לתשומת לבך ! קיים פער בין הסכום בחשבונית שהוצאה, לסכום בתשלום שהתקבל מהיזם
		</div>
	{% endif %}
</div>

	{% if demand.statuses.latest.type.id == 1 %}
		<a href="close">סגור דרישה</a><br><br>
	{% endif %}

	{% include './demand_deals.html' %}
	
{% endblock content%}
