{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
{% if demand.id %}
	<div class="title">
		<div class="pageTitle">
			{% if demand.get_previous_demand %}
			<a href="/demands/{{demand.get_previous_demand.id}}" style="text-decoration:none;">
				<img src="{% static "images/1rightarrow-48.png" %}" width="24" height="24" border="0" alt="דרישה קודמת" />
			</a>
			{% endif %}
			ריכוז מכירות {{demand.month}}/{{demand.year}}
			לפרוייקט
			{{demand.project}}
			{% if demand.get_next_demand %}
			<a href="/demands/{{demand.get_next_demand.id}}" style="text-decoration:none;">
				<img src="{% static "images/1leftarrow-48.png" %}" width="24" height="24" border="0" alt="דרישה הבאה" />
			</a>
			{% endif %}
			<br>
			מצב - 
			{{demand.statuses.latest.type}}
		</div>
	</div>
	<div class="clearBoth"></div>
	<table class="pageSubTitle" align="center">
		<tr>
			<th>יזם</th>
			<td>{{demand.project.initiator}}</td>
		</tr>
		<tr>
			<th>פרוייקט</th>
			<td><a href="/projects/{{demand.project.id}}">{{demand.project.name}}</a></td>
		</tr>
		<tr>
			<th>עיר</th>
			<td>{{demand.project.city}}</td>
		</tr>
		<tr>
			<th>אנשי מכירות בפרוייקט</th>
			<td>
			{% for e in demand.project.employees.all %}
				<a href="/employees/{{e.id}}">{{e}}</a> ,
			{% endfor %}
			</td>
		</tr>
	</table>
{% else %}
	<div class="title">
		<div class="pageTitle">פתיחת דרישה חדשה</div>
	</div>
{% endif %}
<div id="rightSide">
	<form method="POST" class="formTable">
		<table class="formTable" >
		{% for field in form %}
			<tr>
				<th>{{field.label_tag}}</th>
				<td>
					{{field}}
					{% if field.errors %}<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
		<input type="submit" value="אישור" class="button"/>
	</form>
</div>
<div id="leftSide">
	<table class="formTable">
		<tr>
			<th>עמלה בגין מכירות</th>
			<td>{{demand.sales_commission|intcomma}} ש"ח</td>
		</tr>
		<tr>
			<th>סה"כ תשלום לחברה</th>
			<td>{{demand.get_total_amount|intcomma}} ש"ח</td>
		</tr>
	</table>
	<fieldset class="cardFieldset" >
		<legend>תוספות וקיזוזים</legend>
		{% for d in demand.diffs.all %}
			{{ d }}				
			<a href="{{d.get_absolute_url}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="20" height="20" border="0" alt="עריכה" /></a>
			<a href="{{d.get_absolute_url}}/del"><img src="{% static "images/delete_48.png" %}" width="20" height="20" border="0" alt="מחיקה" /></a>
			<br>
		{% endfor %}
		<br><a class="fancybox" href="{{demand.id}}/adddiff">תוספת\קיזוז חדש</a><br>
	</fieldset>
	<fieldset class="cardFieldset">
		<legend>תיקונים לדרישה</legend>
		<ul>
			{% for s in demand.get_pricemodsales %}
				<li>המחיר עבור מכירה מס'
				<a href="/sale/{{s.id}}">{{s.id}}</a>
				שונה מ- 
				{{s.salepricemod.old_price|intcomma}} 
				ל - 
				<b>{{s.price|intcomma}}</b>. 
				<a href="{{ s.salepricemod.get_absolute_url }}">פרטים</a>
				</li>
			{% endfor %}
			{% for s in demand.get_housemodsales %}
				<li>הדירה עבור מכירה מס'
				<a href="/sale/{{s.id}}">{{s.id}}</a>
				 שונתה מבניין
				<a href="/buildings/{{s.salehousemod.old_house.building.id}}/pricelist/type1">{{s.salehousemod.old_house.building.num}}</a>
				 דירה 
				<a href="/buildings/{{s.salehousemod.old_house.building.id}}/house/{{s.salehousemod.old_house.id}}/type1">{{s.salehousemod.old_house.num}}</a>			
				 לבניין 
				<a href="/buildings/{{s.house.building.id}}/pricelist/type1"><b>{{s.house.building.num}}</b></a>
				 דירה 
				<a href="/buildings/{{s.house.building.id}}/house/{{s.house.id}}/type1"><b>{{s.house.num}}</b></a>. 
				<a href="{{ s.salehousemod.get_absolute_url }}">פרטים</a>
				</li>
			{% endfor %}
			{% for s in demand.get_presales %}
				<li>מכירה מס' 
				<a href="/sale/{{s.id}}">{{s.id}}</a> - ({{s}})
				הוקדמה לחודש זה. העובד יקבל תשלום בחודש
				<b>{{s.salepre.employee_pay_month}}/{{s.salepre.employee_pay_year}}</b>. 
				<a href="{{ s.salepre.get_absolute_url }}">פרטים</a>
				</li>
			{% endfor %}
			{% for s in demand.get_rejectedsales %}
				<li>מכירה מס' 
				<a href="/sale/{{s.id}}">{{s.id}}</a> - ({{s}})
				נדחתה לחודש
				<b>{{s.salereject.to_month}}/{{s.salereject.to_year}}</b>
				העובד יקבל תשלום בחודש
				<b>{{s.salereject.employee_pay_month}}/{{s.salereject.employee_pay_year}}</b>. 
				<a href="{{ s.salereject.get_absolute_url }}">פרטים</a>
				</li>			
			{% endfor %}
			{% for s in demand.get_canceledsales %}
				<li>מכירה מס' 
				<a href="/sale/{{s.id}}">{{s.id}}</a> - ({{s}})
				בוטלה.
				<a href="{{ s.salecancel.get_absolute_url }}">פרטים</a>
				</li>			
			{% endfor %}
		</ul>
	</fieldset>
	<fieldset class="cardFieldset" >
		<legend>חשבוניות</legend>
		{% for i in demand.invoices.all %}
			{{ i.num }}
			- בתאריך
			<b>{{i.date|date:"j/m/y"}}</b>
			על סך
			<b>{{i.amount|intcomma}} ש"ח</b>  				
			<a href="/demandinvoice/{{i.id}}" ><img src="{% static "images/edit_48.png" %}" width="20" height="20" border="0" alt="עריכה" /></a>
			<a href="/invoices/{{i.id}}/del"><img src="{% static "images/delete_48.png" %}" width="20" height="20" border="0" alt="מחיקה" /></a>
			{% if i.offset %}
				בתאריך 
				{{i.offset.date|date:"j/m/y"}}
				זיכוי על סך של 
				{{i.offset.amount|intcomma}} ש"ח
				בגלל 
				{{i.offset.reason}} 
				<a href="{{i.offset.get_absolute_url}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="20" height="20" border="0" alt="עריכה" /></a>
				<a href="{{i.offset.get_absolute_url}}/del"><img src="{% static "images/delete_48.png" %}" width="20" height="20" border="0" alt="מחיקה" /></a>
			{% else %}
				<a href="/invoices/{{i.id}}/offset" class="fancybox">הזנת זיכוי לחשבונית</a>
			{% endif %}
			<br>
		{% endfor %}
		<br><a href="{{demand.id}}/invoice/add">חשבונית חדשה</a><br>
	</fieldset>
	<fieldset class="cardFieldset" >
		<legend>תשלומים מהיזם</legend>
		{% for p in demand.payments.all %}
			{{ p.num }}
			- לתאריך
			<b>{{p.payment_date|date:"j/m/y"}}</b>
			על סך
			<b>{{p.amount|intcomma}} ש"ח</b>  				
			<a href="/demandpayment/{{p.id}}" ><img src="{% static "images/edit_48.png" %}" width="20" height="20" border="0" alt="עריכה" /></a>
			<a href="/payments/{{p.id}}/del"><img src="{% static "images/delete_48.png" %}" width="20" height="20" border="0" alt="מחיקה" /></a>
			<br>
		{% endfor %}
		<br><a href="{{demand.id}}/payment/add">הוסף תשלום</a><br>
	</fieldset>		
	<fieldset class="cardFieldset">
		<legend>מסמכים מצורפים</legend>
		<a id="list_attachments" href="{{demand.id}}/attachments" class="bigfancybox">ארכיב מסמכים</a><br>
		<a id="add_attachment" href="{{demand.id}}/attachment/add" class="bigfancybox">צרף מסמך</a>
	</fieldset>
</div>
	<div class="clearBoth"/>
	<p style="color: #CC0000; font-weight: bold;">
		{% if not demand.invoices.count %}
			לתשומת לבך ! לא הוצאה חשבונית בגין הדרישה<br>
		{% endif %}
		{% if not demand.payments.count %}
			לתשומת לבך ! לא התקבל תשלום בגין הדרישה<br>
		{% endif %}	{% if demand.diff_invoice_payment %}
			לתשומת לבך ! קיים פער בין הסכום בחשבונית שהוצאה, לסכום בתשלום שהתקבל מהיזם<br>
		{% endif %}
	</p>
	{% if demand.statuses.latest.type.id == 1 %}
		<a href="close">סגור דרישה</a><br><br>
	{% endif %}

	{% include './demand_deals.html' %}
	
{% endblock content%}
