{% extends "../base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	var filterIndex = 0;
	$(document).ready(function() {
		$("#demandTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#demandTable tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
				$("#saleAdd").attr("href", "/demands/" + selectedID + "/sale/add");
				$("#saleZero").attr("href", "/demands/" + selectedID + "/zero");
				$("#demandClose").attr("href", selectedID + "/close");
				$("#demandRemarks").attr("href", selectedID + "/remarks");
				$("#demandSaleCount").attr("href", selectedID + "/salecount");
			});
			
		$(".fancybox").fancybox();
		$(".bigfancybox").fancybox({'frameWidth':800});	
		
		$("#demandCloseAll").click(function (event) {
			if (!confirm("האם אתה בטוח שברצונך לאשר את כל הדרישות?"))
				event.preventDefault();
		});
	});
</script>
{% endblock header %}
{% block content %}
<h3 class="text-center text-danger">ריכוז הזנת דרישות לתשלום לחודש {{month|date:"M Y"}}</h3>
<div class="clearBoth"></div>

<div class="col-md-4">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש דרישה</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<div class="btn-group" role="group">
	<a id="saleAdd" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> הזנת מכירות
	</a>
	<a id="saleZero" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-edit"></i> אין מכירות
	</a>
	<a id="demandSaleCount" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> מס' מכירות
	</a>
</div>

<a id="demandRemarks" class="btn btn-default fancybox" role="button">
	<i class="fa fa-fw fa-sticky-note"></i> הערות לדרישה
</a>

<div class="btn-group" role="group">
	<a id="demandClose" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-thumbs-up"></i> אשר דרישה
	</a>
	<a id="demandCloseAll" href="/demands/closeall" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-thumbs-up"></i> אשר הכל
	</a>
</div>

<div class="btn-group" role="group">
	<a href="/employee/remarks/{{month.year}}/{{month.month}}" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-sticky-note"></i> הערות לעובד
	</a>
	<a href="/employee/refund/{{month.year}}/{{month.month}}" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> החזר הוצאות לעובד
	</a>
	<a href="#" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-edit"></i> ימי חופש ומחלה לעובד
	</a>
</div>

<div class="clearBoth"></div>	
<p>
לתשומת לבך, ל-
<u>{{unhandled_projects|length}}</u>
פרוייקטים דרישה לא סופית ומאושרת בגין חודש זה : 
{% for p in unhandled_projects %}
{{p}} ,
{% endfor %}
</p>
<br>
<table id="demandTable" class="dataTable" style="text-align:center;" border="1">
<caption>מציג סה"כ {{demands|length}} דרישות לתשלום</caption>
	<tr>
		<th>מס'</th>
		<th>PDF</th>
		<th>יזם</th>
		<th>שם פרוייקט</th>
		<th>עיר</th>
		<th>מס' מכירות</th>
		<th>מס' מכירות צפוי</th>
		<th>מכירות כולל מע"מ</th>
		<th>הערות</th>
		<th>תזכורות לפרוייקט</th>
		<th>נתוני שכר עובד</th>
		<th>סטטוס דרישה</th>
	</tr>
    {% for d in demands %}
	{% if not d.last_status %}
    	<tr class="row3" objid={{d.id}}>
	{% else %}
		{% if d.last_status.type_id != 1 %}
			<tr class="row4" objid={{d.id}}>
		{% else %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{d.id}}>
		{% endif %}
	{% endif %}
			<td>{{d.id}}</td>
			<td>
				<a href="/reports/project_month/{{d.project.id}}/{{d.year}}/{{d.month}}">
				<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
				</a>
			</td>
			<td>{{ d.project.initiator }}</td>
			<td><a href="/projects/{{d.project.id}}">{{ d.project.name }}</a></td>
			<td>{{ d.project.city }}</td>
			<td><a href="/demandsales/?demand_id={{d.id}}" class="bigfancybox">{{ d.sales_count }}</a></td>
			<td><a href="{{d.get_absolute_url}}/salecount" class="fancybox">{{d.sale_count}}</a></td>
			<td>{% if d.sales_amount %}{{ d.sales_amount|intcomma }} ש"ח {% endif %}</td>
			<td>{{ d.remarks|default_if_none:"" }}</td>
			<td>
			{% if d.open_reminders|length %}
				<a href="{{d.get_absolute_url}}/reminders" class="fancybox">{{d.open_reminders|length}} תזכורות</a>
			{% endif %}
				<a href="{{d.get_absolute_url}}/addreminder" class="fancybox">
					<i class="fa fa-fw fa-plus-circle text-success"></i>
				</a>
			</td>
			<td>
			{% for s in d.get_salaries %}
			{% if s.refund or s.remarks %}
				<u>{{s.employee}}</u> : {% if s.refund %}{{s.refund}} - {{s.refund_type}}{%endif%}. {{s.remarks|default_if_none:""}}
			{% endif %}
			{% endfor %}
			</td>
			<td>
				{% if d.last_status %}
					{{ d.last_status.type }}<br>
					{% if d.last_status.type_id == 1 %}
						<a href="{{d.get_absolute_url}}/close" class="fancybox">אשר</a>
					{% endif %}
				{% else %}
					<a href="{{d.get_absolute_url}}/close" class="fancybox">אשר</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
		<tr class="rowSum" height="30px">
			<td colspan="5"></td>
			<td>{{sales_count}} מכירות</td>
			<td>{{expected_sales_count}} מכירות</td>
			<td>{{sales_amount|intcomma}} ש"ח</td>
		</tr>
</table>
{% endblock content %}