{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block scripts %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			
			//sync links
			if (selectedID > 0) {
				$("#objEdit").attr("href", selectedID);
				$("#objOffset").attr("href", "/invoices/" + selectedID + "/offset");
				$("#objDelete").attr("href", "/invoices/" + selectedID + "/del");
			}
		});
	});
</script>
{% endblock scripts %}

{% block content %}
	<h3 class="text-center text-danger">ריכוז חשבוניות לדרישה</h3>
	
	<div class="clearBoth"></div>
	
	<div class="col-md-10">
		<div class="panel panel-primary">
				<div class="panel-heading">חיפוש תקופה</div>
				<div class="panel-body">
					<form method="GET" class="form-inline">
						{% include "Management/filter_form_fields.html" with form=filterForm %}
						<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
					</form>
				</div>
			</div>
	</div>

	<div class="clearBoth"></div>

	<a href="/invoices/add" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> הוספה
	</a>
	<a id="objEdit" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-edit"></i> עריכה
	</a>
	<a id="objOffset" class="btn btn-default fancybox" role="button">
		זיכוי
	</a>
	<a id="objDelete" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
	</a>

	<div class="clearBoth"> </div>
	<br /> 		
	<table class="table table-bordered table-striped table-condensed">
		<caption>
		{% if page.has_previous %}
		<a href="?page={{ page.previous_page_number }}" style="text-decoration:none;">
			<img src="{% static "images/1rightarrow-48.png" %}" width="20" height="20" border="0" />
		</a>
		{% endif %}
		מציג
		{{page.start_index}} - {{page.end_index}}, 
		עמוד
		{{page.number}}
		מתוך
		{{page.paginator.num_pages}}
		{% if page.has_next %}
		<a href="?page={{ page.next_page_number }}" style="text-decoration:none;">
			<img src="{% static "images/1leftarrow-48.png" %}" width="20" height="20" border="0" />
		</a>
		{% endif %}
		</caption>

		<th></th>
		<th>שם היזם</th>
		<th>פרויקט</th>
		<th>חודש</th>
		<th>שנה</th>
		<th>מס' חשבונית</th>
		<th>ת. חשבונית</th>
		<th>סכום</th>
		<th>הערות</th>
		{% for i in page.object_list %}
			<tr data-id={{i.id}}>
				<td><a href="{{i.demands.all.0.get_absolute_url}}"><i class="fa fa-fw fa-info-circle text-primary"></i></a></td>
				<td>{{ i.demands.all.0.project.initiator }}</td>
				<td><a href="{{i.demands.0.project.get_absolute_url}}">{{ i.demands.all.0.project }}</td>
				<td>{{ i.demands.all.0.month }}</td>
				<td>{{ i.demands.all.0.year }}</td>
				<td>{{ i.num }}</td>
				<td>{{ i.date|date:"j/m/y" }}</td>
				<td>{{ i.amount|intcomma }} ש"ח</td>
				<td>{{ i.remarks }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}