{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("#demandTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#demandTable tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
				$("#demandEdit").attr("href", "/demands/" + selectedID);
				$("#demandAdjust").attr("href", "/demands/" + selectedID + "/adddiffadjust");
				$("#demandAdjust").attr("href", "/demands/" + selectedID + "/adddiffadjust");
				$("#demandForceFullyPaid").attr("href", "/demands/" + selectedID + "/forcefullypaid");
			});
		$(".fancybox").fancybox();
		$(".bigfancybox").fancybox({'frameWidth':800});	
		$("#demandCalc").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך לחשב את העמלות מחדש ?"))
				event.preventDefault();
		});		
		$("#demandForceFullyPaid").click(function (event) {
			event.preventDefault();
			$.get($(this).attr("href"), function(data){
				if (data == "ok")
					location.reload(true);
				});
			});
	});
</script>
{% endblock header %}
{% block content %}
<h3 class="text-center text-danger">מעקב דרישות לפי תקופה</h3>
<div class="clearBoth"></div>
<div style="float:right;width:70%;">
	<form method="GET">
		<table class="dataTable">
			<tr class="row1">
				<td colspan={{filterForm.fields|length|add:"1"}} style="background-color: #0065BD; color: #FFFFFF; font-weight: bold;">חיפוש תקופה</td>
			</tr>
			<tr class="row2">
				{% for field in filterForm %}
				<td>
					{{ field.label_tag }} : 
					{{ field }}
				</td>
				{% endfor %}
				<td><input type="submit" value="חפש" class="button"/></td>
			</tr>
		</table>
	</form>
</div>
<div class="clearBoth"></div>

<a href="{{project.get_absolute_url}}" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-info-circle text-primary"></i> כרטיס פרויקט
</a>

<div class="btn-group" role="group">
	<a id="demandEdit" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-edit"></i> שינוי דרישה
	</a>
	<a id="demandAdjust" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> התאמת דרישה
	</a>
	<a id="demandForceFullyPaid" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-edit"></i> התאמה כפויה
	</a>
</div>

<a id="demandCalc" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-calculator"></i> חישוב עמלות מחדש
</a>
<a href="/reports/project_followup/{{project.id}}/{{start.year}}/{{start.month}}/{{end.year}}/{{end.month}}" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסה להדפסה
</a>

<div class="clearBoth"></div>
<br>
<table id="demandTable" class="dataTable" border="1">
<caption>מציג סה"כ {{demands|length}} דרישות לתשלום לפרוייקט {{project}}</caption>
	<tr>
		<th colspan="5">פרטי דרישה</th>
		<th colspan="3">פרטי חשבונית</th>
		<th colspan="2">פרטי צ'קים</th>
		<th colspan="6">הפרשי דרישה</th>
	</tr>
	<tr>
		<th>מס'</th>
		<th>PDF</th>
		<th>חודש</th>
		<th>מס'<BR>מכירות</th>
		<th>סכום דרישה</th>
		<th>מס'<BR>חשבונית</th>
		<th>סכום</th>
		<th>תאריך</th>
		<th>סכום</th>
		<th>תאריך</th>
		<th>דרישה<BR>לחשבונית</th>
		<th>צ'ק<BR>לחשבונית</th>
		<th>זיכוי<BR>חשבונית</th>
		<th>התאמה</th>
		<th>תיקונים</th>
		<th>טיפול<BR>בדרישה</th>
	</tr>
    {% for d in demands %}
	{% if d.is_fully_paid %}
		<tr class="rowLightGreen" objid={{d.id}}>
	{% else %}
		<tr class="{% cycle 'row1' 'row2' %}" objid={{d.id}}>
	{% endif %}
			<td><a href="/demands/{{d.id}}">{{d.id}}</a></td>
			<td>
				<a href="/reports/project_month/{{d.project.id}}/{{d.year}}/{{d.month}}">
				<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
				</a>
			</td>
			<td>{{ d.month }}/{{d.year}}</td>
			<td><a href="/demandsales/?demand_id={{d.id}}" class="bigfancybox">{{ d.get_sales.count|default:"אין מכירות" }}</a></td>
			<td><b>{% if d.get_total_amount %} {{ d.get_total_amount|intcomma }} ש"ח {% else %}----{% endif %}</b></td>
			<td>
				{% for i in d.invoices.all %}
					{{i.num}}<br>
				{% endfor %}
			</td>
			<td>
				{% for i in d.invoices.all %}
					<a href="/demandinvoice/{{i.id}}">{{i.amount|intcomma}}</a><br>
				{% endfor %}
			</td>
			<td>
				{% for i in d.invoices.all %}
					{{i.date|date:"j/m/y"}}<br>
				{% endfor %}
			</td>
			<td>
				{% for p in d.payments.all %}
					<a href="/demandpayment/{{p.id}}">{{p.amount|intcomma}}</a><br>
				{% endfor %}
			</td>
			<td>
				{% for p in d.payments.all %}
					{{p.payment_date|date:"j/m/y"}}<br>
				{% endfor %}
			</td>
			<td>{{d.diff_invoice|intcomma}}</td>
			<td>{{d.diff_invoice_payment|intcomma}}</td>
			<td>
				{% for i in d.invoices.all %}
					{% if i.offset %}
						<a href="{{i.offset.get_absolute_url}}" class="fancybox">
							{{i.offset.amount|intcomma}}
						</a>
					{% endif %}
				{% endfor %}
			</td>
			<td>
				{% if d.adjust_diff %}
					<a href="{{d.adjust_diff.get_absolute_url}}" class="fancybox"><i class="fa fa-edit" title='עריכה'></i></a>
				{% endif %}
			</td>
			<td
			{% if d.is_fixed %}<img src="{% static "images/update_48.png" %}" width="20" height="20"  alt="תיקון" />{% endif %}
			</td>
			<td>
			{% for r in d.get_open_reminders %}
				{{ r.content|truncatewords:5 }}
				<a class="fancybox" href="{{r.get_absolute_url}}"><i class="fa fa-fw fa-info-circle text-primary"></i></a>
				<a href="{{r.get_absolute_url}}/do"><img src="{% static "images/thumbs_up_48.png" %}" width="15" height="15" alt="בצע" border="0" /></a>
				<br>
			{% endfor %}
				<a href="/demands/{{d.id}}/addreminder" class="fancybox">
					<i class="fa fa-fw fa-plus-circle text-success"></i>
				</a>
			</td>
		</tr>
	{% endfor %}
	<tr height="30px" class="rowSum">
		<td colspan="4" align="center">סיכום</td>
		<td>{{total_amount|intcomma}} ש"ח</td>
		<td></td>
		<td>{{total_invoices|intcomma}}</td>
		<td></td>
		<td>{{total_payments|intcomma}}</td>
		<td></td>
		<td>{{total_diff_invoice|intcomma}}</td>
		<td>{{total_diff_invoice_payment|intcomma}}</td>
	</tr>
</table>
{% endblock content %}