{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block scripts %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;

	$(document).ready(function() {
		$("#demandTable tr").click(function() { 
			var tr = $(this);
			
			if (selectedID > 0)
				$("#demandTable tr[data-id='"+selectedID+"']").attr("class", prev_class);

			selectedID = tr.data('id');
			
			if (!selectedID)
				return;
			
			prev_class = tr.attr("class");

			tr.attr("class","active");
			
			//sync links
			if (selectedID > 0) {
				$("#demandEdit").attr("href", "/demands/" + selectedID);
				$("#demandCalc").attr("href", "/demands/" + selectedID + "/calc");
				$("#demandReturnToCalc").attr("href", "/demands/" + selectedID + "/returntocalc");
				$("#demandRemarks").attr("href", "/demands/" + selectedID + "/remarks");
			}
		});

		$("#demandSend").click(function(event) {
			event.preventDefault();
			$("#demandTable input[type='checkbox'][checked]").each(function () {
				if (!$(this).attr("checked"))
					return;
				var row = $(this).parent().parent();
				$.get("demands/" + row.attr("objid") + "/send");
			});
			alert("הדרישות נשלחו ליזמים");
		});

		$("#demandCalc").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך לחשב את העמלות מחדש ?"))
				event.preventDefault();
		});

		$("#demandReturnToCalc").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך להחזיר את הדרישה לחישוב עמלות ?"))
				event.preventDefault();
		});
	});
</script>
{% endblock scripts %}

{% block content %}
<h3 class="text-center text-danger">ריכוז דרישות לתשלום לחודש {{month|date:"F Y"}}</h3>
<div class="clearBoth"></div>
<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">חיפוש דרישה</div>
		<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
		</div>
	</div>
</div>

<div class="clearBoth"></div>

<div class="btn-group" role="group">
	<a id="demandEdit" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-edit"></i> שינוי דרישה
	</a>
	<a id="demandRemarks" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-sticky-note"></i> הערות לדרישה
	</a>
</div>

<a href="/demands/sendall" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-thumbs-up"></i> אשר ושלח דרישות
</a>

<div class="btn-group" role="group">
	<a id="demandReturnToCalc" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-undo"></i> החזר לחישוב עמלות
	</a>
	<a id="demandCalc" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-calculator"></i> חישוב עמלות מחדש
	</a>
</div>

<a href="/reports/projects_month/{{month.year}}/{{month.month}}" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסה להדפסה
</a>

<div class="clearBoth"></div>
<p>
לתשומת לבך, ל-
<u>{{unhandled_projects|length}}</u>
פרוייקטים לא הוצאה דרישה בגין חודש זה : 
{% for p in unhandled_projects %}
{{p}} ,
{% endfor %}
</p>
<br>
<table id="demandTable" class="table table-bordered table-striped table-condensed small">
<caption>מציג סה"כ {{demands|length}} דרישות לתשלום</caption>
	<tr>
		<th>מס'</th>
		<th>PDF</th>
		<th>יזם</th>
		<th>שם פרוייקט</th>
		<th>סטטוס</th>
		<th>מס' מכירות</th>
		<th>מס' מכירות צפוי</th>
		<th>סה"כ מכירות כולל מע"מ</th>
		<th>עמלה מחושב בגין שיווק</th>
		<th>תוספת קבועה</th>
		<th>תוספת משתנה</th>
		<th>בונוס</th>
		<th>קיזוז</th>
		<th>סה"כ תשלום לחברה</th>
		<th>תיקון</th>
		<th>תזכורות</th>
		<th>הערות</th>
	</tr>
    {% for d in demands %}
		{% if not d.last_status %}
			<tr class="row3" data-id={{d.id}}>
		{% else %}
			{% if d.last_status.type_id == 1 %}
				<tr data-id={{d.id}}>
			{% endif %}
			{% if d.last_status.type_id == 2 %}
				<tr class="row4" data-id={{d.id}}>
			{% endif %}
			{% if d.last_status.type_id == 3 %}
				<tr class="row5" data-id={{d.id}}>
			{% endif %}
			{% if d.last_status.type_id == 4 %}
				<tr class="row5" data-id={{d.id}}>
			{% endif %}
		{% endif %}
			<td><a href="{% url 'demand-edit' object_id=d.id %}">{{d.id}}</a></td>
			<td>
				<a href="/reports/project_month/{{d.project.id}}/{{d.year}}/{{d.month}}">
				<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
				</a>
			</td>
			<td>{{ d.project.initiator }}</td>
			<td><a href="/projects/{{d.project.id}}">{{ d.project.name }}</a></td>
			<td>{{ d.last_status }}</td>
			<td><a href="/demandsales/?demand_id={{d.id}}" class="bigfancybox">{{ d.sales_count|default:"אין מכירות" }}</a></td>
			<td>{{d.sale_count}}</td>
			<td>{% if d.sales_amount %} {{ d.sales_amount|intcomma }} ש"ח {% else %}----{% endif %}</td>
			<td>{% if d.sales_commission %} {{ d.sales_commission|intcomma }} ש"ח {% else %}----{% endif %}</td>
			<td style="color:#08A600;">{% if d.fixed_diff %} {{ d.fixed_diff.amount|intcomma }} ש"ח {% endif %}</td>
			<td style="color:#08A600;">{% if d.var_diff %} {{ d.var_diff.amount|intcomma }} ש"ח - {{ d.var_diff.reason }} {% endif %}</td>
			<td style="color:#08A600; width:150px;">{% if d.bonus_diff %} {{ d.bonus_diff.amount|intcomma }} ש"ח - {{ d.bonus_diff.reason }} {% endif %}</td>
			<td style="color:#D50808;">{% if d.fee_diff %} {{ d.fee_diff.amount|intcomma }} ש"ח - {{ d.fee_diff.reason }} {% endif %}</td>
			<td><b>{% if d.total_amount %} {{ d.total_amount|intcomma }} ש"ח {% else %}----{% endif %}</b></td>
			<td
			{% if d.is_fixed %} <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>{% endif %}
			</td>
			<td>
			{% if d.open_reminders|length %}
				<a href="/demands/{{d.id}}/reminders" class="fancybox">{{d.open_reminders|length}} תזכורות</a>
			{% endif %}
				<a href="/demands/{{d.id}}/addreminder" class="fancybox">
					<i class="fa fa-fw fa-plus-circle text-success"></i>
				</a>
			</td>
			<td>{{ d.remarks|default_if_none:"" }}</td>
		</tr>
	{% endfor %}
	<tr class="text-danger" height="30px">
		<td colspan="5" align="center"></td>
		<td>{{total_sales_count}} מכירות</td>
		<td>{{demands.total_sale_count}} מכירות</td>
		<td>{{total_sales_amount|intcomma}} ש"ח</td>
		<td>{{demands.total_sales_commission|intcomma}} ש"ח</td>
		<td colspan="4"></td>
		<td colspan="2">{{total_amount|intcomma}} ש"ח</td>
	</tr>
</table>
{% endblock content %}