{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block scripts %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;

	$(document).ready(function() {

		var table = $('#demandTable').DataTable({
			searching: false,
			ordering: false,
			paging: false,
			info: false,
			buttons: [
				{
					extend: 'excel',
					text: 'ייצא לאקסל',
					title: 'ריכוז דרישות תקופתי לפרויקט - {{project}}',
					filename: 'ריכוז דרישות תקופתי לפרויקט - {{project}}',
					createEmptyCells: true,
					footer: true,
					autoFilter: true,
					customize: function( xlsx ) {
						var sheet = xlsx.xl.worksheets['sheet1.xml'];

						// Add Bold, green background, thin black border to the first row (headers)
						$('row:nth-child(2) c', sheet).attr( 's', '42' );

						// Add borders to all other rows
						$('row:gt(2) c', sheet).attr( 's', '25' );

						// Add Centered text to the first row (title)
						$('row:first c', sheet).attr( 's', '51' );

						// Add Bold, thin black border to last row (footer)
						$('row:last c', sheet).attr( 's', '27' );
					}
				}
			]
		});

		table.buttons().container()
    	.appendTo($('#myButtons'));

		$("#demandTable tr").click(function() { 
			var tr = $(this);

			if (selectedID > 0)
				$("#demandTable tr[data-id='"+selectedID+"']").attr("class", prev_class);

			selectedID = tr.data('id');

			if (!selectedID)
				return;

			prev_class = tr.attr("class");
			tr.attr('class','active');

			//sync links
			if (selectedID > 0)
				$("#demandEdit").attr("href", "/demands/" + selectedID);
				$("#demandCalc").attr("href", "/demands/" + selectedID + "/calc");
			});
			
		$("#demandCalc").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך לחשב את העמלות מחדש ?"))
				event.preventDefault();
		});
	});
</script>
{% endblock scripts %}

{% block content %}
<h3 class="text-center text-danger">ריכוז דרישות לפי תקופה</h3>

<div class="clearBoth"></div>

<div class="col-md-10">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש תקופה</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<a id="demandEdit" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-edit"></i> שינוי דרישה
</a>
<a id="demandCalc" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-calculator"></i> חישוב עמלות מחדש
</a>
<a href="/reports/project_season/{{project.id}}/{{start.year}}/{{start.month}}/{{end.year}}/{{end.month}}" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסה להדפסה
</a>
		
<div id="myButtons" style="display: inline-block">
	<!-- DataTable buttons will be inserted here -->
</div>

<div class="clearBoth"></div>

<br>
<table id="demandTable" class="table table-bordered table-striped table-condensed small">

	<thead>
		<tr>
			<th>מס'</th>
			<th>PDF</th>
			<th>חודש</th>
			<th>מס' מכירות</th>
			<th>מס' מכירות צפוי</th>
			<th>סה"כ מכירות כולל מע"מ</th>
			<th>עמלה מחושב בגין שיווק</th>
			<th>תוספת קבועה</th>
			<th>תוספת משתנה</th>
			<th>בונוס</th>
			<th>קיזוז</th>
			<th>סה"כ תשלום לחברה</th>
			<th>תיקון</th>
			<th>תזכורות</th>
			<th>הערות</th>
		</tr>
	</thead>

	<tbody>
    {% for d in demands %}
		{% if not d.last_status %}
				<tr class="row3" data-id={{d.id}}>
		{% else %}
			{% if d.last_status.type_id == 1 %}
				<tr data-id={{d.id}}>
			{% endif %}
			{% if d.last_status.type_id == 2 %}
				<tr class="row4" data-id={{d.id}}>
			{% endif %}
			{% if d.last_status.type_id == 3 %}
				<tr class="row5" data-id={{d.id}}>
			{% endif %}
			{% if d.last_status.type_id == 4 %}
				<tr class="row5" data-id={{d.id}}>
			{% endif %}
		{% endif %}
				<td><a href="{% url 'demand-edit' object_id=d.id %}">{{d.id}}</a></td>
				<td>
					<a href="/reports/project_month/{{d.project.id}}/{{d.year}}/{{d.month}}">
					<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
					</a>
				</td>
				<td>{{ d.month }}/{{d.year}}</td>
				<td><a href="/demandsales/?demand_id={{d.id}}" class="bigfancybox">{{ d.sales_count|default:"אין מכירות" }}</a></td>
				<td>{{d.sale_count}}</td>
				<td>{% if d.sales_amount %} {{ d.sales_amount|intcomma }} ש"ח {% else %}----{% endif %}</td>
				<td>{% if d.sales_commission %} {{ d.sales_commission|intcomma }} ש"ח {% else %}----{% endif %}</td>
				<td style="color:#08A600;">{% if d.fixed_diff %} {{ d.fixed_diff.amount }} ש"ח {% endif %}</td>
				<td style="color:#08A600;">{% if d.var_diff %} {{ d.var_diff.amount }} ש"ח - {{ d.var_diff.reason }} {% endif %}</td>
				<td style="color:#08A600; width:150px;">{% if d.bonus_diff %} {{ d.bonus_diff.amount }} ש"ח - {{ d.bonus_diff.reason }} {% endif %}</td>
				<td style="color:#D50808;">{% if d.fee_diff %} {{ d.fee_diff.amount }} ש"ח - {{ d.fee_diff.reason }} {% endif %}</td>
				<td><b>{% if d.total_amount %} {{ d.total_amount|intcomma }} ש"ח {% else %}----{% endif %}</b></td>
				<td>
				{% if d.is_fixed %}
				<i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
				{% endif %}
				</td>
				<td>
				{% if d.open_reminders|length %}
					<a href="/demands/{{d.id}}/reminders" class="fancybox">{{d.open_reminders|length}} תזכורות</a>
				{% endif %}
					<a href="/demands/{{d.id}}/addreminder" class="fancybox">
						<i class="fa fa-fw fa-plus-circle text-success"></i>
					</a>
				</td>
				<td>{{ d.remarks|default_if_none:"" }}</td>
			</tr>
		{% endfor %}
	</tbody>

	<tfoot>
		<tr height="30px">
			<td colspan="2"></td>
			<td><strong>סה"כ</strong></td>
			<td><strong>{{total_sales_count}} מכירות</strong></td>
			<td></td>
			<td><strong>{{total_sales_amount|intcomma}} ש"ח</strong></td>
			<td><strong>{{demands.total_sales_commission|intcomma|intcomma}} ש"ח</strong></td>
			<td colspan="4"></td>
			<td><strong>{{total_amount|intcomma}} ש"ח</strong></td>
		</tr>
	</tfoot>

</table>
{% endblock content %}