{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("#demandTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#demandTable tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
				$("#demandEdit").attr("href", "/demands/" + selectedID);
				$("#demandCalc").attr("href", "/demands/" + selectedID + "/calc");
			});
		$(".fancybox").fancybox();
		$(".bigfancybox").fancybox({'frameWidth':800});	
		$("#demandCalc").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך לחשב את העמלות מחדש ?"))
				event.preventDefault();
		});
		//add filters
		var filterSelect = $("#filterSelect");
		$("#demandTable th").each(function (index, elem) {
			filterSelect.append("<option value='" + index + "'>" + $(elem).text() + "</option>");
		});
	});
</script>
{% endblock header %}
{% block content %}
<h3 class="text-center text-danger">ריכוז דרישות לפי תקופה</h3>

<div class="clearBoth"></div>

<div class="col-md-8">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש תקופה</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<a id="demandEdit" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-edit"></i> שינוי דרישה
</a>
<a id="demandCalc" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-calculator"></i> חישוב עמלות מחדש
</a>
<a href="/reports/project_season/{{project.id}}/{{start.year}}/{{start.month}}/{{end.year}}/{{end.month}}" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסה להדפסה
</a>

<div class="clearBoth"></div>

<br>
<table id="demandTable" class="dataTable" border="1">
<caption>מציג סה"כ {{demands|length}} דרישות לתשלום לפרוייקט {{project}}</caption>
	<tr>
		<th>מס'</th>
		<th>PDF</th>
		<th>חודש</th>
		<th>מס' מכירות</th>
		<th>מס' מכירות צפוי</th>
		<th>סה"כ מכירות כולל מע"מ</th>
		<th>עמלה מחושב בגין שיווק</th>
		<th>תוספת קבועה</th>
		<th>תוספת משתנה</th>
		<th>בונוס</th>
		<th>קיזוז</th>
		<th>סה"כ תשלום לחברה</th>
		<th>תיקון</th>
		<th>תזכורות</th>
		<th>הערות</th>
	</tr>
    {% for d in demands %}
	{% if not d.statuses.count %}
    	<tr class="row3" objid={{d.id}}>
	{% else %}
		{% if d.statuses.latest.type.id == 1 %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{d.id}}>
		{% endif %}
		{% if d.statuses.latest.type.id == 2 %}
			<tr class="row4" objid={{d.id}}>
		{% endif %}
		{% if d.statuses.latest.type.id == 3 %}
			<tr class="row5" objid={{d.id}}>
		{% endif %}
		{% if d.statuses.latest.type.id == 4 %}
			<tr class="row5" objid={{d.id}}>
		{% endif %}
	{% endif %}
			<td><a href="/demands/{{d.id}}">{{d.id}}</a></td>
			<td>
				<a href="/reports/project_month/{{d.project.id}}/{{d.year}}/{{d.month}}">
				<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
				</a>
			</td>
			<td>{{ d.month }}/{{d.year}}</td>
			<td><a href="/demandsales/?demand_id={{d.id}}" class="bigfancybox">{{ d.get_sales.count|default:"אין מכירות" }}</a></td>
			<td>{{d.sale_count}}</td>
			<td>{% if d.get_sales.total_price_final %} {{ d.get_sales.total_price_final|intcomma }} ש"ח {% else %}----{% endif %}</td>
			<td>{% if d.sales_commission %} {{ d.sales_commission|intcomma }} ש"ח {% else %}----{% endif %}</td>
			<td style="color:#08A600;">{% if d.fixed_diff %} {{ d.fixed_diff.amount }} ש"ח {% endif %}</td>
			<td style="color:#08A600;">{% if d.var_diff %} {{ d.var_diff.amount }} ש"ח - {{ d.var_diff.reason }} {% endif %}</td>
			<td style="color:#08A600; width:150px;">{% if d.bonus_diff %} {{ d.bonus_diff.amount }} ש"ח - {{ d.bonus_diff.reason }} {% endif %}</td>
			<td style="color:#D50808;">{% if d.fee_diff %} {{ d.fee_diff.amount }} ש"ח - {{ d.fee_diff.reason }} {% endif %}</td>
			<td><b>{% if d.get_total_amount %} {{ d.get_total_amount|intcomma }} ש"ח {% else %}----{% endif %}</b></td>
			<td>
			{% if d.is_fixed %}
			 <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
			{% endif %}
			</td>
			<td>
			{% if d.get_open_reminders|length %}
				<a href="/demands/{{d.id}}/reminders" class="fancybox">{{d.get_open_reminders|length}} תזכורות</a>
			{% endif %}
				<a href="/demands/{{d.id}}/addreminder" class="fancybox">
					<i class="fa fa-fw fa-plus-circle text-success"></i>
				</a>
			</td>
			<td>{{ d.remarks|default_if_none:"" }}</td>
		</tr>
	{% endfor %}
	<tr height="30px" class="rowSum">
		<td colspan="3" align="center">סיכום</td>
		<td>{{total_sales_count}} מכירות</td>
		<td></td>
		<td>{{total_sales_amount|intcomma}} ש"ח</td>
		<td>{{demands.total_sales_commission|intcomma|intcomma}} ש"ח</td>
		<td colspan="4"></td>
		<td>{{total_amount|intcomma}} ש"ח</td>
	</tr>
</table>
{% endblock content %}