{% extends "../template.html" %}
{% load humanize %}
{% block page %}
<div id="content">
	<h3 class="text-center text-danger">
		{% if salary.employee %}
			פירוט שווי צ'ק לעובד {{salary.employee}} לחודש {{salary.month}}/{{salary.year}}
		{% elif salary.nhemployee %}
			פירוט שווי צ'ק לעובד {{salary.nhemployee}} לחודש {{salary.month}}/{{salary.year}}
		{% endif %}
	</h3>
	<div class="clearBoth"></div>
	<table id="sales_table" class="formTable">
		<tr>
			<th>בסיס</th>
			<td>{{salary.base|intcomma}}</td>
		</tr>
		<tr>
			<th>עמלות</th>
			<td>{{salary.commissions|intcomma}}</td>
		</tr>
		{% if salary.admin_commission %}
		<tr>
			<th>עמלת ניהול</th>
			<td>{{salary.admin_commission|intcomma}}</td>
		</tr>
		{% endif %}
		<tr>
			<th>תוספת משתנה</th>
			<td style="color:#08A600;">{{salary.var_pay|default_if_none:""}}</td>
		</tr>
		<tr>
			<th>רשת בטחון</th>
			<td style="color:#08A600;">{{salary.safety_net|default_if_none:""}}</td>
		</tr>
		<tr>
			<th>קיזוז</th>
			<td style="color:#D50808;">{{salary.deduction|default_if_none:""}}</td>
		</tr>
		<tr>
			<th>הלוואה</th>
			<td style="color:#D50808;">{{salary.loan_pay}}</td>
		</tr>
		<tr>
			<th>סה"כ</th>
			<td>{{salary.check_amount|intcomma}}</td>
		</tr>
	</table>
</div>
{% endblock page %}