{% extends "../base.html" %}

{% load static %}
{% load humanize %}
{% load management_extras %}

{% block scripts %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("#salaryTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#salaryTable tr[employeeid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("employeeid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0) {
				$("#loanPay").attr("href", "/employees/" + selectedID + "/loanpay");
				$("#loanAdd").attr("href", "/employees/" + selectedID + "/addloan");
				$("#calcSalary").attr("href", "" + tr.attr("objid") + "/calc");
				$("#deleteSalary").attr("href", "" + tr.attr("objid") + "/delete");
				$("#approve").attr("href", "" + tr.attr("objid") + "/approve");
				$("#edit").attr("href", tr.attr("objid"));
				$("#expenses").attr("href", "/salary/" + tr.attr("objid") + "/expenses");
			}
		});
			
		$("#loanPay, #loanAdd, #edit").click(function (event) {
			if (!$(this).attr("href"))
				alert("לא נבחר עובד");
		});
		$("#calcSalary").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך לחשב את העמלות מחדש ?"))
				event.preventDefault();
		});
		$("#deleteSalary").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך למחוק את השכר ?"))
				event.preventDefault();
		});
	});
</script>
{% endblock scripts %}

{% block content %}
<h3 class="text-center text-danger">ריכוז שכר עובדים לחודש {{month|date:"M Y"}}</h3>

<div class="clearBoth"></div>

<div class="col-md-4">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<div class="btn-group" role="group">
	<a id="loanAdd" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> הלוואה חדשה
	</a>
	<a id="loanPay" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> קיזוז הלוואה
	</a>
</div>

<div class="btn-group" role="group">
	<a id="edit" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> שינוי מרכיבי שכר - חד פעמי
	</a>
	<a id="expenses" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> הוצאות שכר
	</a>
</div>

<div class="btn-group" role="group">
	<a id="calcSalary" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-calculator"></i> חישוב עמלות מחדש
	</a>
	<a id="approve" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-check"></i> אישור שכר לתשלום
	</a>
	<a id="deleteSalary" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקת שכר
	</a>
</div>

<a href='{{month.year}}/{{month.month}}/pdf' class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסת הדפסה
</a>

<div class="clearBoth"></div>

<table id="salaryTable" class="myDataTable" border="1">
<caption>מציג סה"כ {{salaries|length}} עובדים</caption>
	<tr>
		<th colspan="5">כללי</th>
		<th colspan="7">חישוב שכר נטו</th>
		<th colspan="3">אסמכתאות</th>
		<th colspan="2">נלווה לשכר</th>
		<th colspan="4">הערות ושליחה</th>
	</tr>
	<tr>
		<th></th>
		<th>שם<br>העובד</th>
		<th>פרוייקט</th>
		<th>סוג<br>העסקה</th>
		<th>מס'<br>עסקאות</th>
		<th>שכר בסיס<br>+ עמלות</th>
		<th>רשת<br>בטחון</th>
		<th>תוספת<br>משתנה</th>
		<th>קיזוז<br>שכר</th>
		<th>סה"כ<br>שווי<br>תלוש</th>
		<th>החזר<br>הלוואה</th>
		<th>שווי<br>צ'ק</th>
		<th>ברוטו<br>לחישוב</th>
		<th>נכוי מס<br>במקור</th>
		<th>שווי<br>חשבונית</th>
		<th>החזר<br>הוצאות<br>(בנפרד)</th>
		<th>חופש<br>ומחלה</th>
		<th>הערות</th>
		<th>ת.אישור</th>
		<th>ת.שליחה<br>להנה"ח</th>
		<th>ת.שליחה<br>לצ'קים</th>
	</tr>
	{% regroup salaries by employee.rank as rank_list %}
	{% for rank in rank_list %}
		<tr style="text-align:center; color:#4669D6; font-size:14px"><td colspan="15"><b>{{rank.grouper|default:"-- לא הוגדר דרג --"}}</b></td></tr>
		{% for s in rank.list %}
		{% if s.approved_date %}
			<tr class="rowLightGreen" objid={{s.id}} employeeid={{s.employee.id}}>
		{% else %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{s.id}} employeeid={{s.employee.id}}>
		{% endif %}
			<td><a class="fancybox" href="{{s.id}}"><i class="fa fa-edit" title='שינוי מרכיבי שכר'></i></a></td>
			<td><a href="{{s.employee.get_absolute_url}}">{{ s.employee }}</a></td>
			<td>
				{% for demand in s.demands %}
				<a href="{{demand.project.get_absolute_url}}" target="_blank">{{demand.project}}</a>
				<br>
				<a href="{% url 'project-month-pdf' project_id=demand.project_id year=demand.year month=demand.month %}">
					<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
				</a>
				<a href="{{demand.get_absolute_url}}">
					<i class="fa fa-fw fa-info-circle text-primary"></i>
				</a>
				<br>
				{% endfor %}
			</td>
			<td>{{s.employee.employment_terms.hire_type}}</td>
			<td><a class="fancybox" href="{{s.employee.get_absolute_url}}/sales/{{month.year}}/{{month.month}}">{{ s.sales_count }}</a></td>
			<td style="color:#08A600;">
				{{s.base|default_if_none:"0"|intcomma}} + 
				<a href="{{s.id}}/details" class="fancybox">{{s.commissions|default_if_none:"0"|floatformat:"0"|intcomma}}</a>
			</td>
			<td style="color:#08A600;">{{s.safety_net|default_if_none:""}}</td>
			<td style="color:#08A600;">{% if s.var_pay %}{{s.var_pay|intcomma}} - {{s.var_pay_type}} {% endif %}</td>
			<td style="color:#D50808;">{% if s.deduction %}{{s.deduction|intcomma}} - {{s.deduction_type}} {% endif %}</td>
			<td><a href="{{s.id}}/totaldetails" class="fancybox">{{s.neto|default_if_none:""|floatformat:"0"|intcomma}}</a></td>
			<td>
				<span style="color:#BF0000;">{{s.loan_pay|intcomma}}</span>
				<br>
				{% if s.employee.loan_left %}
				יתרה - {{s.employee.loan_left|intcomma}} ש"ח
				<br>
				{% endif %}
				{% if s.employee.loans_and_pays|length %}
				<a href="{{s.employee.get_absolute_url}}/loans" class="fancybox">כרטיס הלוואות</a><br>
				{% endif %}
			</td>
			<td>
				{% if s.employee.employment_terms.salary_net == None %}
					הנהלת חשבונות
				{% else %}
					<a href="{{s.id}}/checkdetails" class="fancybox">{{s.check_amount|default_if_none:""|floatformat:"0"|intcomma}}</a>
				{% endif %}
			</td>
			<td>{{s.bruto|default_if_none:""|intcomma}}</td>
			<td></td>
			<td>{{s.invoice_amount|default_if_none:""|floatformat:"0"|intcomma}}</td>
			<td>{% if s.refund %}{{s.refund}} - {{s.refund_type}} {% endif %}</td>
			<td></td>
			<td>{{s.remarks|default_if_none:""}}</td>
			<td>
			{% if s.approved_date %}
				{{s.approved_date|date:"j/m/y"}}
			{% else %}
				<a href="{{s.id}}/approve">אשר</a>
			{% endif %}
			</td>
			<td>{{s.sent_to_bookkeeping_date|default_if_none:""|date:"j/m/y"}}</td>
			<td>{{s.sent_to_checks_date|default_if_none:""|date:"j/m/y"}}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	<tr class="rowSum">
		<td colspan="4" align="center">סיכום</td>
		<td>{{salaries|attrsum:"sales_count"}}</td>
		<td>{{salaries|attrsum:"base"|floatformat:"0"|intcomma}} + {{salaries|attrsum:"commissions"|floatformat:"0"|intcomma}} </td>
		<td>{{salaries|attrsum:"safety_net"|intcomma}}</td>
		<td>{{salaries|attrsum:"var_pay"|floatformat:"0"|intcomma}}</td>
		<td>{{salaries|attrsum:"deduction"|intcomma}}</td>
		<td>{{salaries|attrsum:"neto"|floatformat:"0"|intcomma}}</td>
		<td></td>
		<td>{{salaries|attrsum:"check_amount"|floatformat:"0"|intcomma}}</td>
		<td>{{salaries|attrsum:"bruto"|floatformat:"0"|intcomma}}</td>
		<td></td>
		<td>{{salaries|attrsum:"invoice_amount"|floatformat:"0"|intcomma}}</td>
		<td>{{salaries|attrsum:"refund"|intcomma}}</td>
	</tr>
</table>
{% endblock content %}
