{% extends "../base.html" %}
{% load humanize %}
{% block content %}
<h3 class="text-center text-danger"> 
	ריכוז שכ"ע לפי תקופה<br><a href="{{employee.derived.get_absolute_url}}" target="_blank">{{employee}}</a>
</h3>
<div class="clearBoth"></div>

<div class="col-md-9">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" name="list" class="btn btn-sm btn-primary"/>
					<input type="submit" value="PDF" name="pdf" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<table id="salaryTable" class="dataTable" border="1">
<caption>מציג סה"כ {{salaries|length}} משכורות</caption>	
	<tr>
		<th colspan="2">כללי</th>
		<th colspan="7">תשלום נטו</th>
		<th colspan="3">שונות</th>
		<th colspan="4">אישור ושליחה</th>
	</tr>
	<tr>
		<th></th>
		<th>סוג העסקה</th>
		<th>שכר בסיס + עמלות</th>
		<th>רשת בטחון</th>
		<th>תוספת משתנה</th>
		<th>קיזוז שכר</th>
		<th>סה"כ שווי תלוש</th>
		<th>החזר הלוואה</th>
		<th>שווי צ'ק</th>
		<th>ברוטו לחישוב</th>
		<th>החזר הוצאות (בנפרד)</th>
		<th>חופש ומחלה</th>
		<th>הערות</th>
		<th>ת.אישור</th>
		<th>ת.שליחה להנה"ח</th>
		<th>ת.שליחה לצ'קים</th>
	</tr>
	{% for s in salaries %}
		{% if s.approved_date %}
			<tr class="row5">
		{% else %}
			<tr class="{% cycle 'row1' 'row2' %}">
		{% endif %}
			<td>{{ s.month }}/{{ s.year }}</td>
			<td>{{s.get_employee.employment_terms.hire_type}}</td>
			<td style="color:#08A600;">
				{{s.base|intcomma}} + 
				<a href="{{s.get_absolute_url}}/details" class="fancybox">{{s.commissions|intcomma}}</a>
			</td>
			<td style="color:#08A600;">{{s.safety_net|default_if_none:""}}</td>
			<td style="color:#08A600;">{% if s.var_pay %}{{s.var_pay|intcomma}} - {{s.var_pay_type}} {% endif %}</td>
			<td style="color:#D50808;">{% if s.deduction %}{{s.deduction|intcomma}} - {{s.deduction_type}} {% endif %}</td>
			<td><a href="{{s.get_absolute_url}}/totaldetails" class="fancybox">{{s.neto|default_if_none:""|intcomma}}</a></td>
			<td>
				החזר - {{s.loan_pay|intcomma}} ש"ח
				<br>
				{% if s.get_employee.loan_left %}
				יתרה - {{s.employee.loan_left|intcomma}} ש"ח
				<br>
				{% endif %}
				{% if s.get_employee.loans_and_pays|length %}
				<a href="{{s.get_employee.get_absolute_url}}/loans" class="fancybox">כרטיס הלוואות</a><br>
				{% endif %}
			</td>
			<td><a href="{{s.get_absolute_url}}/checkdetails" class="fancybox">{{s.check_amount|default_if_none:""|intcomma}}</a></td>
			<td>{% if s.bruto %}<a href="{{s.expenses.get_absolute_url}}" class="fancybox">{{s.bruto|intcomma}}</a>{% endif %}</td>
			<td>{% if s.refund %}{{s.refund|intcomma}} - {{s.refund_type}} {% endif %}</td>
			<td></td>
			<td>{{s.remarks|default_if_none:""}}</td>
			<td>{{s.approved_date|default_if_none:""}}</td>
			<td>{{s.sent_to_bookkeeping_date|default_if_none:""}}</td>
			<td>{{s.sent_to_checks_date|default_if_none:""}}</td>
		</tr>
	{% endfor %}
		<tr class="rowSum">
			<td colspan="6"></td>
			<td>{{total_neto|intcomma}}</td>
			<td>{{total_loan_pay|intcomma}}</td>
			<td>{{total_check_amount|intcomma}}</td>
			<td>{{total_bruto|intcomma}}</td>
			<td>{{total_refund|intcomma}}</td>
		</tr>
</table>
{% endblock content %}