{% extends "../base.html" %}
{% load management_extras %}
{% load static %}
{% block header %}	
{{ block.super }}
<script>
	$(document).ready(function() {
		$("input[type!='submit']").attr("class", "inputText");
		$("select").attr("class", "inputText");
		$("a[id*='commission_delete']").click(function (event) { 
			var answer = confirm("האם אתה בטוח שברצונך למחוק את העמלה שנבחרה ?");
			if (!answer)
				event.preventDefault();
		});
		
		$(".fancybox").fancybox();
		$(".bigfancybox").fancybox({'frameWidth':800});
	});
</script>
{% endblock header %}
{% block content %}	
	<div class="title">
	{% if form.instance.id %}
		<div class="pageTitle">כרטיס עובד - {{form.instance}} ({{form.instance.id}})</div>	
	{% else %}
		<div class="pageTitle">הוספת עובד</div>	
	{% endif %}
	</div>
	<div id="rightSide">
		<form method="POST">
		<fieldset class="cardFieldset">
			<legend>פרטים כלליים</legend>
			<table cellspacing="2" cellpadding="2" class="formTable">
			{% for field in form %}
				<tr>
					<th>{{ field.label_tag }}</th>
					<td>
						{{field}}
						{% if field.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{field.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			{% endfor %}
			{% if form.instance.id %}
				<tr>
					<td></td>
					<th>פרוייקטים</th>
				</tr>
				{% for p in form.instance.projects.all %}
					<tr>
						<td>{{p}}</td>
						<td><a href="removeproject/{{p.id}}" class="fancybox">סיים העסקה בפרוייקט</a></td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td><a href="addproject" class="fancybox">העסק בפרוייקט חדש</a></td>
				</tr>
			{% endif %}
			</table>
		</fieldset>
			<tr>
				<td></td>
				<td><input type="submit" value="שמירת כרטיס" class="button"/></td>
			</tr>
		</table>
		</form>
	</div>
	<div id="leftSide"> 
	{% if form.instance.id %}
		{% if user.is_staff %}
			<fieldset class="cardFieldset" style="float:right; width:45%">
				<legend>תנאי העסקה</legend>
				{% if form.instance.employment_terms %}
					<table class="formTable">
					{% with form.instance.employment_terms as terms %}
						<tr>
							<th>שכר בסיס</th>
							<td>{{terms.salary_base}} ש"ח</td>
						</tr>
						<tr>
							<th>שכר נטו</th>
							<td>{{ terms.get_salary_net_display }}</td>
						</tr>
						<tr>
							<th>רשת בטחון</th>
							<td>{{terms.safety}} ש"ח</td>
						</tr>
						<tr>
							<th>סוג העסקה</th>
							<td>{{terms.hire_type}}</td>
						</tr>
						<tr>
							<th>כולל עו"ד לעמלה</th>
							<td>{{terms.include_lawyer|yesno}}</td>
						</tr>
						<tr>
							<th>כולל מע"מ לעמלה</th>
							<td>{{terms.include_tax|yesno}}</td>
						</tr>
					{% endwith %}
					</table>
					<a href="/employees/{{form.instance.id}}/employmentterms" class="fancybox" style="text-decoration:none;">
						שינוי תנאי העסקה 
						<img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="שינוי" />
					</a>
				{% else %}
					<a href="/employees/{{form.instance.id}}/employmentterms" class="fancybox" style="text-decoration:none;">
						הזנת תנאי העסקה 
						<img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" />
					</a>
				{% endif %}
			</fieldset>
		{% endif %}
		{% if perms.Management.add_account %}
			<fieldset class="cardFieldset" style="float:right; width:45%">
				<legend>פרטי חשבון</legend>
				{% if form.instance.account %}
					<table class="formTable">
					{% with form.instance.account as a %}
						<tr>
							<th>מס' חשבון</th>
							<td>{{a.num}}</td>
						</tr>
						<tr>
							<th>בנק</th>
							<td>{{a.bank}}</td>
						</tr>
						<tr>
							<th>סניף</th>
							<td>{{a.branch}}</td>
						</tr>
						<tr>
							<th>מס' סניף</th>
							<td>{{a.branch_num}}</td>
						</tr>
						<tr>
							<th>שם המוטב</th>
							<td>{{a.payee}}</td>
						</tr>						
					{% endwith %}
					</table>
					{% if perms.Management.change_account %}
					<a href="account" class="fancybox" style="text-decoration:none;">
						שינוי פרטי חשבון
						<img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="שינוי" />
					</a>
					{% endif %}
				{% else %}
					<a href="account" class="fancybox" style="text-decoration:none;">
						הזנת פרטי חשבון
						<img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="חדש" />
					</a>
				{% endif %}
			</fieldset>
		{% endif %}

		{% if form.history_trans_update|length %}
			<div class="clearBoth"></div>
			<fieldset class="cardFieldset">
				<legend>היסטוריית תנאי העסקה</legend>

					{% for k in form.history_trans_update %}
						<li>{{ k.2 }}: עידכון {{ k.0 }} ל-<b>{{ k.1 }}</b></li>
					{% endfor %}
			</fieldset>
		{% endif %}

		{% if user.is_staff %}
			<div class="clearBoth"></div>
			{% for c in form.instance.commissions.all %}
			<fieldset class="cardFieldset">
				<legend>עמלות למנהל מכירות בגין פרוייקט {{c.project}}</legend>
				<table class="formTable" style="width:95%;">
					<th>ת. תחילה</th>
					<td>{{c.start_date|date:"j/m/y"}}</td>
					<th>ת. סיום</th>
					<td>{{c.end_date|date:"j/m/y"|default:"---"}}</td>
					<th>מקס עמלה</th>
					<td>{{c.max|default_if_none:"---"}}</td>
					<td><a href="{{c.get_absolute_url}}" class="fancybox">שינוי</a></td>
				</table>
				<div style="float:right; width:45%">
					{% if c.c_var %}
						<div>
							<table class="formTable" style="text-align:center;">
								<th>דירה</th>
								<th>סכום</th>
								{% for a in c.c_var.amounts.all %}
									<tr>
										<td>{{a.index}}</td>
										<td>{{a.amount}} ש"ח</td>
									</tr>
								{% endfor %}
								<tr>
									<td></td>
									<td>{{c.c_var.is_retro|yesno:"רטרואקטיבי,לא רטרואקטיבי"}}</td>
								</tr>
							</table>
							{% if not c.end_date %}
							<a id="edit_cv" href="cv/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="עריכה" /></a>
							
							<a id="commission_delete_cv" href="cv/project/{{c.project.id}}/del"><img src="{% static "images/delete_48.png" %}" width="15" height="15" border="0" alt="מחיקה" /></a>
							{% endif %}
						</div>
					{% endif %}
					{% if c.c_var_precentage %} 
						<div>
							<table class="formTable" style="text-align:center;">
								<th>דירה</th>
								<th>סכום</th>
								{% for p in c.c_var_precentage.precentages.all %}
									<tr>
										<td>{{p.index}}</td>
										<td>{{p.precentage}}%</td>
									</tr>
								{% endfor %}
								<tr>
									<td></td>
									<td>
										{% if c.c_var_precentage.is_retro %}
											רטרואקטיבי מדירה {{c.c_var_precentage.start_retro}}
										{% else %}
											לא רטרואקטיבי
										{% endif %}
									</td>
								</tr>
							</table>
							{% if not c.end_date %}	
							<a id="edit_cvp" href="cvp/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="עריכה" /></a>
							<a id="commission_delete_cvp" href="cvp/project/{{c.project.id}}/del"><img src="{% static "images/delete_48.png" %}" width="15" height="15" border="0" alt="מחיקה" /></a>
							{% endif %}
						</div>
					{% endif %}
					{% if c.c_by_price %}	
						<div>
							<table class="formTable" style="text-align:center;">
								<th>עד מחיר</th>
								<th>סכום</th>
								{% for pa in c.c_by_price.price_amounts.all %}
									<tr>
										<td>{{pa.price|commaise}} ש"ח</td>
										<td>{{pa.amount}} ש"ח</td>
									</tr>
								{% endfor %}
							</table>
							{% if not c.end_date %}	
							<a id="edit_cbp" href="cbp/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="עריכה" /></a>
							<a id="commission_delete_cbp" href="cbp/project/{{c.project.id}}/del"><img src="{% static "images/delete_48.png" %}" width="15" height="15" border="0" alt="מחיקה" /></a>
							{% endif %}
						</div>
					{% endif %}
					{% if c.b_sale_rate %}
						<div>
							<table class="formTable" style="text-align:center;">
								<th>מס' דירות</th>
								<th>סכום</th>
								{% for b in c.b_sale_rate.bonuses.all %}
									<tr>
										<td>{{b.house_count}}</td>
										<td>{{b.amount}} ש"ח</td>
									</tr>
								{% endfor %}
							</table>
							{% if not c.end_date %}	
							<a id="edit_bsr" href="bsr/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="עריכה" /></a>
							<a id="commission_delete_bsr" href="bsr/project/{{c.project.id}}/del"><img src="{% static "images/delete_48.png" %}" width="15" height="15" border="0" alt="מחיקה" /></a>
							{% endif %}
						</div>
					{% endif %}
					{% if c.b_house_type %}		
						<div>
							<table class="formTable" style="text-align:center;">
								<th>סוג דירה</th>
								<th>סכום</th>
								{% for b in c.b_house_type.bonuses.all %}
									<tr>
										<td>{{b.type}}</td>
										<td>{{b.amount}} ש"ח</td>
									</tr>
								{% endfor %}
							</table>	
							{% if not c.end_date %}	
							<a id="edit_bht" href="bht/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="עריכה" /></a>
							<a id="commission_delete_bht" href="bht/project/{{c.project.id}}/del"><img src="{% static "images/delete_48.png" %}" width="15" height="15" border="0" alt="מחיקה" /></a>
							{% endif %}
						</div>
					{% endif %}
					{% if c.b_discount_save %}	
						<div>
							{{c.b_discount_save.precentage_bonus}}
							עבור כל 1% של חסכון בהנחה 
							{% if c.b_discount_save.max_for_bonus %}
								עד מקס' של
								{{c.b_discount_save.max_for_bonus}}%
							{% endif %}
							{% if not c.end_date %}
							<a id="edit_bds" href="bds/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="עריכה" /></a>
							<a id="commission_delete_bds" href="bds/project/{{c.project.id}}/del"><img src="{% static "images/delete_48.png" %}" width="15" height="15" border="0" alt="מחיקה" /></a>
							{% endif %}
						</div>
					{% endif %}			
					{% if c.b_discount_save_precentage %}	
						<div>
							{{c.b_discount_save_precentage.precentage_bonus}}%
							עבור כל 1%  חסכון בהנחה 
							{% if c.b_discount_save_precentage.max_for_bonus %}
								עד מקס' של
								{{c.b_discount_save_precentage.max_for_bonus}}%
							{% endif %}
							{% if not c.end_date %}
							<a id="edit_bdsp" href="bdsp/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/edit_48.png" %}" width="15" height="15" border="0" alt="עריכה" /></a>
							<a href="bdsp/project/{{c.project.id}}/del"><img src="{% static "images/delete_48.png" %}" width="15" height="15" border="0" alt="מחיקה" /></a>
							{% endif %}
						</div>
					{% endif %}
				</div>
				<div style="float:right; width:45%">
					{% if not c.c_var %}
						עמלה משתנה (בשקלים)
						<a id="add_cv" href="cv/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" /></a> 
					{% endif %}
					{% if not c.c_var_precentage %}
						<br>עמלה משתנה (באחוזים)
						<a id="add_cvp" href="cvp/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" /></a> 
					{% endif %}
					{% if not c.c_by_price %}
						<br>עמלה משתנה לפי מחיר דירה
						<a id="add_cbp" href="cbp/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" /></a> 
					{% endif %}
					{% if not c.b_sale_rate %}
						<br>בונוס קצב מכירות
						<a id="add_bsr" href="bsr/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" /></a> 
					{% endif %}
					{% if not c.b_house_type %}
						<br>בונוס סוג דירה
						<a id="add_bht" href="bht/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" /></a> 
					{% endif %}
					{% if not c.b_discount_save %}
						<br>בונוס חיסכון בהנחה (בשקלים)
						<a id="add_bds" href="bds/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" /></a> 
					{% endif %}
					{% if not c.b_discount_save_precentage %}
						<br>בונוס חיסכון בהנחה (באחוזים)
						<a id="add_bdsp" href="bdsp/project/{{c.project.id}}" class="fancybox"><img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" /></a> 
					{% endif %}
				</div>
			</fieldset>
			{% endfor %}
		{% endif %}
		<fieldset class="cardFieldset">
			<legend>הלוואות</legend>
			<table style="width:90%; font-size:12px">
				<tr>
					<td><a href="loans" class="fancybox">כרטיס הלוואות</a></td>
					<td><a href="addloan" class="fancybox">הלוואה חדשה</a></td>
					<td><a href="loanpay" class="fancybox">קיזוז הלוואה</a></td>
				</tr>
			</table>
		</fieldset>
		<fieldset class="cardFieldset">
		<legend>תזכורות</legend>
			קיימות <a id="list_reminders" href="reminders" class="fancybox">{{form.instance.get_open_reminders|length}}</a> תזכורות שטרם טופלו.<br>
			<a id="add_reminder" href="addreminder" class="fancybox">תזכורת חדשה</a>
		</fieldset>
		<fieldset class="cardFieldset">
		<legend>מסמכים מצורפים</legend>
			<a id="list_attachments" href="attachments" class="bigfancybox">ארכיב מסמכים</a><br>
			<a id="add_attachment" href="attachment/add" class="bigfancybox">צרף מסמך</a>
		</fieldset>
	{% endif %}
	</div>
	<div class="clearBoth"></div> 
{% endblock content %}
