{% extends "../base.html" %}

{% load static %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	var filterIndex;
	$(document).ready(function() {
		$("#employee_table tr, #nhemployee_table tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
			{
				$("#employeeEdit").attr("href", "/employees/" + selectedID);
				$("#employeeEnd").attr("href", "/employees/end/" + selectedID);
			}
		});
		
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}

{% block content %}
	<h3 class="text-center text-danger">מצבת עובדים</h3>
	
	<div class="clearBoth"> </div>

	<div class="btn-group" role="group">
		<a href="/employees/add" class="btn btn-default" role="button">
			<i class="fa fa-fw fa-plus-circle text-success"></i> עובד חדש
		</a>
		<a href="/nhemployees/add" class="btn btn-default" role="button">
			<i class="fa fa-fw fa-plus-circle text-success"></i> עובד נייסהאוס חדש
		</a>
	</div>

	<div class="btn-group" role="group">
		<a id="employeeEdit" class="btn btn-default" role="button">
			<i class="fa fa-fw fa-info-circle text-primary"></i> כרטיס עובד
		</a>
		<a id="employeeBag" class="btn btn-default" role="button">
			<i class="fa fa-fw fa-briefcase"></i> תיק עובד
		</a>
	</div>

	<div class="btn-group" role="group">
		<a id="employeeEnd" class="btn btn-default fancybox" role="button">
			<i class="fa fa-fw fa-user-times"></i> העבר לארכיון
		</a>
		<a href="archive" class="btn btn-default" role="button">
			<i class="fa fa-fw fa-archive"></i> ארכיון עובדים
		</a>
	</div>

	<a href="pdf" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-print"></i> גרסה להדפסה
	</a>

	<div class="clearBoth"> </div>
	<br />
	<table id="employee_table" class="dataTable" border="1">
		<caption>מציג סה"כ {{employee_list.count}} עובדים בנווה העיר</caption>
		<th>מספר</th>
		<th>שם פרטי</th>
		<th>שם משפחה</th>
		<th>כתובת</th>
		<th>תחילת העסקה</th>
		<th>סוג העסקה</th>
		<th>פרוייקטים</th>
		<th>הערות</th>
		{% regroup employee_list by rank as rank_list %}
		{% for rank in rank_list %}
			<tr style="text-align:center; color:#4669D6; font-size:14px"><td colspan="10"><b>{{rank.grouper|default:"-- לא הוגדר דרג --"}}</b></td></tr>
			{% for e in rank.list %}
				<tr class="{% cycle 'row1' 'row2' %}" objid={{e.id}}>
					<td><a href="/employees/{{e.id}}">{{ e.id }}</a></td>
					<td>{{ e.first_name }}</td>
					<td>{{ e.last_name }}</td>
					<td>{{ e.address }}</td>
					<td>{{ e.work_start }}</td>
					{% with e.employment_terms as terms %}
					<td {% if terms.hire_type.id == 1 %}style="color:#1AA337;"{%endif%}>
						{% if terms %} {{terms.hire_type}} {% endif %}
						{% if terms.hire_type.id == 2 %} - {{terms.salary_net|yesno:"נטו, ברוטו"}} {%endif%}
					</td>
					{% endwith %}
					<td>
					{% for p in e.projects.all %}
						<a href="/projects/{{p.id}}">{{p.name}}</a><br>
					{% endfor %}
					</td>
					<td>{{ e.remarks }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
	<br><br>
	<table id="nhemployee_table" class="dataTable" border="1">
		<th>מספר</th>
		<th>שם פרטי</th>
		<th>שם משפחה</th>
		<th>כתובת</th>
		<th>תחילת העסקה</th>
		<th>סוג העסקה</th>
		<th>הערות</th>
		{% for nhbranch in nhbranch_list %}
			<tr style="text-align:center; color:#4669D6; font-size:14px"><td colspan="10"><b>{{nhbranch}}</b></td></tr>
			{% for e in nhbranch.nhemployees %}
				<tr class="{% cycle 'row1' 'row2' %}" objid={{e.id}}>
					<td><a href="/nhemployees/{{e.id}}">{{ e.id }}</a></td>
					<td>{{ e.first_name }}</td>
					<td>{{ e.last_name }}</td>
					<td>{{ e.address }}</td>
					<td>{{ e.work_start }}</td>
					{% with e.employment_terms as terms %}
					<td {% if terms.hire_type.id == 1 %}style="color:#1AA337;"{%endif%}>
						{% if terms %} {{terms.hire_type}} {% endif %}
						{% if terms.hire_type.id == 2 %} - {{terms.salary_net|yesno:"נטו, ברוטו"}} {%endif%}
					</td>
					{% endwith %}
					<td>{{ e.remarks }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
{% endblock content %}