{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
<h3 class="text-center text-danger"> 
	ריכוז שכר לעובדים כולל הוצאות מעביד תקופתי<br>{{start|date:"m/y"}} - {{end|date:"m/y"}}
</h3>

<div class="clearBoth"></div>

<div class="col-md-9">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<a href="#" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסת הדפסה
</a>

<div class="clearBoth"></div>
<br>
<table id="salaryTable" class="dataTable" border="1">
<caption>מציג סה"כ {{employees|length}} עובדים</caption>
	<tr>
		<th colspan="2">כללי</th>
		<th colspan="3">תשלום נטו</th>
		<th colspan="7">מיסי עובד לתשלום והפרשות</th>
		<th colspan="4">הוצאות מעביד</th>
		<th colspan="4">אסמכתאות ואישור</th>
	</tr>
	<tr>
		<th>דו"ח</th>
		<th>שם<BR>העובד</th>
		<th>תלוש<BR>נטו</th>
		<th>החזר<BR>הלוואה</th>
		<th>שווי<BR>צ'ק</th>
		<th>מס<BR>הכנסה</th>
		<th>ביטוח<BR>לאומי</th>
		<th>בריאות</th>
		<th>ביטוח<BR>פנסיה</th>
		<th>חופשה</th>
		<th>דמי<BR>הבראה</th>
		<th>סה"כ<BR>ברוטו<BR>לעובד</th>
		<th>ביטוח<BR>לאומי<BR>מעביד</th>
		<th>גמל<BR>מעביד</th>
		<th>הפרשה<BR>לפיצויים</th>
		<th>ברוטו<BR>כולל<BR>מעביד</th>
		<th>נכוי מס<br>במקור</th>
		<th>שווי<br>חשבונית</th>
	</tr>
	{% for employee in employees %}
		<tr class="{% cycle 'row1' 'row2' %}" objid={{s.id}} employeeid={{employee.id}}>
			<td>
				<a href="{% url 'salary-season-expenses' %}?employee={{employee.id}}&from_year={{start.year}}&from_month={{start.month}}&to_year={{end.year}}&to_month={{end.month}}">
					<img src="{% static "images/viewmag-48.png" %}" width="20" height="20"/>
				</a>
			</td>
			<td><a href="{{employee.get_absolute_url}}" target="_blank">{{ employee }}</a></td>			
			<td>{{ employee.total_neto|floatformat:"0"|intcomma }}</td>
			<td>{{ employee.total_loan_pay|intcomma }}</td>
			<td>{{ employee.total_check_amount|floatformat:"0"|intcomma }}</td>
			<td>{{ employee.total_income_tax|intcomma }}</td>
			<td>{{ employee.total_national_insurance|intcomma }}</td>
			<td>{{ employee.total_health|intcomma }}</td>
			<td>{{ employee.total_pension_insurance|intcomma }}</td>
			<td>{{ employee.total_vacation|intcomma }}</td>
			<td>{{ employee.total_convalescence_pay|intcomma }}</td>
			<td>{{ employee.total_bruto|floatformat:"0"|intcomma }}</td>
			<td>{{ employee.total_employer_national_insurance|intcomma }}</td>
			<td>{{ employee.total_employer_benefit|intcomma }}</td>
			<td>{{ employee.total_compensation_allocation|intcomma }}</td>
			<td>{{ employee.total_bruto_with_employer|intcomma }}</td>
			<td></td>
			<td></td>
		</tr>
	{% endfor %}
</table>
{% endblock content %}