{% extends "../template.html" %}

{% load static %}

{% block header %}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock header %}
{% block page %}
<div id="content">
	<h3 class="text-center text-danger">עדכון שכר לעובד</h3>
	<div class="clearBoth"> </div>
	<br /> 	
	<form method="POST">
		<table class="formTable">
		{{form.errors}}
			<tr>
				<th>שנה</th>
				<td>{{object.year}}
			</tr>
			<tr>
				<th>חודש</th>
				<td>{{object.month}}
			</tr>
			{% for field in form %}
			<tr>
				<th>{{field.label_tag}}</th>
				<td>
					{{field}}
					{% if field.errors %}<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>{% endif %}
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td><input type="submit" value="אישור" class="button"/></td>
			</tr>
		</table>
	</form>
</div>
{% endblock page %}
