{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
<h3 class="text-center text-danger">דוח רווח והפסד לחטיבה ללא מע"מ</h3>
<div class="clearBoth"></div>
<div style="float:right;width:70%;">
	<form method="GET">
		<table class="dataTable">
			<tr class="row1">
				<td colspan="6" style="background-color: #0065BD; color: #FFFFFF; font-weight: bold;">חיפוש תקופה</td>
			</tr>
			<tr class="row2">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
				<td><input type="submit" value="חפש" class="button"/></td>
			</tr>
		</table>
	</form>
</div>
<div class="clearBoth"></div>

<a href="#" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסת הדפסה
</a>

<div class="clearBoth"></div>
<br>
	{% for row in data %}
		<h3 style="text-align:center; background-color:#FBFFD1;">{{row.division}}</h3>
		<div style="float:right; width:45%;">
			<table class="dataTable" border="1">
				<caption>הכנסות</caption>
				<th></th>
				<th>פרוייקט</th>
				<th>סכום</th>
				<th>% מההכנסות</th>
				{% for incomeRow in row.incomes %}
					<tr class="{% cycle 'row1' 'row2' %}">
						<td>
							{% if incomeRow.details_link %} 
								<a href={{incomeRow.details_link}} target="_blank"><img src="{% static "images/viewmag-48.png" %}" width="20" height="20"/></a> 
							{%endif%}
						</td>
						<td>{{ incomeRow.name }}</td>
						<td>{{ incomeRow.amount|intcomma }}</td>
						<td>{{ incomeRow.relative|floatformat:-2 }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div style="float:left; width:45%;">
			<table class="dataTable" border="1">
				<caption>הוצאות</caption>
				<th></th>
				<th>סוג הוצאה</th>
				<th>סכום</th>
				<th>% מההוצאות</th>
				{% for lossRow in row.losses %}
					<tr class="{% cycle 'row1' 'row2' %}">
						<td>
							{% if lossRow.details_link %} 
								<a href={{lossRow.details_link}} target="_blank"><img src="{% static "images/viewmag-48.png" %}" width="20" height="20"/></a> 
							{%endif%}
						</td>
						<td>{{ lossRow.name }}</td>
						<td>{{ lossRow.amount|intcomma }}</td>
						<td>{{ lossRow.relative|floatformat:-2 }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="clearBoth"></div>
		<h4 style="text-align:center; background-color:#96F2A4;">רווח - {{row.profit|intcomma}} ש"ח</h4>
		<br>
	{% endfor %}
	<table class="formTable" border="1">
		<tr>
			<th>סה"כ הכנסות</th>
			<td>{{global_income|intcomma}}</td>
		</tr>
		<tr>
			<th>סה"כ הוצאות</th>
			<td>{{global_loss|intcomma}}</td>
		</tr>
		<tr>
			<th>סה"כ רווח</th>
			<td>{{global_profit|intcomma}}</td>
		</tr>
	</table>
{% endblock content %}