{% extends "../base.html" %}

{% load static %}

{% block header %}
{{ block.super }}
<script>
	$(document).ready(function() {		
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
<h3 class="text-center text-danger">
	{% if form.instance.id %}
		כרטיס דירה - {{form.instance.num}}
	{% else %}
		הוספת דירה חדשה
	{% endif %}
</h3>

<hr/>

<table class="formTable col-md-2 col-md-offset-5" cellspacing="5">
{% with form.instance.building as b %}
	<tr>
		<th>פרוייקט</th>
		<td><a href="/projects/{{b.project.id}}">{{b.project.name}}</a></td>
	</tr>
	<tr>
		<th>יזם</th>
		<td>{{b.project.initiator}}</td>
	</tr>
	<tr>
		<th>מס' בניין</th>
		<td><a href="/buildings/{{b.id}}/pricelist/type{{type.id}}">{{b.num}}</a></td>
	</tr>
	<tr>
		<th>מס' קומות</th>
		<td>{{b.floors}}</td>
	</tr>
{% endwith %}
</table>

<div class="clearBoth"></div>

<form method="POST" class="form-horizontal">
	{% csrf_token %}
	<div class="col-md-4">

		<div class="panel panel-default">
			<div class="panel-heading">פרטי דירה</div>
			<div class="panel-body">

				{% include 'Management/form_field_snippet.html' with field=form.num %}
				{% include 'Management/form_field_snippet.html' with field=form.type %}
				{% include 'Management/form_field_snippet.html' with field=form.floor %}
				{% include 'Management/form_field_snippet.html' with field=form.rooms %}
				{% include 'Management/form_field_snippet.html' with field=form.net_size %}
				{% include 'Management/form_field_snippet.html' with field=form.garden_size %}
				
				{% with form.is_sold as field %}
				<div class="form-group">
					<label for="{{field.id_for_label}}" class="col-xs-4 control-label">{{field.label}}</label>
					<div class="col-xs-6">
						{{field}}
						{% if field.errors %}
							<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>
						{% endif %}
					</div>
				</div>
				{% endwith %}
				
				{% include 'Management/form_field_snippet.html' with field=form.parking1 %}
				{% include 'Management/form_field_snippet.html' with field=form.parking2 %}
				{% include 'Management/form_field_snippet.html' with field=form.parking3 %}
				
				{% include 'Management/form_field_snippet.html' with field=form.storage1 %}
				{% include 'Management/form_field_snippet.html' with field=form.storage2 %}

				{% include 'Management/form_field_snippet.html' with field=form.remarks %}

			</div>
		</div>

	</div>

	<div class="col-md-4">
		
		<div class="panel panel-default">
			<div class="panel-heading">נכס מסחרי</div>
			<div class="panel-body">
				
				{% include 'Management/form_field_snippet.html' with field=form.bruto_size %}
				{% include 'Management/form_field_snippet.html' with field=form.load_precentage %}
				{% include 'Management/form_field_snippet.html' with field=form.parking_size %}
				
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">פרטים נוספים</div>
			<div class="panel-body">
				
				{% include 'Management/form_field_snippet.html' with field=form.price %}
				{% include 'Management/form_field_snippet.html' with field=form.price_date %}

			</div>
		</div>
		
	</div>

	<div class="col-md-4">
		{% with form.instance.get_signup as signup %}
			{% if signup %}
				<div class="panel panel-info">
					<div class="panel-heading">פרטי הרשמה</div>
					<div class="panel-body">
						<table class="formTable">
							<tr>
								<th>סטטוס</th>
								<td>
									{% if signup.cancel %}
										<span style="color:#D61616;font-weight:bold;">בוטלה</span>
									{% else %}
										<span style="color:#088B0B;font-weight:bold;">פעילה</span>
									{% endif %}</td>
							</tr>
							<tr>
								<th>שמות הרוכשים</th>
								<td>{{signup.clients}}</td>
							</tr>
							<tr>
								<th>טלפון הרוכשים</th>
								<td>{{signup.clients_phone}}</td>
							</tr>
							<tr>
								<th>תאריך הרשמה</th>
								<td>{{signup.date|date:"j/m/Y"}}</td>
							</tr>
							<tr>
								<th>מחיר הרשמה</th>
								<td>{{signup.price}}</td>
							</tr>
							<tr>
								<th>הערות</th>
								<td>{{signup.remarks|default_if_none:""}}</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="{{signup.get_absolute_url}}">תיקון פרטים</a>
							</tr>
						</table>
					</div>
				</div>
			{% endif %}
		{% endwith %}

		{% for sale in form.instance.sales.all %}

			<div class="panel panel-info">
				<div class="panel-heading">פרטי מכירה</div>
				<div class="panel-body">
					<table class="formTable">
						<tr>
							<th>סטטוס</th>
							<td>
								{% if sale.salecancel %}
									<span style="color:#D61616;font-weight:bold;">בוטלה</span>
								{% else %}
									<span style="color:#088B0B;font-weight:bold;">פעילה</span>
								{% endif %}</td>
						</tr>
						<tr>
							<th>שמות הרוכשים</th>
							<td>{{sale.clients}}</td>
						</tr>
						<tr>
							<th>טלפון הרוכשים</th>
							<td>{{sale.clients_phone}}</td>
						</tr>
						<tr>
							<th>תאריך חוזה</th>
							<td>{{sale.sale_date|date:"j/m/Y"}}</td>
						</tr>
						<tr>
							<th>מחיר חוזה</th>
							<td>{{sale.price}} - {{sale.price_include_lawyer|yesno:"כולל עוד, לא כולל עוד"}}</td>
						</tr>
						<tr>
							<th>הערות</th>
							<td>{{sale.remarks}}</td>
						</tr>
						<tr>
							<th>תיקונים</th>
							<td>
								{% if sale.salepricemod %}<a href="/salepricemod/{{sale.salepricemod.id}}">תיקון מחיר</a>{% endif %}
								{% if sale.salehousemod %}<a href="/salehousemod/{{sale.salehousemod.id}}">תיקון דירה</a>{% endif %}
								{% if sale.salepre %}<a href="/salepre/{{sale.salepre.id}}">הקדמת מכירה</a>{% endif %}
								{% if sale.salereject %}<a href="/salereject/{{sale.salereject.id}}">דחיית מכירה</a>{% endif %}
								{% if sale.salecancel %}<a href="/salecancel/{{sale.salecancel.id}}">ביטול מכירה</a>{% endif %}
							</td>
						</tr>
						<tr>
							<td></td>
							<td><a href="{{sale.get_absolute_url}}">לפרטים מלאים</a>
						</tr>
					</table>
				</div>
			</div>

			{% if not sale.is_deleted %}
			<div class="panel panel-info">
				<div class="panel-heading">פרטי עמלה</div>
				<div class="panel-body">
					<table class="formTable">
						<tr>
							<th>חודש תשלום לעובד</th>
							<td>{{sale.employee_pay_month}}/{{sale.employee_pay_year}}</td>
						</tr>
						<tr>
							<th>חודש תשלום לחברה</th>
							<td>{{sale.contractor_pay_month}}/{{sale.contractor_pay_year}}</td>
						</tr>
					</table>
				</div>
			</div>
			{% endif %}

		{% endfor %}
	</div>

	<div class="clearBoth"></div>

	<input name="addanother" type="submit" value="שמירה והזנת דירה חדשה" class="btn btn-default"/>
	<input name="finish" type="submit" value="סיים הזנה" class="btn btn-primary"/>

</form>
{% endblock content%}
