{% extends "../base.html" %}
{% load humanize %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
			{
				$("#objEdit").attr("href", selectedID);
				$("#objDelete").attr("href", selectedID + "/del");
			}
		});
		//add fancybox
		$(".fancybox").fancybox();
		$(".bigfancybox").fancybox({'frameWidth':800});
	});
</script>
{% endblock header %}
{% block content %}
<h3 class="text-center text-danger">פירוט הכנסות אחרות מחודש {{from_date|date:"M Y"}} עד חודש {{to_date|date:"M Y"}}</h3>

<a href="add" class="btn btn-default fancybox" role="button">
	<i class="fa fa-fw fa-plus-circle text-success"></i> חדש
</a>
<a id="objEdit" class="btn btn-default fancybox" role="button">
	<i class="fa fa-fw fa-edit"></i> שינוי
</a>
<a id="objDelete" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
</a>

<div class="clearBoth"></div>

<div class="col-md-8">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש תקופה</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<table class="dataTable" border="1">	
	<tr>
		<th colspan="5">פרטים כלליים</th>
		<th colspan="3">צ'ק שהוצא</th>
		<th colspan="4">אסמכתא לצ'ק</th>
		<th colspan="3">בקרה</th>
	</tr>
	<tr>
		<th>מס"ד</th>
		<th>חטיבה</th>
		<th>סוג<br>הכנסה</th>
		<th>שם הלקוח</th>
		<th>מייצר<br>הכנסה</th>
		<th>מס'</th>
		<th>ת. פרעון</th>
		<th>סכום</th>
		<th>מס'<br>חשבונית</th>
		<th>תאריך<br>חשבונית</th>
		<th>נכוי מס<br>במקור</th>
		<th>סכום<br>חשבונית</th>
		<th>הפרש בין<br>חשבונית לצ'ק</th>
		<th>נתוני<br>מכירה</th>
		<th>הערות</th>
	</tr>
	{% for income in incomes %}
		<tr class="{% cycle 'row1' 'row2' %}" objid={{income.id}}>
			<td><a target="_blank" href="{{ income.get_absolute_url }}">{{ income.id }}</td>
			<td>{{income.division_type}}</td>
			<td>{{income.income_type}}</td>
			<td>{{income.client_type}}</td>
			<td>{{income.income_producer_type}}</td>
			<td>{{income.payment.id}}</td>
			<td>{{income.payment.pay_date|date:"j/m/y"}}</td>
			<td>{{income.payment.amount|intcomma}}</td>
			<td>{{income.invoice.num}}</td>
			<td>{{income.invoice.date|date:"j/m/y"}}</td>
			<td>{{income.invoice.tax_deduction_source|intcomma}}</td>
			<td>{{income.invoice.amount|intcomma}}</td>
			<td>{{income.diff_payment_invoice|default_if_none:""|intcomma}}</td>
			<td>{{income.deal}}</td>
			<td>{{income.remarks}}</td>
		</tr>
	{% endfor %}
</table>
{% endblock content %}