{% extends "../base.html" %}

{% load static %}

{% block header %}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock header %}
{% block page %}
<div id="content">
	<h3 class="text-center text-danger">הכנסה אחרת</h3>
	<div class="clearBoth"></div>
	<form method="POST">
	{% csrf_token %}
	<div id="rightSide">
		<fieldset class="cardFieldset">
			<table class="formTable">
				<legend>פרטי הכנסה</legend>
				{% include "Management/form_snippet.html" with form=incomeForm %}
			</table>
		</fieldset>
	</div>
	<div id="leftSide">
		<fieldset class="cardFieldset">
			<table class="formTable">
				<legend>פרטי תשלום</legend>
				{% include "Management/form_snippet.html" with form=paymentForm %}
			</table>
		</fieldset>
	</div>
	<div class="clearBoth"/>
	<div id="rightSide">
		<fieldset class="cardFieldset">
			<table class="formTable">
				<legend>פרטי חשבונית שלנו</legend>
				{% include "Management/form_snippet.html" with form=invoiceForm %}
			</table>
		</fieldset>
	</div>
	<div id="leftSide">
		<fieldset class="cardFieldset">
			<table class="formTable">
				<legend>פרטי עסקה</legend>
				{% include "Management/form_snippet.html" with form=dealForm %}
			</table>
		</fieldset>
	</div>
	<div class="clearBoth"/>
	<input name="addanother" type="submit" value="שמור והמשך בהזנה" class="button" />
	<input name="tolist" type="submit" value="שמור וחזור לריכוז" class="button" />
	</form>
</div>
{% endblock page %}