{% extends "../base.html" %}
{% block header %}

{% load static %}
{% load widget_tweaks %}

{{ block.super }}
<script>
	$(document).ready(function() {
		
		building_num_cleared = false;
		house_num_cleared = false;
		
		// the text in the house num text field upon first click
		$("#id_building_num").focus(function(event) {
			if (building_num_cleared == false)
			{
				building_num_cleared = true;
				$(this).removeAttr("value");
			}
		});
		
		// clears the text in the house num text field upon first click
		$("#id_house_num").focus(function(event) {
			if (house_num_cleared == false)
			{
				house_num_cleared = true;
				$(this).removeAttr("value");
			}
		});
				
		$(".listTitle").click(function(event) {
			$(this).next().toggle();
		});
		
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
	<h3 class="text-center text-danger">ברוך הבא לאתר FollowUp</h3> 
	<br><br>
	<div class="col-md-4"> 

		<div class="panel panel-default">
			<div class="panel-heading">הגדרות מערכת</div>
			<div class="panel-body">
				<ul>
					<li><a href="madadbi">מדד תשומות הבנייה למגורים</a></li>
					<li><a href="madadcp">מדד המחירים לצרכן</a></li>
					<li><a href="tax">מע"מ</a></li>
				</ul>
			</div>
		</div>

		<!-- <div class="subTitle">נווה העיר</div> 
		<div class="listTitle">כרטיסי נתונים</div>
		<ul>
			<li><a href="projects">כרטיסי פרוייקטים</a>
			<a href="projects/add" ><i class="fa fa-fw fa-plus-circle text-success"></i></a></li>
			<li><a href="projects/archive">ארכיון פרוייקטים</a></li>
			<li><a href="employees">כרטיסי עובדים</a>
			<a href="employees/add" ><i class="fa fa-fw fa-plus-circle text-success"></i></a></li>
			<li><a href="employees/archive">ארכיון עובדים</a></li>
			<li><a href="activity/add">הזנת דו"ח פעילות לאתר</a></li>
		</ul> -->

		<div class="panel panel-default">
			<div class="panel-heading">דרישות לתשלום</div>
			<div class="panel-body">
				<ul>
						<li><a href="sale">מכירה חדשה</a></li>
						<li><a href="demands">הזנה ועדכון דרישות לתשלום</a>
						<a href="demands/add" ><i class="fa fa-fw fa-plus-circle text-success"></i></a></li>
						<li><a href="{% url 'demand-old' %}">ריכוז דרישות לסך הפרוייקטים לפי חודש</a></li>
						<li><a href="{% url 'demand-season' %}">ריכוז דרישות תקופתי לפרוייקט</a></li>
						<li><a href="{% url 'demand-followup' %}">מעקב דרישות תקופתי לפרוייקט</a></li>
						<li><a href="demandsall">מעקב דרישות יזמים</a></li>
						<li><a href="{% url 'demand-pay-balance' %}">מצב תשלום דרישות יזמים</a></li>
					</ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">עובדים</div>
			<div class="panel-body">
				<ul>
						<li><a href="{% url 'salary-season-expenses' %}">ריכוז שכר לעובד כולל הוצאות מעביד תקופתי</a></li>
						<li><a href="{% url 'salary-season-total-expenses' %}">ריכוז שכר לעובדים כולל הוצאות מעביד תקופתי</a></li>
						<li><a href="{% url 'salary-list' %}">דו"ח הנפקת משכורות עובדים</a></li>
						<li><a href="{% url 'salary-bank' %}">דו"ח שכר עובדים להעברה בנקאית</a></li>
						<li><a href="{% url 'salary-season' %}">ריכוז משכורות לפי תקופה</a></li>
						<li><a href="{% url 'salary-expenses' %}">ריכוז הזנת הוצאות מעביד לשכר</a></li>
						<li><a href="loans">הלוואות עובדים</a></li>
					</ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">יזמים</div>
			<div class="panel-body">
				<ul>
					<li><a href="buildings/add" class="fancybox">הוספת בניין ומחירון</a></li>
					<li><a href="demandsall" >מעקב תשלומים מיזמים</a></li>
				</ul>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">מעקב תשלומים מיזם</div>
			<div class="panel-body">
				<ul>
					<li><a href="demands/unpaid">דו"ח סך הדרישות שטרם שולמו</a></li>
					<li><a href="demands/paidsome">דו"ח סך הדרישות ששולמו בחסר</a></li>
				</ul>
			</div>
		</div>

		<div class="listTitle">תזכורת לתשלום ליזמים</div>
		<ul>
			<li><a href="#">שלח תזכורת</a></li>
		</ul>

		<div class="panel panel-default">
			<div class="panel-heading">דו"חות עסקיים</div>
			<div class="panel-body">
				<ul>
					<li><a href="projectsprofit">דו"ח רווח והפסד לפרוייקט לא כולל מע"מ</a></li>
					<li><a href="nhseasonprofit">דו"ח רווח והפסד - נייס האוס</a></li>
					<li><a href="profitloss">דו"ח רווח והפסד - גלובלי</a></li>
					<li><a href="seasonincome">דו"ח ריכוז הכנסות תקופתי</a></li>
					<li><a href="saleanalysis">דו"ח ניתוח וריכוז מכירות לפי תקופה</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-4">

		<div class="panel panel-default">
			<div class="panel-heading">הוצאת צ'קים</div>
			<div class="panel-body">
				<ul>
					<li><a href="#">פתיחת פנקס צ'קים</a></li>
					<li><a href="employeechecks">צ'קים לעובדים</a>
					<a class="fancybox" href="employeechecks/add" ><i class="fa fa-fw fa-plus-circle text-success"></i></a></li>
					<li><a href="advancepayments">מקדמות לעובדים</a></li>
					<li><a href="checks">צ'קים אחרים</a>
					<a class="fancybox" href="checks/add" ><i class="fa fa-fw fa-plus-circle text-success"></i></a></li>
				</ul>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">תקבולים מיזמים</div>
			<div class="panel-body">
				<ul>
					<li><a href="payments/add">הקלדת תשלום שהתקבל</a></li>
					<li><a href="splitpayment/add">הקלדת תשלום מפוצל</a></li>
					<li><a href="demandpayments" >ריכוז תשלומים</a></li>
					<li><a href="invoices/add">הקלדת חשבונית שהוצאה</a></li>
					<li><a href="invoices/offset" class="fancybox">הקלדת זיכוי לחשבונית</a></li>
					<li><a href="demandinvoices" >ריכוז חשבוניות</a></li>
				</ul>
			</div>
		</div>

		<div class="listTitle">הכנסות אחרות</div>
		<ul>
			<li><a href="incomes/add">הזנת הכנסה אחרת</a></li>
			<li><a href="incomes">ריכוז הכנסות אחרות</a></li>
		</ul>
		<div class="listTitle">אנשי קשר ומסמכים</div>
		<ul>
			<li><a href="attachments">ארכיב מסמכים</a></li>
			<li><a href="contacts">אנשי קשר</a></li>
		</ul>
		<div class="listTitle">ניהול זמן</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">נייס האוס</div>
				<div class="panel-body">
					<ul>
						<li><a href="nhemployees/add">עובד חדש</a></li>
						<li><a href="lawyers">עורכי דין</a></li>
						<li><a href="nhbranch/add">פתיחת סניף חדש</a></li>
					</ul>
				</div>
			</div>
	
			<div class="panel panel-default">
				<div class="panel-heading">נייס האוס - הנהלה</div>
				<div class="panel-body">
					<ul>
						<li><a href="#">ריכוז מכירות לחודש לכל הסניפים</a></li>
						<li><a href="{% url 'nh-salary-list' %}">ריכוז שכר עובדי נייס האוס</a></li>
						<li><a href="{% url 'nh-salary-expenses' %}">ריכוז הוצאות שכר עובדי נייס האוס</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="panel-group">
		{% for b in nhbranches %}
			<div class="panel panel-default">
				<div class="panel-heading">{{b.name}}</div>
				<div class="panel-body">
					<ul>
						<li><a href="nhbranch/{{b.id}}">פרטי הסניף</a></li>
						<li><a href="nhbranch/{{b.id}}/nhsale/add">עסקה חדשה</a></li>
						<li><a href="nhbranch/{{b.id}}/sales">ריכוז מכירות לחודש</a></li>
						<li><a href="nhseasonincome/?nhbranch={{b.id}}">ריכוז הכנסה תקופתי</a></li>
					</ul>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">כלים</div>
			<div class="panel-body">
				<ul>
					<li><a href="">איתור דירה</a></li>
					<form method="GET" action="locatehouse" class="form-inline">
						{% for field in locateHouseForm %}
							{{ field|add_class:'form-control input-sm' }}
						{% endfor%}
						<input type="submit" class="btn btn-xs btn-primary" value="חפש" />
					</form>
				</ul>
				<ul>
					<li><a href="">איתור דרישה</a></li>
					<form method="GET" action="locatedemand" class="form-inline">
						{% for field in locateDemandForm %}
							{{ field|add_class:'form-control input-sm' }}
						{% endfor%}
						<input type="submit" class="btn btn-xs btn-primary" name="find" value="חפש" />
						<input type="submit" class="btn btn-xs btn-primary" name="pdf" value="PDF" />
					</form>
				</ul>
				<ul>
					<li><a href="">דו"ח מכירות לסוכן</a></li>
					<form method="GET" action="reports/employeesales" class="form-inline">
						{% for field in employeeSalesForm %}
							{{ field|add_class:'form-control input-sm' }}
						{% endfor%}
						<input type="submit" class="btn btn-xs btn-primary" value="PDF" />
					</form>
				</ul>
				<ul>
					<li><a href="">ריכוז משכורות לפי תקופה</a></li>
					<form method="GET" action="{% url 'salary-season' %}" class="form-inline">
						{% for field in employeeSalarySeasonForm %}
							{{ field|add_class:'form-control input-sm' }}
						{% endfor%}
						<input type="submit" class="btn btn-xs btn-primary" value="חפש" name="find" />
						<input type="submit" class="btn btn-xs btn-primary" value="PDF" name="pdf"/>
					</form>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearBoth"></div> 
{% endblock content %}