{% extends "../base.html" %}

{% load static %}

{% block scripts %}
{{block.super}}
<script>
	$(document).ready(function() {		
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
		$("#id_project, #id_year, #id_month").change(loadDetails);
	});
	function loadDetails()
	{
		var project = $("#id_project").val();
		var year = $("#id_year").val();
		var month = $("#id_month").val();
		$("#leftSide").empty();
		$.get("/demand_details/" + project + "/" + year + "/" + month, function(data){
			$("#leftSide").append(data);
		});
		$.get("/invoice_details/" + project + "/" + year + "/" + month, function(data){
			$("#leftSide").append(data);
		});
		$.get("/payment_details/" + project + "/" + year + "/" + month, function(data){
			$("#leftSide").append(data);
		});
	}
</script>
{% endblock scripts %}

{% block content %}
	<h3 class="text-center text-danger">חשבונית חדשה</h3>

	<div class="clearBoth"> </div>
	
	<div class="col-md-8">
		<form method="POST" class="form-horizontal">
			{% csrf_token %}
			
			{% include "Management/form_snippet.html" %}

			<div class="form-group">
				<div class="col-md-6 col-md-offset-4">
					<input type="submit" value="אישור" class="btn btn-sm btn-primary"/>
					<input name="addanother" type="submit" value="אישור והמשך הזנה" class="btn btn-sm btn-default"/>
					<input name="addpayment" type="submit" value="אישור והזנת תשלום" class="btn btn-sm btn-default"/>
				</div>
			</div>

		</form>
	</div>

	<div style="float:left; width:20%;">
			<fieldset class="cardFieldset">
				<ul>
					<li><a href="/payments/add">הזנת צ'ק רגיל</a></li>
					<li><a href="/splitpayment/add">הזנת צ'ק מפוצל</a></li>
					<li><a href="invoices/offset" class="fancybox">הקלדת זיכוי לחשבונית</a></li>
				</ul>
			</fieldset>
		</div>

	<div class="clearBoth"></div>
	
	{% include './demand_deals.html' %}

{% endblock content %}