{% extends "../base.html" %}

{% load static %}

{% block header %}
{{block.super}}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
		$("#id_project, #id_year, #id_month").change(loadDetails);
	});
	function loadDetails()
	{
		var project = $("#id_project").val();
		var year = $("#id_year").val();
		var month = $("#id_month").val();
		$("#leftSide").empty();
		$.get("/demand_details/" + project + "/" + year + "/" + month, function(data){
			$("#leftSide").append(data);
		});
		$.get("/invoice_details/" + project + "/" + year + "/" + month, function(data){
			$("#leftSide").append(data);
		});
		$.get("/payment_details/" + project + "/" + year + "/" + month, function(data){
			$("#leftSide").append(data);
		});
	}
</script>
{% endblock header %}
{% block content %}
	<h3 class="text-center text-danger">חשבונית חדשה</h3>
	<div class="clearBoth"> </div>
	<br /> 	
	<div style="float:left; width:20%;">
		<fieldset class="cardFieldset">
			<ul>
				<li><a href="/payments/add">הזנת צ'ק רגיל</a></li>
				<li><a href="/splitpayment/add">הזנת צ'ק מפוצל</a></li>
				<li><a href="invoices/offset" class="fancybox">הקלדת זיכוי לחשבונית</a></li>
			</ul>
		</fieldset>
	</div>
	<div id="rightSide">
		<form method="POST">
			<table class="formTable">
				{% include "Management/form_snippet.html" %}
				<tr>
					<td></td>
					<td>
						<input type="submit" value="אישור" class="button"/>
						<input name="addanother" type="submit" value="אישור והמשך הזנה" class="button"/>
						<input name="addpayment" type="submit" value="אישור והזנת תשלום" class="button"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="clearBoth"></div>
	
	{% include './demand_deals.html' %}

{% endblock content %}