{% extends "./base.html" %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
			{
				$("#linkEdit").attr("href", "/link/" + selectedID);
				$("#linkDelete").attr("href", "/link/" + selectedID + "/del");
			}
		});
		//add fancybox
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
	<div class="title">
		<div class="pageTitle">ניהול קישורים</div>
	</div>
	<div class="someIcon">
		<img src="/site_media/images/add_48.png" width="20" height="20"  alt="הוספה" /> 
		<a href="/link/add" class="fancybox" >הוספה</a>
	</div>
	<div class="someIcon">
		<img src="/site_media/images/edit_48.png" width="20" height="20"  alt="עריכה" /> 
		<a id="linkEdit" class="fancybox" >עריכה</a>
	</div>
	<div class="someIcon">
		<img src="/site_media/images/delete_48.png" width="20" height="20"  alt="מחיקה" /> 
		<a id="linkDelete">מחיקה</a>
	</div>
	<div class="clearBoth"> </div>
	<br /> 		
	<table class="dataTable" border="1">
		<th>שם</th>
		<th>כתובת</th>
		{% for link in object_list %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{link.id}}>
				<td><a href="/link/{{ link.id }}">{{ link.name }}</td>
				<td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}