{% extends "../base.html" %}

{% load static %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
			{
				$("#linkEdit").attr("href", "/link/" + selectedID);
				$("#linkDelete").attr("href", "/link/" + selectedID + "/del");
			}
		});
		//add fancybox
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
	<h3 class="text-center text-danger">ניהול קישורים</h3>

	<a href="/link/add" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> הוספה
	</a>
	<a id="linkEdit" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> עריכה
	</a>
	<a id="linkDelete" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
	</a>

	<div class="clearBoth"> </div>
	<br /> 		
	<table class="dataTable" border="1">
		<th>שם</th>
		<th>כתובת</th>
		{% for link in object_list %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{link.id}}>
				<td><a href="/link/{{ link.id }}">{{ link.name }}</td>
				<td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}