{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block scripts %}
{{ block.super }}
<script>
	var selectedID = 0;
	
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			
			if (selectedID > 0)
				$("tr[data-id='"+selectedID+"']").addClass('active');

			selectedID = tr.data('id');

			if (!selectedID)
				return;
				
			tr.addClass('active');

			//sync links
			if (selectedID > 0)
			{
				$("#objEdit").attr("href", selectedID);
				$("#objDelete").attr("href", selectedID + "/del");
			}
		});
	});
</script>
{% endblock scripts %}

{% block content %}
	<h3 class="text-center text-danger">ריכוז הלוואות לעובדים</h3>

	<a href="add" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> חדש
	</a>
	<a id="objEdit" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> שינוי
	</a>
	<a id="objDelete" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
	</a>

	<div class="clearBoth"> </div>
	<br /> 		
	<table class="table table-bordered table-striped table-condensed">
		<th>שם העובד</th>
		<th>תאריך ההלוואה</th>
		<th>סכום ההלוואה</th>
		<th>מס' תשלומים</th>
		<th>יתרה לתשלום</th>
		{% for loan in object_list %}
		{% if loan.employee.loan_left %}
			<tr data-id={{loan.id}}>
				<td><a href="/employees/{{ loan.employee.id }}">{{ loan.employee }}</td>
				<td>{{ loan.month }}/{{ loan.year }}</td>
				<td>{{ loan.amount|intcomma }} ש"ח</td>
				<td>{{ loan.pay_num }}</td>
				<td>{{ loan.employee.loan_left|intcomma }} ש"ח</td>
			</tr>
		{% endif %}
		{% endfor %}
	</table>
{% endblock content %}