{% extends "../base.html" %}

{% load static %}
{% load management_extras %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
			{
				$("#madadEdit").attr("href", selectedID);
				$("#madadDelete").attr("href", selectedID + "/del");
			}
		});
		//add fancybox
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
	<div class="title">
		<div class="pageTitle">מדד תשומות הבנייה למגורים</div>
	</div>
	<div class="someIcon">
		<img src="{% static "images/add_48.png" %}" width="20" height="20"  alt="חדש" /> 
		<a href="add" class="fancybox" >חדש</a>
	</div>
	<div class="someIcon">
		<img src="{% static "images/edit_48.png" %}" width="20" height="20"  alt="שינוי" /> 
		<a id="madadEdit" class="fancybox" >שינוי</a>
	</div>
	<div class="someIcon">
		<img src="{% static "images/delete_48.png" %}" width="20" height="20"  alt="מחיקה" /> 
		<a id="madadDelete">מחיקה</a>
	</div>
	<div class="clearBoth"> </div>
	<br /> 		
	<table class="dataTable" border="1">
		<th>חודש</th>
		<th>ת. פרסום</th>
		<th>מדד</th>
		<th>שינוי ב-%</th>
		{% for m in object_list %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{m.id}}>
				<td>{{ m.month }}/{{m.year}}</td>
				<td>{{ m.publish_date }}</td>
				<td><a class="fancybox" href="{{m.id}}">{{ m.value }}</a></td>
				<td>{{ m.diff|floatformat:1 }}%</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}