{% extends "../base.html" %}
{% load humanize %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("#salaryTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#salaryTable tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
				$("#edit").attr("href", tr.attr("/salary/" + selectedID + "/expenses"));
			});
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
<div class="title">
	<div class="pageTitle">הוצאות מעביד לשכר {{month|date:"M Y"}}</div>
</div>
<div class="clearBoth"></div>
<form method="GET">
	<table class="dataTable" style="width: 30%;" border="1">
		<tr class="row1">
			<td colspan="3" style="background-color: #0065BD; color: #FFFFFF; font-weight: bold;">חיפוש</td>
		</tr>
		<tr class="row2">
			{% for field in filterForm %}
			<td>
				{{ field.label_tag }} : 
				{{ field }}
			</td>
			{% endfor %}
			<td><input type="submit" value="חפש" class="button"/></td>
		</tr>
	</table>
</form>
<br>
<div class="someIcon">
	<i class="fa fa-edit" title='שינוי'></i> 
	<a id="edit" class="fancybox">עדכון</a>
</div>
<div style="float:left;">
	<table class="formTable" >
		<tr>
			<th>שכר אושר</th>
			<td style="width:20px; background-color:#BED1F3;"></td>
		</tr>
		<tr>
			<th>הוצאות שכר אושרו</th>
			<td style="width:20px; background-color:#A5BEEC;"></td>
		</tr>
		<tr>
			<th>שכר והוצאות שכר אושרו</th>
			<td style="width:20px; background-color:#739DE6;"></td>
		</tr>
	</table>
</div>
<div class="clearBoth"></div>
<table id="salaryTable" class="dataTable" border="1">
<caption>מציג סה"כ {{salaries|length}} עובדים</caption>
	<tr>
		<th></th>
		<th>שם העובד</th>
		<th>סוג<BR>העסקה</th>
		<th>תלוש<BR>נטו</th>
		<th>החזר<BR>הלוואה</th>
		<th>שווי<BR>צ'ק</th>
		<th>מס<BR>הכנסה</th>
		<th>ביטוח<BR>לאומי</th>
		<th>בריאות</th>
		<th>ביטוח<BR>פנסיה</th>
		<th>חופשה</th>
		<th>דמי<BR>הבראה</th>
		<th>סה"כ<BR>ברוטו<BR>לעובד</th>
		<th>ביטוח<BR>לאומי<BR>מעביד</th>
		<th>גמל<BR>מעביד</th>
		<th>הפרשה<BR>לפיצויים</th>
		<th>ברוטו<BR>כולל<BR>מעביד</th>
	</tr>
	{% regroup salaries by nhemployee.nhbranch as branch_list %}
	{% for branch in branch_list %}
		<tr style="text-align:center; color:#4669D6; font-size:14px"><td colspan="15"><b>{{branch.grouper|default:"-- לא הוגדר דרג --"}}</b></td></tr>
		{% for s in branch.list %}		
			{% if s.expenses.approved_date and s.approved_date %}
				<tr class="rowBlue" objid={{s.id}} employeeid={{s.get_employee.id}}>
			{% endif %}
			{% if not s.expenses.approved_date and not s.approved_date %}
				<tr class="{% cycle 'row1' 'row2' %}" objid={{s.id}} employeeid={{s.get_employee.id}}>
			{% endif %}
			{% if s.approved_date %}
				<tr class="rowMediumBlue" objid={{s.id}} employeeid={{s.get_employee.id}}>
			{% endif %}
			{% if s.expenses.approved_date %}
				<tr class="rowLightBlue" objid={{s.id}} employeeid={{s.get_employee.id}}>
			{% endif %}
			<td><a class="fancybox" href="/salary/{{s.id}}/expenses"><i class="fa fa-edit" title='עדכון'></i></a></td>
			<td><a href="{{s.get_employee.get_absolute_url}}">{{ s.get_employee }}</a></td>
			<td>{{s.get_employee.employment_terms.hire_type}}</td>
			<td>{{s.neto|default_if_none:""|intcomma}}</td>
			<td>{{s.loan_pay|intcomma}}</td>
			<td>{{s.check_amount|default_if_none:""|intcomma}}</td>
			{% with s.expenses as e %}
				<td>{{e.income_tax}}</td>
				<td>{{e.national_insurance}}</td>
				<td>{{e.health}}</td>
				<td>{{e.pension_insurance}}</td>
				<td>{{e.vacation}}</td>
				<td>{{e.convalescence_pay}}</td>
				<td style="background-color:#2990FF;">{{s.bruto|intcomma|default_if_none:""}}</td>
				<td>{{e.employer_national_insurance}}</td>
				<td>{{e.employer_benefit}}</td>
				<td>{{e.compensation_allocation}}</td>
				<td style="background-color:#2990FF;">{{s.bruto_with_employer|intcomma}}</td>
				<td>
					{% if e.approved_date %}
						{{e.approved_date}}
					{% else %}
						<a href="{{e.id}}/approve">אשר</a>
					{% endif %}
				</td>
			{% endwith %}
			</tr>
		{% endfor %}
	{% endfor %}
</table>
{% endblock content %}