{% extends "../base.html" %}

{% load static %}

{% block content %}
<h3 class="text-center text-danger">
	{% if form.instance.id %}
		{{form.instance.name}}
	{% else %}
		פתיחת סניף נייס האוס
	{% endif %}
</h3>
<div class="clearBoth"></div>
<div id="rightSide">
	<form method="POST">
		{% csrf_token %}
		<table class="formTable" cellspacing="5" align="center">
			{% include "Management/form_snippet.html" %}
		<tr>
			<td></td>
			<td><input name="finish" type="submit" value="אישור" class="button"/></td>
		</tr>
		</table>
	</form>
</div>
<div id="leftSide">
	<fieldset class="cardFieldset">
		<legend>יועצי נדל"ן</legend>
		<table style="width:90%;">
			{% for nhbe in form.instance.active_nhbranchemployees %}
			<tr>
				<td><a href="{{nhbe.nhemployee.get_absolute_url}}">{{nhbe.nhemployee}}</a></td>
				<td><a href="{{nhbe.get_absolute_url}}" class="fancybox">סיים העסקה בסניף</a></td>
			</tr>
		{% endfor %}
		</table>
		<a href="addnhemployee" class="fancybox">הוסף עובד לסניף</a>
	</fieldset>
</div>
<div class="clearBoth"></div>
{% endblock content%}