{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("table tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("table tr[employeeid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("employeeid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
				$("#loanPay").attr("href", "/nhemployees/" + selectedID + "/loanpay");
				$("#loanAdd").attr("href", "/nhemployees/" + selectedID + "/addloan");
				$("#calcSalary").attr("href", "" + tr.attr("objid") + "/calc");
				$("#approve").attr("href", "" + tr.attr("objid") + "/approve");
				$("#edit").attr("href", tr.attr("objid"));
				$("#expenses").attr("href", "/salary/" + tr.attr("objid") + "/expenses");
			});
		$(".fancybox").fancybox();
		$("#loanPay, #loanAdd, #edit").click(function (event) {
			if (!$(this).attr("href"))
				alert("לא נבחר עובד");
		});
		$("#calcSalary").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך לחשב את העמלות מחדש ?"))
				event.preventDefault();
		});
	});
</script>
{% endblock header %}
{% block content %}
<h3 class="text-center text-danger">ריכוז שכר עובדי נייס האוס לחודש {{month|date:"M Y"}}</h3>
<div class="clearBoth"></div>
<form method="GET">
	<table class="dataTable" style="width: 30%;" border="1">
		<tr class="row1">
			<td colspan="3" style="background-color: #0065BD; color: #FFFFFF; font-weight: bold;">חיפוש</td>
		</tr>
		<tr class="row2">
			{% for field in filterForm %}
			<td>
				{{ field.label_tag }} : 
				{{ field }}
			</td>
			{% endfor %}
			<td><input type="submit" value="חפש" class="button"/></td>
		</tr>
	</table>
</form>
<br>
<div class="btn-group" role="group">
	<a id="loanAdd" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle"></i> הלוואה חדשה
	</a>
	<a id="loanPay" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> קיזוז הלוואה
	</a>
</div>

<div class="btn-group" role="group">
	<a id="edit" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> שינוי מרכיבי שכר - חד פעמי
	</a>
	<a id="expenses" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> הוצאות שכר
	</a>
</div>

<div class="btn-group" role="group">
	<a id="calcSalary" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-calculator"></i> חישוב עמלות מחדש
	</a>
	<a id="approve" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-check"></i> אישור שכר לתשלום
	</a>
</div>

<div class="clearBoth"></div>

{% for branch, salaries in branch_list.items %}
	<a href="/nhbranch/{{branch.id}}/sales?year={{month.year}}&month={{month.month}}" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-home"></i> ריכוז עסקאות
	</a>
	<a href="{{branch.id}}/{{month.year}}/{{month.month}}/pdf" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-print"></i> גרסת הדפסה
	</a>
	<a href="{{branch.id}}/{{month.year}}/{{month.month}}/send" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-print"></i> שלח להנה"ח
	</a>

	<div class="clearBoth"></div>

	<table class="dataTable" border="1">
	<caption>{{branch}}</caption>
		<tr>
			<th></th>
			<th>שם<br>העובד</th>
			<th>סוג<br>העסקה</th>
			<th>שכר<br>בסיס+<br>עמלות</th>
			<th>עמלת<br>ניהול</th>
			<th>רשת<br>בטחון</th>
			<th>תוספת<br>משתנה</th>
			<th>קיזוז<br>שכר</th>
			<th>סה"כ<br>שווי<br>תלוש</th>
			<th>שווי<br>חשבונית</th>
			<th>ניכוי<br>מס</th>
			<th>החזר<br>הלוואה</th>
			<th>שווי<br>צ'ק</th>
			<th>ברוטו<br>לחישוב</th>
			<th>החזר<br>הוצאות<br>(בנפרד)</th>
			<th>חופש<br>ומחלה</th>
			<th>הערות</th>
			<th>ת.אישור</th>
			<th>ת.שליחה<br>להנה"ח</th>
			<th>ת.שליחה<br>לצ'קים</th>
		</tr>
		{% for s in salaries %}
		{% if s.approved_date %}
		<tr class="row5" objid={{s.id}} employeeid={{s.nhemployee.id}}>
		{% else %}
		<tr class="{% cycle 'row1' 'row2' %}" objid={{s.id}} employeeid={{s.nhemployee.id}}>
		{% endif %}
			<td><a class="fancybox" href="{{s.id}}"><i class="fa fa-edit" title='שינוי מרכיבי שכר'></i></a></td>
			<td><a href="{{s.nhemployee.get_absolute_url}}" target="_blank">{{ s.nhemployee }}</a></td>
			<td>
				{{s.nhemployee.employment_terms.hire_type}}
				{% if not s.nhemployee.employment_terms.include_tax %}
					<br>
					מע"מ : 
					{{s.nhemployee.employment_terms.include_tax|yesno}}
				{% endif %}
			</td>
			<td style="color:#08A600;">
				{{s.base|default_if_none:""}} + 
				<a href="{{s.id}}/details" class="fancybox">{{s.commissions|default_if_none:""|intcomma}}</a>
			</td>
			<td style="color:#08A600;">
				{% if s.admin_commission %}
				<a href="{{s.id}}/details" class="fancybox">{{s.admin_commission|intcomma}}</a>
				{% endif %}
			</td>
			<td style="color:#08A600;">{{s.safety_net|default_if_none:""}}</td>
			<td style="color:#08A600;">{% if s.var_pay %}{{s.var_pay}} ש"ח {% endif %}</td>
			<td style="color:#D50808;">{% if s.deduction %}{{s.deduction}} - {{s.deduction_type}} {% endif %}</td>
			<td><a href="{{s.id}}/totaldetails" class="fancybox">{{s.neto|default_if_none:""|intcomma}}</a></td>
			<td></td>
			<td></td>
			<td>
				<span style="color:#BF0000;">{{s.loan_pay|intcomma}}</span>
				<br>
				{% if s.nhemployee.loan_left %}
				יתרה - {{s.nhemployee.loan_left|intcomma}}
				<br>
				{% endif %}
				{% if s.nhemployee.loans_and_pays|length %}
				<a href="{{s.nhemployee.get_absolute_url}}/loans" class="fancybox">כרטיס הלוואות</a><br>
				{% endif %}
			</td>
			<td><a href="{{s.id}}/checkdetails" class="fancybox">{{s.check_amount|default_if_none:""|intcomma}}</a></td>
			<td>{{s.bruto|default_if_none:""|intcomma}}</td>
			<td>{% if s.refund %}{{s.refund}} - {{s.refund_type}} {% endif %}</td>
			<td></td>
			<td>{{s.remarks|default_if_none:""}}</td>			
			<td>
			{% if s.approved_date %}
				{{s.approved_date|date:"j/m/y"}}
			{% else %}
				<a href="{{s.id}}/approve">אשר</a>
			{% endif %}
			</td>
			<td>{{s.sent_to_bookkeeping_date|default_if_none:""|date:"j/m/y"}}</td>
			<td>{{s.sent_to_checks_date|default_if_none:""|date:"j/m/y"}}</td>
		</tr>
		{% endfor %}
	</table>
{% endfor %}
{% endblock content %}