{% extends "../template.html" %}

{% load static %}

{% block scripts %}
<script>
	$(document).ready(function() {		
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock scripts %}

{% block page %}
<div id="content">
	<h3 class="text-center text-danger">עדכון שכר לעובד</h3>
	<div class="clearBoth"> </div>
	<br /> 	
	<form method="POST" class="form-horizontal">
		{% csrf_token %}
		<table class="formTable">
			<tr>
				<th>שנה</th>
				<td>{{form.instance.year}}
			</tr>
			<tr>
				<th>חודש</th>
				<td>{{form.instance.month}}
			</tr>
			<tr>
				<th>עמלת ניהול</th>
				<td>{{form.instance.admin_commission}}
			</tr>
			{% include "Management/form_snippet.html" %}
			<tr>
				<td></td>
				<td><input type="submit" value="אישור" class="btn btn-sm btn-primary"/></td>
			</tr>
		</table>
	</form>
</div>
{% endblock page %}