{% extends "../base.html" %}
{% block header %}
{{block.super}}
<script>
var p = 0;
var ac1 = 0;
var ac2 = 0;
var fields = new Array("employee1", "employee2", "employee3", "director");
var priceInput, actualCommission1, actualCommission2;

$(document).ready(function() {	
	$("#payments1 tr").each(function(index, element) {
		if (index > 1)
			$(element).hide();
	});
	$("#payments2 tr").each(function(index, element) {
		if (index > 1)
			$(element).hide();
	});
	$("#payment1count").change(function() {
		var payments1count = $(this).val();
		$("#payments1 tr").each(function(index, element) {
			if (index > payments1count)
				$(element).hide();
			else
				$(element).show();
		});
	});
	$("#payment2count").change(function() {
		var payments2count = $(this).val();
		$("#payments2 tr").each(function(index, element) {
			if (index > payments2count)
				$(element).hide();
			else
				$(element).show();
		});
	});
	priceInput = $("#id_sale-price");
	actualCommission1 = $("#id_side1-actual_commission");
	actualCommission2 = $("#id_side2-actual_commission");

	$("#id_side1-employee1_commission").change(function () {
		$("#id_side1-employee1_pay").attr("value", p * ac1/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side2-employee1_commission").change(function () {
		$("#id_side2-employee1_pay").attr("value", p * ac2/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side1-employee2_commission").change(function () {
		$("#id_side1-employee2_pay").attr("value", p * ac1/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side2-employee2_commission").change(function () {
		$("#id_side2-employee2_pay").attr("value", p * ac2/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side1-employee3_commission").change(function () {
		$("#id_side1-employee3_pay").attr("value", p * ac1/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side2-employee3_commission").change(function () {
		$("#id_side2-employee3_pay").attr("value", p * ac2/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side1-director_commission").change(function () {
		$("#id_side1-director_pay").attr("value", p * ac1/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side2-director_commission").change(function () {
		$("#id_side2-director_pay").attr("value", p * ac2/ 100 * parseFloat($(this).val())/100);
	});
	$("#id_side1-income").change(function() {
		actualCommission1.attr("value", parseInt($(this).val()) / p * 100);
		updateValues();
		for (var i = 0; i < fields.length; i++)
			$("#id_side1-" + fields[i] + "_pay").attr("value", p * ac1/ 100 * parseFloat($("#id_side1-" + fields[i] + "_commission").val())/100);
	});
	$("#id_side2-income").change(function() {
		actualCommission2.attr("value", parseInt($(this).val()) / p * 100);
		updateValues();
		for (var i = 0; i < fields.length; i++)
			$("#id_side2-" + fields[i] + "_pay").attr("value", p * ac2 / 100 * parseFloat($("#id_side2-" + fields[i] + "_commission").val())/100);

	});
	actualCommission1.change(function () {
		updateValues();
		for (var i = 0; i < fields.length; i++)
			$("#id_side1-" + fields[i] + "_pay").attr("value", p * ac1/ 100 * parseFloat($("#id_side1-" + fields[i] + "_commission").val())/100);
		$("#id_side1-income").attr("value", p*ac1/100);
	});
	actualCommission2.change(function () {
		updateValues();
		for (var i = 0; i < fields.length; i++)
			$("#id_side2-" + fields[i] + "_pay").attr("value", p * ac2 / 100 * parseFloat($("#id_side2-" + fields[i] + "_commission").val())/100);
		$("#id_side2-income").attr("value", p*ac2/100);
	});
	priceInput.change(function () {
		updateValues();
		for (var i = 0; i < fields.length; i++)
		{
			$("#id_side1-" + fields[i] + "_pay").attr("value", p * ac1 / 100 * parseFloat($("#id_side1-" + fields[i] + "_commission").val()) / 100);
			$("#id_side2-" + fields[i] + "_pay").attr("value", p * ac2 / 100 * parseFloat($("#id_side2-" + fields[i] + "_commission").val()) / 100);
		}
		$("#id_side1-income").attr("value", p*ac1/100);
		$("#id_side2-income").attr("value", p*ac2/100);
	});
});
function updateValues() {
	if (priceInput.val())
		p = parseFloat(priceInput.val());
	if (actualCommission1.val())
		ac1 = parseFloat(actualCommission1.val());
		if (!ac1)
			ac1=0;
	if (actualCommission2.val())
		ac2 = parseFloat(actualCommission2.val());
		if (!ac2)
			ac2=0;
}
</script>
{% endblock header %}
{% block content %}
	<div class="title">
		<div class="pageTitle">
			{% if form.instance.id %}
				עדכון מכירה מס' 
				{{form.instance.id}}
			{% else %}
				מכירה חדשה
			{% endif %}
		</div>
	</div>
	<br>
	<form method="POST">
	<div style="width:90%; margin:auto;">
	<table class="formTable">
		<tr>
			<th>{{ monthForm.nhbranch.label_tag }}</th>
			<td>
				{{ monthForm.nhbranch }}
				{% if monthForm.nhbranch.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{monthForm.nhbranch.errors|join:""}}'/>{% endif %}
			</td>
			<th>{{ monthForm.year.label_tag }}</th>
			<td>
				{{ monthForm.year }}
				{% if monthForm.year.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{monthForm.year.errors|join:""}}'/>{% endif %}
			</td>
			<th>{{ monthForm.month.label_tag }}</th>
			<td>
				{{ monthForm.month }}
				{% if monthForm.month.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{monthForm.month.errors|join:""}}'/>{% endif %}
			</td>
		</tr>
	</table>
	<fieldset class="cardFieldset">
		<legend>פרטי הנכס</legend>
		<table cellspacing="2" cellpadding="2" class="formTable" align="center">
			<tr>
				<td>{{ saleForm.id }}</td>
				<td></td>
				<th>{{ saleForm.num.label_tag }}</th>
				<td>
					{{ saleForm.num }}
					{% if saleForm.num.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.num.errors|join:""}}'/>{% endif %}
				</td>
			</tr>
			<tr>
				<th>{{ saleForm.address.label_tag }}</th>
				<td>
					{{ saleForm.address }}
					{% if saleForm.address.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.address.errors|join:""}}'/>{% endif %}
				</td>
				<th>{{ saleForm.hood.label_tag }}</th>
				<td>
					{{ saleForm.hood }}
					{% if saleForm.hood.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.hood.errors|join:""}}'/>{% endif %}
				</td>
				<th>{{ saleForm.type.label_tag }}</th>
				<td>
					{{ saleForm.type }}
					{% if saleForm.type.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.type.errors|join:""}}'/>{% endif %}
				</td>
				<th>{{ saleForm.rooms.label_tag }}</th>
				<td>
					{{ saleForm.rooms }}
					{% if saleForm.rooms.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.rooms.errors|join:""}}'/>{% endif %}
				</td>
			</tr>
			<tr>
				<th>{{ saleForm.floor.label_tag }}</th>
				<td>
					{{ saleForm.floor }}
					{% if saleForm.floor.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.floor.errors|join:""}}'/>{% endif %}
				</td>
				<th>{{ saleForm.sale_date.label_tag }}</th>
				<td>
					{{ saleForm.sale_date }}
					{% if saleForm.sale_date.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.sale_date.errors|join:""}}'/>{% endif %}
				</td>
				<th>{{ saleForm.price.label_tag }}</th>
				<td>
					{{ saleForm.price }}
					{% if saleForm.price.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.price.errors|join:""}}'/>{% endif %}
				</td>
				<th>{{ saleForm.remarks.label_tag }}</th>
				<td>
					{{ saleForm.remarks }}
					{% if saleForm.remarks.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{saleForm.remarks.errors|join:""}}'/>{% endif %}
				</td>
			</tr>
		</table>
	</fieldset>
	</div>
	<div>
		<fieldset class="cardFieldset">
			<legend>בעל הנכס\משכיר</legend>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">
				<tr>
					<td></td>
					<th>פרטים<th>
				</tr>
				<tr>
					<td>{{ side1form.id }}</td>
				</tr>
				<tr>
					<th>{{ side1form.sale_type.label_tag }}</th>
					<td>
						{{ side1form.sale_type }}
						{% if side1form.sale_type.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.sale_type.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.name1.label_tag }}</th>
					<td>
						{{ side1form.name1 }}
						{% if side1form.name1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.name1.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.name2.label_tag }}</th>
					<td>
						{{ side1form.name2 }}
						{% if side1form.name2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.name2.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.phone1.label_tag }}</th>
					<td>
						{{ side1form.phone1 }}
						{% if side1form.phone1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.phone1.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.phone2.label_tag }}</th>
					<td>
						{{ side1form.phone2 }}
						{% if side1form.phone2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.phone2.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.address.label_tag }}</th>
					<td>
						{{ side1form.address }}
						{% if side1form.address.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.address.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">	
				<tr>
					<td></td>
					<th>נתוני עמלה<th>
				</tr>		
				<tr>
					<th>{{ side1form.signed_commission.label_tag }}</th>
					<td>
						{{ side1form.signed_commission }}
						{% if side1form.signed_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.signed_commission.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.actual_commission.label_tag }}</th>
					<td>
						{{ side1form.actual_commission }}
						{% if side1form.actual_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.actual_commission.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.income.label_tag }}</th>
					<td>
						{{ side1form.income }}
						{% if side1form.income.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.income.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.voucher_num.label_tag }}</th>
					<td>
						{{ side1form.voucher_num }}
						{% if side1form.voucher_num.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.voucher_num.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.voucher_date.label_tag }}</th>
					<td>
						{{ side1form.voucher_date }}
						{% if side1form.voucher_date.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.voucher_date.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.temp_receipt_num.label_tag }}</th>
					<td>
						{{ side1form.temp_receipt_num }}
						{% if side1form.temp_receipt_num.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.temp_receipt_num.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.employee_remarks.label_tag }}</th>
					<td>
						{{ side1form.employee_remarks }}
						{% if side1form.employee_remarks.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.employee_remarks.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">	
				<tr>
					<td></td>
					<th>פרטי חשבונית</th>
				</tr>
				{% for field in invoice1Form %}
				<tr>
					<th>{{ field.label_tag }}</th>
					<td>
						{{ field }}
						{% if field.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{field.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
			</div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">
				<tr>
					<td></td>
					<th>עו"ד</th>
				</tr>
				<tr>
					<th>{{ side1form.lawyer1.label_tag }}</th>
					<td>
						{{ side1form.lawyer1 }}
						{% if side1form.lawyer1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.lawyer1.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.lawyer1_pay.label_tag }}</th>
					<td>
						{{ side1form.lawyer1_pay }}
						{% if side1form.lawyer1_pay.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.lawyer1_pay.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.lawyer2.label_tag }}</th>
					<td>
						{{ side1form.lawyer2 }}
						{% if side1form.lawyer2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.lawyer2.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.lawyer2_pay.label_tag }}</th>
					<td>
						{{ side1form.lawyer2_pay }}
						{% if side1form.lawyer2_pay.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.lawyer2_pay.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">
				<tr>
					<td></td>
					<th>יועצי נדל"ן</th>
				</tr>
				<tr>
					<th>{{ side1form.employee1.label_tag }}</th>
					<td>
						{{ side1form.employee1 }}
						{% if side1form.employee1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.employee1.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side1form.employee2.label_tag }}</th>
					<td>
						{{ side1form.employee2 }}
						{% if side1form.employee2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.employee2.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side1form.employee3.label_tag }}</th>
					<td>
						{{ side1form.employee3 }}
						{% if side1form.employee3.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.employee3.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side1form.director.label_tag }}</th>
					<td>
						{{ side1form.director }}
						{% if side1form.director.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.director.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side1form.signing_advisor.label_tag }}</th>
					<td>
						{{ side1form.signing_advisor }}
						{% if side1form.signing_advisor.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.signing_advisor.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side1form.employee1_commission.label_tag }}</th>
					<td>
						{{ side1form.employee1_commission }}
						{% if side1form.employee1_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.employee1_commission.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side1form.employee2_commission.label_tag }}</th>
					<td>
						{{ side1form.employee2_commission }}
						{% if side1form.employee2_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.employee2_commission.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side1form.employee3_commission.label_tag }}</th>
					<td>
						{{ side1form.employee3_commission }}
						{% if side1form.employee3_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.employee3_commission.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side1form.director_commission.label_tag }}</th>
					<td>
						{{ side1form.director_commission }}
						{% if side1form.director_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.director_commission.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>עמלה בש"ח</th>
					<td><input id="id_side1-employee1_pay" type="text" readonly="readonly"/></td>
					<th>עמלה בש"ח</th>
					<td><input id="id_side1-employee2_pay" type="text" readonly="readonly"/></td>
					<th>עמלה בש"ח</th>
					<td><input id="id_side1-employee3_pay" type="text" readonly="readonly"/></td>
					<th>עמלה בש"ח</th>
					<td><input id="id_side1-director_pay" type="text" readonly="readonly"/></td>
				</tr>
				<tr>
					<th>{{ side1form.remarks.label_tag }}</th>
					<td>
						{{ side1form.remarks }}
						{% if side1form.remarks.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.remarks.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div class="clearBoth"></div>
			<div style="float:right;">
				מס' תשלומים 
				<select id="payment1count">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				{{payment1Forms.management_form}}
				<table id="payments1" style="float:right;" cellspacing="2" cellpadding="2" class="formTable">
				{% for field in payment1Forms.forms.0 %}
					<th>{% if not field.is_hidden %}{{ field.label_tag }}{% endif %}</th>
				{% endfor %}
				{% for payment1Form in payment1Forms.forms %}
					<tr>
						{% for field in payment1Form %}
							<td>
								{{ field }}
								{% if field.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{field.errors|join:""}}'/>{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</table>
			</div>
		</fieldset>
	</div>
	<div>
		<fieldset class="cardFieldset">
			<legend>רוכש\שוכר</legend>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">
				<tr>
					<td></td>
					<th>פרטים<th>
				</tr>
				<tr>
					<td>{{ side2form.id }}</td>
				</tr>
				<tr>
					<th>{{ side2form.sale_type.label_tag }}</th>
					<td>
						{{ side2form.sale_type }}
						{% if side2form.sale_type.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.sale_type.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.name1.label_tag }}</th>
					<td>
						{{ side2form.name1 }}
						{% if side2form.name1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.name1.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.name2.label_tag }}</th>
					<td>
						{{ side2form.name2 }}
						{% if side2form.name2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.name2.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.phone1.label_tag }}</th>
					<td>
						{{ side2form.phone1 }}
						{% if side2form.phone1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.phone1.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.phone2.label_tag }}</th>
					<td>
						{{ side2form.phone2 }}
						{% if side2form.phone2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.phone2.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.address.label_tag }}</th>
					<td>
						{{ side2form.address }}
						{% if side2form.address.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.address.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">	
				<tr>
					<td></td>
					<th>נתוני עמלה<th>
				</tr>		
				<tr>
					<th>{{ side2form.signed_commission.label_tag }}</th>
					<td>
						{{ side2form.signed_commission }}
						{% if side2form.signed_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.signed_commission.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.actual_commission.label_tag }}</th>
					<td>
						{{ side2form.actual_commission }}
						{% if side2form.actual_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.actual_commission.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.income.label_tag }}</th>
					<td>
						{{ side2form.income }}
						{% if side2form.income.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side1form.side2form.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.voucher_num.label_tag }}</th>
					<td>
						{{ side2form.voucher_num }}
						{% if side2form.voucher_num.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.voucher_num.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.voucher_date.label_tag }}</th>
					<td>
						{{ side2form.voucher_date }}
						{% if side2form.voucher_date.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.voucher_date.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.temp_receipt_num.label_tag }}</th>
					<td>
						{{ side2form.temp_receipt_num }}
						{% if side2form.temp_receipt_num.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.temp_receipt_num.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.employee_remarks.label_tag }}</th>
					<td>
						{{ side2form.employee_remarks }}
						{% if side2form.employee_remarks.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.employee_remarks.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">	
				<tr>
					<td></td>
					<th>פרטי חשבונית</th>
				</tr>
				{% for field in invoice2Form %}
				<tr>
					<th>{{ field.label_tag }}</th>
					<td>
						{{ field }}
						{% if field.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{field.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
			</div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">
				<tr>
					<td></td>
					<th>עו"ד</th>
				</tr>
				<tr>
					<th>{{ side2form.lawyer1.label_tag }}</th>
					<td>
						{{ side2form.lawyer1 }}
						{% if side2form.lawyer1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.lawyer1.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.lawyer1_pay.label_tag }}</th>
					<td>
						{{ side2form.lawyer1_pay }}
						{% if side2form.lawyer1_pay.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.lawyer1_pay.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.lawyer2.label_tag }}</th>
					<td>
						{{ side2form.lawyer2 }}
						{% if side2form.lawyer2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.lawyer2.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.lawyer2_pay.label_tag }}</th>
					<td>
						{{ side2form.lawyer2_pay }}
						{% if side2form.lawyer2_pay.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.lawyer2_pay.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div class="clearBoth"></div>
			<div style="float:right;">
			<table cellspacing="2" cellpadding="2" class="formTable">
				<tr>
					<td></td>
					<th>יועצי נדל"ן</th>
				</tr>
				<tr>
					<th>{{ side2form.employee1.label_tag }}</th>
					<td>
						{{ side2form.employee1 }}
						{% if side2form.employee1.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.employee1.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side2form.employee2.label_tag }}</th>
					<td>
						{{ side2form.employee2 }}
						{% if side2form.employee2.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.employee2.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side2form.director.label_tag }}</th>
					<td>
						{{ side2form.director }}
						{% if side2form.director.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.director.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side2form.signing_advisor.label_tag }}</th>
					<td>
						{{ side2form.signing_advisor }}
						{% if side2form.signing_advisor.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.signing_advisor.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ side2form.employee1_commission.label_tag }}</th>
					<td>
						{{ side2form.employee1_commission }}
						{% if side2form.employee1_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.employee1_commission.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side2form.employee2_commission.label_tag }}</th>
					<td>
						{{ side2form.employee2_commission }}
						{% if side2form.employee2_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.employee2_commission.errors|join:""}}'/>{% endif %}
					</td>
					<th>{{ side2form.director_commission.label_tag }}</th>
					<td>
						{{ side2form.director_commission }}
						{% if side2form.director_commission.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.director_commission.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>עמלה בש"ח</th>
					<td><input id="id_side2-employee1_pay" type="text" readonly="readonly"/></td>
					<th>עמלה בש"ח</th>
					<td><input id="id_side2-employee2_pay" type="text" readonly="readonly"/></td>
					<th>עמלה בש"ח</th>
					<td><input id="id_side2-director_pay" type="text" readonly="readonly"/></td>
				</tr>
				<tr>
					<th>{{ side2form.remarks.label_tag }}</th>
					<td>
						{{ side2form.remarks }}
						{% if side2form.remarks.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{side2form.remarks.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
			</table>
			</div>
			<div class="clearBoth"></div>
			<div style="float:right;">
				מס' תשלומים 
				<select id="payment2count">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				{{payment2Forms.management_form}}
				<table id="payments2" style="float:right;" cellspacing="2" cellpadding="2" class="formTable">
				{% for field in payment2Forms.forms.0 %}
					<th>{% if not field.is_hidden %}{{ field.label_tag }}{% endif %}</th>
				{% endfor %}
				{% for payment2Form in payment2Forms.forms %}
					<tr>
						{% for field in payment2Form %}
							<td>
								{{ field }}
								{% if field.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{field.errors|join:""}}'/>{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</table>
			</div>
		</fieldset>
	<div style="text-align:center; color:#9F0000;">
		<b>יש לדאוג שהשקים יהיו לפקודת "נווה העיר 2007 בע"מ"</b>
	</div>
	</div>
		<input name="addanother" type="submit" value="שמור והמשך בהזנה" class="button" />
		<input name="tomonth" type="submit" value="שמור ועבור לריכוז עסקאות" class="button" />
	</form>
	<div class="clearBoth"></div> 
{% endblock content %}