{% extends "../template.html" %}
{% load static %}
{% block header %}
<script>
	$(document).ready(function() {
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock header %}
{% block page %}
<div id="content">	
	{% if title %}
	<h3 class="text-center text-danger">{{title}}</h3>
	<div class="clearBoth"></div>
	{% endif %}
	<form method="POST" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}

		{% include "Management/form_snippet.html" %}

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="אישור" class="btn btn-sm btn-default"/>
				<input name="addanother" type="submit" value="אישור והמשך הזנה" class="btn btn-sm btn-default"/>
			</div>
		</div>

	</form>
</div>
{% endblock page %}