{% extends "../template.html" %}

{% load static %}

{% block header %}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock header %}
{% block page %}
<div id="content">
	<form method="POST" class="formTable">
		{% if form %}
			<table class="formTable">
				{{ form }} 
			</table>
		{% endif %}
		{{ formset.management_form }}
		<table class="formTable">
			{% for field in formset.forms.0 %}
				<th>{% if not field.is_hidden %}{{ field.label_tag }}{% endif %}</th>
			{% endfor %}
			{% for f in formset.forms %}
				<tr>
					{% for field in f %}
						<td>
							{{field}}
							{% if field.errors %}<img src="{% static "images/error-48.png" %}" width="15" height="15" title='{{field.errors|join:""}}'/>{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<input type="submit" value="אישור" class="button"/>
	</form>
</div>
{% endblock page %}