{% extends "../base.html" %}

{% block header %}
<script>
	var selectedID = 0;
	var prevClass;
	$(document).ready(function () {
		$("#attachmentTable tr").click(function() {
			var tr = $(this);
			if (selectedID > 0)
				$("#attachmentTable tr[objid='"+selectedID+"']").attr("class", prevClass);
			selectedID = tr.attr("objid");
			if (!selectedID) return;
			prevClass = tr.attr("class");
			tr.attr("class","selectedRow");
			if (selectedID > 0)
			{//sync links
				$("#attachmentEdit").attr("href", "/attachment/" + selectedID);
				$("#attachmentDelete").attr("href", "/attachment/" + selectedID + "/del");
			}
		});
	});
</script>
{% endblock header %}

{% block content %}
	<h3 class="text-center text-danger">ארכיב מסמכים - {{obj}}</h3>
	<div class="someIcon">
		<img src="{% static "images/add_48.png" %}" width="20" height="20"  alt="הוספה" /> 
		<a href="/attachment/add">הוספה</a>
	</div>
	<div class="someIcon">
		<i class="fa fa-edit" title='עריכה'></i> 
		<a id="attachmentEdit" class="fancybox" >עריכה</a>
	</div>
	<div class="someIcon">
		<img src="{% static "images/delete_48.png" %}" width="20" height="20"  alt="מחיקה" /> 
		<a id="attachmentDelete">מחיקה</a>
	</div>
	<div class="clearBoth"> </div>
	<br /> 		
	<table id="attachmentTable" class="dataTable" border="1">
		<tr>
			<th>תאריך</th>
			<th>סוג</th>
			<th>שם השולח\נשלח</th>
			<th>שם המכתב</th>
			<th>משתמש מוסיף</th>
			<th>גודל</th>
			<th>הערות</th>
			<th>תגיות נושא</th>
		</tr>
		{% for a in attachments %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{a.id}}>
				<td>{{ a.add_time }}</td>
				<td>{{a.type}}</td>
				<td>{{ a.sr_name }}</td>
				<td><a href="{{a.file.url}}" target="_blank">{{ a.file.name }}</a></td>
				<td>{{ a.user_added }}</td>
				<td>{{a.file.size|filesizeformat}}</td>
				<td>{{a.remarks}}</td>
				<td>{{a.tags.all|join:", "}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}