{% extends "../template.html" %}

{% load static %}

{% block scripts %}
<script>
	$(document).ready(function() {
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock scripts %}

{% block page %}
<div id="content">
	<form method="POST" class="formTable">
		{% csrf_token %}
		{% if form %}
			<table class="formTable">
				{{ form }} 
			</table>
		{% endif %}
		{{ formset.management_form }}
		<table class="formTable">
			{% for field in formset.forms.0 %}
				<th>{% if not field.is_hidden %}{{ field.label_tag }}{% endif %}</th>
			{% endfor %}
			{% for f in formset.forms %}
				<tr>
					{% for field in f %}
						<td>
							{{field}}
							{% if field.errors %}<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<input type="submit" value="אישור" class="button"/>
	</form>
</div>
{% endblock page %}