{% extends "../template.html" %}
{% load static %}
{% load humanize %}
{% block page %}
<div id="content">
	<h3 class="text-center text-danger">
		דרישות לפרוייקט {{project}}<br>הוצאה חשבונית ולא התקבל צ'ק
	</h3>
	<div class="clearBoth"> </div>
	<br />
	<table class="table table-bordered table-striped table-condensed">
		<tr>
			<th>מס"ד</th>
			<th>PDF</th>
			<th>חודש</th>
			<th>חוזים</th>
			<th>סכום חוזים</th>
			<th>סכום דרישה</th>
			<th>פרטי<BR>חשבונית</th>
			<th>תיקון</th>
			<th>תזכורות להמשך טיפול</th>
		</tr>
		{% for d in demands %}
			<tr>
				<td><a target="_blank" href="{% url 'demand-edit' object_id=d.id %}">{{d.id}}</a></td>
				<td>
					<a href="/reports/project_month/{{d.project.id}}/{{d.year}}/{{d.month}}">
					<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
					</a>
				</td>
				<td>{{ d.month }}/{{ d.year }}</td>
				<td><a href="/demandsales/?demand_id={{d.id}}">{{d.sales_count}}</a></td>
				<td>{{ d.sales_amount }}</td>
				<td>{{ d.total_amount }}</td>
				<td>
				{% for i in d.invoices.all %}
					<a href="/invoices/{{i.id}}" target="_blank">{{i.amount|intcomma}}</a><br>
				{% endfor %}
				</td>
				<td>
				{% if d.is_fixed %}
				 <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
				{% endif %}
				</td>
				<td>
				{% for r in d.open_reminders %}
					{{ r.content|truncatewords:5 }}
					<a href="{{r.get_absolute_url}}"><i class="fa fa-fw fa-info-circle text-primary"></i></a>
					<a href="{{r.get_absolute_url}}/do"><img src="{% static "images/thumbs_up_48.png" %}" width="15" height="15" alt="בצע" border="0" /></a>
					<br>
				{% endfor %}
					<a href="/demands/{{d.id}}/addreminder" class="fancybox">
						<i class="fa fa-fw fa-plus-circle text-success"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock page %}
