{% extends "../template.html" %}
{% load static %}
{% load management_extras %}
{% block page %}
<div id="content">
	<div class="title">
		<div class="pageTitle">דרישות לפרוייקט {{project}}<br>הוצאה חשבונית ולא התקבל צ'ק</div>
	</div>
	<div class="clearBoth"> </div>
	<br /> 		
	<table id="attachmentTable" class="dataTable" border="1">
		<tr>
			<th></th>
			<th>PDF</th>
			<th>חודש</th>
			<th>חוזים</th>
			<th>סכום חוזים</th>
			<th>סכום דרישה</th>
			<th>פרטי<BR>חשבונית</th>
			<th>תיקון</th>
			<th>תזכורות להמשך טיפול</th>
		</tr>
		{% for d in demands %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{a.id}}>
				<td><a target="_blank" href="/demands/{{d.id}}"><img src="{% static "images/documentinfo-48.png" %}" width="15" height="15" alt="פרטים" border="0" /></a></td>
				<td>
					<a href="/reports/project_month/{{d.project.id}}/{{d.year}}/{{d.month}}">
					<img src="{% static "images/PDF-48.png" %}" width="15" height="15"/>
					</a>
				</td>
				<td>{{ d.month }}/{{ d.year }}</td>
				<td><a href="/demandsales/?demand_id={{d.id}}">{{d.get_sales.count}}</a></td>
				<td>{{ d.get_sales_amount }}</td>
				<td>{{ d.get_total_amount }}</td>
				<td>
				{% for i in d.invoices.all %}
					<a href="/invoices/{{i.id}}" target="_blank">{{i.amount|commaise}}</a><br>
				{% endfor %}
				</td>
				<td>
				{% if d.is_fixed %}
				<img src="{% static "images/update_48.png" %}" width="20" height="20"  alt="תיקון" />
				{% endif %}
				</td>
				<td>
				{% for r in d.get_open_reminders %}
					{{ r.content|truncatewords:5 }}
					<a href="{{r.get_absolute_url}}"><img src="{% static "images/documentinfo-48.png" %}" width="15" height="15" alt="פרטים" border="0" /></a>
					<a href="{{r.get_absolute_url}}/do"><img src="{% static "images/thumbs_up_48.png" %}" width="15" height="15" alt="בצע" border="0" /></a>
					<br>
				{% endfor %}
					<a href="/demands/{{d.id}}/addreminder" class="fancybox">
						<img src="{% static "images/add_48.png" %}" width="15" height="15" border="0" alt="הוספה" />
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock page %}