{% extends "../base.html" %}
{% load static %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("#projectTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#projectTable tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
		});
		$(".fancybox").fancybox();
		$(".bigfancybox").fancybox({'frameWidth':800});			
		//add filters
		var filterSelect = $("#filterSelect");
		$("#projectTable th").each(function (index, elem) {
			filterSelect.append("<option value='" + index + "'>" + $(elem).text() + "</option>");
		});
		$("#filterSelect").change(function () {
			filterIndex = $(this).val();
		});
		$("#filterBtn").click(function (event) {
			$("#projectTable tr").each(function (index, elem) {
				if ($("td", elem).length == 0)
					return;
				var cell = $("td", elem).get(filterIndex);
				var content = $(cell).text();
				var filterText = $("#filterText").val();
				if (content.match(filterText))
					$(elem).show();
				else
					$(elem).hide();
			});
		});
		$("#filterClearBtn").click(function (event) {
			$("#projectTable tr").each(function (index, elem) {
				$(elem).show();
			});
		});
	});
</script>
{% endblock header %}
{% block content %}
<h3 class="text-center text-danger">ארכיון פרוייקטים</h3>
<div id="filter" style="width:70%;">
	<fieldset class="cardFieldset">
		<legend>חיפוש</legend>
		חיפוש לפי : 
		<select id="filterSelect" style="width:100px;"></select>
		ערך : 
		<input id="filterText" type="text"/>
		<button id="filterBtn" class="button">חפש</button>
		<button id="filterClearBtn" class="button">הצג הכל</button>
	</fieldset>
</div>
<div class="clearBoth"></div>
<br /> 
<table id="projectTable" class="dataTable" border="1">
<caption>מציג סה"כ {{object_list|length}} פרוייקטים</caption>
<tr>
	<th/>
	<th>יזם</th>
	<th>שם פרוייקט</th>
	<th>עיר</th>
	<th>תאריך סיום</th>
	<th>מס' בניינים</th>
	<th>מס' דירות</th>
	<th>איש מכירות</th>
	<th>אנשי קשר</th>
	<th>דירות ומחירונים</th>
	<th>אתר אינטרנט</th>
</tr>
{% for i in object_list %}
	<tr class="{% cycle 'row1' 'row2' %}" objid={{i.id}}>
		<td><a href="{{i.id}}">{{i.id}}</a></td>
		<td>{{ i.initiator }}</td>
		<td>{{ i.name }}</td>
		<td>{{ i.city }}</td>
		<td>{{ i.end_date }}</td>
		<td>{% if i.details %} {{ i.details.buildings_num }} {% endif %}</td>
		<td>{% if i.details %} {{ i.details.houses_num }} {% endif %}</td>
		<td>
			{% for e in i.employees.all %}
				<a href="/employees/{{e.id}}">{{e}}</a><br>
			{% endfor %}
		</td>
		<td>
			{% if i.demand_contact %}
				תשלום :
				<a href="/contact/{{i.demand_contact.id}}" class="fancybox">{{i.demand_contact}}</a><br>
			{% endif %}
			{% if i.payment_contact %}
				צ'קים :
				<a href="/contact/{{i.payment_contact.id}}" class="fancybox">{{i.payment_contact}}</a><br>
			{% endif %}
			{% if i.contacts.count %}
				נוספים: 
				{% for c in i.contacts.all %}
					<a href="/contact/{{c.id}}" class="fancybox">{{c}}</a>{% if not forloop.last %} , {% endif %}
				{% endfor %}
			{% endif%}
		</td>
		<td>
			<a href="{{i.id}}/buildings/add" class="fancybox"><i class="fa fa-fw fa-plus-circle text-success"></i> </a>
			{% if i.non_deleted_buildings|length %}
				<a href="{{i.id}}/buildings" class="bigfancybox"><img src="{% static "images/home-48.png" %}" width="20" height="20" alt="פרטים" border="0" /></a>
			{% endif %}
		</td>
		<td style="text-align:center;">
			{% if i.details.url %}
				<a href="{{i.details.url}}" target="_blank"><img src="{% static "images/network-48.png" %}" width="20" height="20" alt="פרטים" border="0" /></a>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% endblock content %}