{% extends "../base.html" %}

{% block scripts %}
{{ block.super }}
<script>
	$(document).ready(function() {
		//hides new commissions
		$("#contactTable").hide();
		$("#new_contact").click(function (event) {
				event.preventDefault();
				// show/hide new commission
				$("#contactTable").toggle();
			});
		});
</script>
{% endblock scripts %}

{% block content %}	
<h3 class="text-center text-danger">הוספת פרוייקט</h3>
<form method="POST">
	{% csrf_token %}
	<fieldset class="cardFieldset">
		<legend>פרטי משרד מכירות</legend>
		<table cellspacing="2" cellpadding="2" class="formTable">
			{% include "Management/form_snippet.html" %}
		</table>
	</fieldset>
	<fieldset class="cardFieldset">
		<legend>נציג דרישות תשלום</legend>
		הצב איש קשר קיים :
		{{ecForm.contact}} {{ecForm.contact.errors|escape}}
		<br><button id="new_contact" class="button">איש קשר חדש</button>
		<table id="contactTable" cellspacing="2" cellpadding="2" class="formTable">
			{% include "Management/form_snippet.html" with form=contactForm %}
		</table>
	</fieldset>
	<br><input type="submit" value="אישור" class="button" />
</form>
{% endblock content %}