{% extends "../base.html" %}
{% load static %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	var filterIndex = 0;
	$(document).ready(function() {
		$("#projectTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#projectTable tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
			{
				$("#projectEdit").attr("href", selectedID);
				$("#projectEnd").attr("href", "end/" + selectedID);
			}
			});
			$(".fancybox").fancybox();
			$(".bigfancybox").fancybox({'frameWidth':800});			
			//add filters
			var filterSelect = $("#filterSelect");
			$("#projectTable th").each(function (index, elem) {
				filterSelect.append("<option value='" + index + "'>" + $(elem).text() + "</option>");
			});
			$("#filterSelect").change(function () {
				filterIndex = $(this).val();
			});
			$("#filterBtn").click(function (event) {
				$("#projectTable tr").each(function (index, elem) {
					if ($("td", elem).length == 0)
						return;
					var cell = $("td", elem).get(filterIndex);
					var content = $(cell).text();
					var filterText = $("#filterText").val();
					if (content.match(filterText))
						$(elem).show();
					else
						$(elem).hide();
				});
			});
			$("#filterClearBtn").click(function (event) {
				$("#projectTable tr").each(function (index, elem) {
					$(elem).show();
				});
			});
		});
</script>
{% endblock header %}
{% block content %}
	<h3 class="text-center text-danger">מצבת פרוייקטים</h3>
	<div style="width: 60%;">
		<table id="filter" class="dataTable">
			<tr class="row1">
				<td colspan="4" style="background-color: #0065BD; color: #FFFFFF; font-weight: bold;">חיפוש</td>
			</tr>
			<tr class="row2">
				<td>
					חיפוש לפי : 
					<select id="filterSelect" style="width:100px;"></select>
				</td>
				<td>
					ערך : 
					<input id="filterText" type="text"/>
				</td>
				<td><button id="filterBtn" class="button">חפש</button></td>
				<td><button id="filterClearBtn" class="button">הצג הכל</button></td>
			</tr>
		</table>
	</div>
	<div class="clearBoth"> </div>

	<a href="add" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> הוספת פרוייקט חדש
	</a>
	<a id="projectEdit" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-edit"></i> לכרטיס פרוייקט
	</a>

	<div class="btn-group" role="group">
		<a id="employeeEnd" class="btn btn-default fancybox" role="button">
			<i class="fa fa-fw fa-check-circle"></i> העבר לארכיון
		</a>
		<a href="archive" class="btn btn-default" role="button">
			<i class="fa fa-fw fa-archive"></i> ארכיון פרוייקטים
		</a>
	</div>

	<a href="pdf" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-print"></i> גרסה להדפסה
	</a>

	<div class="clearBoth"></div>
	<br /> 
	<table id="projectTable" class="dataTable" border="1">
	<caption>מציג סה"כ {{object_list|length}} פרוייקטים</caption>
	<tr>
		<th/>
		<th>יזם</th>
		<th>שם פרוייקט</th>
		<th>עיר</th>
		<th>מס' בניינים</th>
		<th>מס' דירות</th>
		<th>איש מכירות</th>
		<th>אנשי קשר</th>
		<th>דירות ומחירונים</th>
		<th>ריכוז מכירות מתחילת חודש</th>
		<th>אתר אינטרנט</th>
	</tr>
    {% for i in object_list %}
    	<tr class="{% cycle 'row1' 'row2' %}" objid={{i.id}}>
			<td><a href="{{i.id}}">{{i.id}}</a></td>
			<td>{{ i.initiator }}</td>
			<td>{{ i.name }}</td>
			<td>{{ i.city }}</td>
			<td>{% if i.details %} {{ i.details.buildings_num }} {% endif %}</td>
			<td>{% if i.details %} {{ i.details.houses_num }} {% endif %}</td>
			<td>
				{% for e in i.employees.all %}
					<a href="/employees/{{e.id}}">{{e}}</a><br>
				{% endfor %}
			</td>
			<td>
				{% if i.demand_contact %}
					תשלום :
					<a href="/contact/{{i.demand_contact.id}}" class="fancybox">{{i.demand_contact}}</a><br>
				{% endif %}
				{% if i.payment_contact %}
					צ'קים :
					<a href="/contact/{{i.payment_contact.id}}" class="fancybox">{{i.payment_contact}}</a><br>
				{% endif %}
				{% if i.contacts.count %}
					נוספים: 
					{% for c in i.contacts.all %}
						<a href="/contact/{{c.id}}" class="fancybox">{{c}}</a>{% if not forloop.last %} , {% endif %}
					{% endfor %}
				{% endif%}
			</td>
			<td>
				<a href="{{i.id}}/buildings/add" class="fancybox"><i class="fa fa-2x fa-plus-circle text-success text-success"></i> </a>
				{% if i.non_deleted_buildings|length %}
					<a href="{{i.id}}/buildings" class="bigfancybox"><i class="fa fa-2x fa-home"></i></a>
				{% endif %}
			</td>
			<td>
				{{i.sales.count}} חוזים<br>
				{{i.signups|length}} הרשמות
			</td>
			<td style="text-align:center;">
				{% if i.details.url %}
					<a href="{{i.details.url}}" target="_blank"><img src="{% static "images/network-48.png" %}" width="20" height="20" alt="פרטים" border="0" /></a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock content %}