{% extends "../template.html" %}

{% load static %}

{% block scripts %}
<script>
	var selectedID = 0;
	
	$(document).ready(function () {
		$("#remindersTable tr").click(function() {
			var tr = $(this);

			if (selectedID > 0)
				$("#remindersTable > tr[data-id='"+selectedID+"']").removeClass('active');
			
			selectedID = tr.data('id');
			
			if (!selectedID) 
				return;
			
			tr.addClass('active');
			
			//sync links
			if (selectedID > 0)
			{
				$("#reminderEdit").attr("href", "reminder/" + selectedID);
				$("#reminderDelete").attr("href", "/reminder/" + selectedID + "/del");
				$("#reminderDo").attr("href", "/reminder/" + selectedID + "/do");
			}
		});
		
		$("#reminderDelete, #reminderDo").click(function (event) {
			event.preventDefault();
			$.get($(this).attr("href"), function(data){
				if (data == "ok")
					location.reload(true);
					parent.$("#fancy_close").click(function(event) {
						parent.location.reload();
					});	
				});
			});
		$("#reminderAdd").fancybox();
	});
</script>
{% endblock scripts %}

{% block page %}
<div id="content">
	<h3 class="text-center text-danger">ניהול תזכורות</h3>
	<br /> 

	<a id="reminderAdd" href="addreminder" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> הוספה
	</a>
	<a id="reminderEdit" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-edit"></i> עריכה
	</a>
	<a id="reminderDelete" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
	</a>
	<a id="reminderDo" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-thumbs-up"></i> בצע
	</a>

	<div class="clearBoth"> </div>
	<table id="remindersTable" class="table table-bordered table-striped table-condensed">
		<tr>
			<th>מס"ד</th>
			<th>תוכן</th>
			<th>תאריך</th>
			<th>סטטוס</th>
		</tr>
		{% for r in reminders.all %}
			<tr data-id={{r.id}}>
				<td>{{ r.id }}</td>
				<td>{{ r.content }}</td>
				<td>{{ r.statuses.all.0.time }}</td>
				<td>{{ r.statuses.latest }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock page %}