{% extends "../base.html" %}

{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block header %}
{{ block.super }}
<script>
	var projectSelect;
	var buildingSelect;
	var houseSelect;
	var employeeSelect;
	var priceInput;
	var priceIncludeLawyerChk;
	var priceNoLawyerInput;
	$(document).ready(function() {
		projectSelect = $("#id_project");
		buildingSelect = $("#id_building");
		houseSelect = $("#id_house");
		employeeSelect = $("#id_employee");
		priceInput = $("#id_price");
		priceIncludeLawyerChk = $("#id_price_include_lawyer");
		priceNoLawyerInput = $("#id_price_no_lawyer");
		
		//add click event to projects select : use ajax to get related buildings and employees
		projectSelect.change(onChangeProject);
		//add click event to buildings select : use ajax to get related houses.
		buildingSelect.change(onChangeBuilding);
		houseSelect.change(showHouseDetails);
		// add price manipulation events
		priceInput.change(fillPriceNoLawyer);
		priceIncludeLawyerChk.change(fillPriceNoLawyer);
		
		var selectedProject = projectSelect.val();
		var selectedBuilding = buildingSelect.val();
		$("#projectCard").attr("href", "/projects/" + selectedProject);
		$("#buildingCard").attr("href", "/buildings/" + selectedBuilding + "/pricelist/type1");
		showMonthSales();
		showHouseDetails();
	});
	
	function onChangeBuilding()
	{
		$("option[value!='']", houseSelect).remove();
		var selectedBuilding = buildingSelect.val();
		$("#buildingCard").attr("href", "/buildings/" + selectedBuilding + "/pricelist/type1");
		$.getJSON("/xml/houses/" + selectedBuilding, onHouseDataArrived);
	}
	
	function onChangeProject()
	{
		$("option[value!='']", buildingSelect).remove();
		$("option[value!='']", houseSelect).remove();
		$("option", employeeSelect).remove();
		var selectedProject = projectSelect.val();
		$("#projectCard").attr("href", "/projects/" + selectedProject);
		$.getJSON("/xml/buildings/" + selectedProject, onBuildingDataArrived);
		$.getJSON("/xml/employees/" + selectedProject, onEmployeeDataArrived);
		showMonthSales();
	}
	
	function onHouseDataArrived(data)
	{				
		for (i in data)
		{
			obj = data[i];
			houseSelect.append("<option value='" + obj.pk + "'>" + obj.fields['num'] + "</option>");
		}
	}
	
	function onBuildingDataArrived(data)
	{
		for (i in data)
		{
			obj = data[i];
			buildingSelect.append("<option value='" + obj.pk + "'>" + obj.fields['num'] + "</option>");
		}
		onChangeBuilding();
	}
	
	function onEmployeeDataArrived(data)
	{
		for (i in data)
		{
			obj = data[i];
			text = obj.fields['pid'] + " : " + obj.fields['first_name'] + " " + obj.fields['last_name'];
			employeeSelect.append("<option value='" + obj.pk + "'>" + text + "</option>");
		}
		if (data.length == 1)
			employeeSelect.attr("value", data[0].pk);	
	}
	
	function showMonthSales()
	{
		var selectedProject = projectSelect.val();
		$("#sales").empty();
		$.get("/demand_sales/" + selectedProject + "/{{year}}/{{month}}", function(data){
			$("#sales").append(data);
		});
	}
	
	function showHouseDetails()
	{
		$("#houseDetails").empty();
		var selectedHouse = houseSelect.val();
		$.get("/house_details/" + selectedHouse, function(data){
			$("#houseDetails").append(data);
		});
	}
	
	function fillPriceNoLawyer()
	{
		var p = priceInput.val();
		var include = priceIncludeLawyerChk.val();
		
		if (include == "True")
			priceNoLawyerInput.attr("value", Math.round(p / 1.015));
		else
			priceNoLawyerInput.attr("value", p);
	}
</script>
{% endblock header %}
{% block content %}

<div class="title">
	<div class="pageTitle">
		{% if form.instance.id %}
			עדכון מכירה מס' 
			{{form.instance.id}} 
			לחודש 
			{{form.instance.demand.month}}/{{form.instance.demand.year}}
		{% else %}
			מכירה חדשה
		{% endif %}
	</div>
</div>

<hr/>

{% if form.instance.demand.was_sent %}
<div class="col-md-6 col-md-offset-3">
	<div class="alert alert-warning">
		לתשומת לבך, הדרישה כבר נשלחה ליזם! עדכון הבניין\הדירה\מחיר המכירה יוזן כתיקון דרישה
	</div>
</div>
{% endif %}

<div class="col-md-8">
	<form method="POST" class="form-horizontal">

		<div class="col-md-6">
			{% csrf_token %}
			
			{{form.id}}

			{% include 'Management/form_field_snippet.html' with field=form.project %}
			{% include 'Management/form_field_snippet.html' with field=form.building %}
			{% include 'Management/form_field_snippet.html' with field=form.house %}
			{% include 'Management/form_field_snippet.html' with field=form.employee %}

			{% with form.joined_sale as field %}
			<div class="form-group">
				<label for="{{field.id_for_label}}" class="col-xs-4 control-label">{{field.label}}</label>
				<div class="col-xs-6">
					{{field}}
					{% if field.errors %}
						<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>
					{% endif %}
				</div>
			</div>
			{% endwith %}

			<h4 class="text-primary text-center"><u>נתוני מכירה</u></h4>

			{% include 'Management/form_field_snippet.html' with field=form.clients %}
			{% include 'Management/form_field_snippet.html' with field=form.clients_phone %}
			{% include 'Management/form_field_snippet.html' with field=form.sale_date %}
			{% include 'Management/form_field_snippet.html' with field=form.price %}
			{% include 'Management/form_field_snippet.html' with field=form.min_price %}
			{% include 'Management/form_field_snippet.html' with field=form.price_include_lawyer %}
			{% include 'Management/form_field_snippet.html' with field=form.price_no_lawyer %}
			{% include 'Management/form_field_snippet.html' with field=form.include_tax %}

		</div>
	
		<div class="col-md-6">

			<h4 class="text-primary text-center"><u>נתוני שיכון עובדים</u></h4>

			{% include 'Management/form_field_snippet.html' with field=form.contract_num %}
			{% include 'Management/form_field_snippet.html' with field=form.discount %}
			{% include 'Management/form_field_snippet.html' with field=form.allowed_discount %}

			<h4 class="text-primary text-center"><u>נתוני זילברמינץ</u></h4>

			{% include 'Management/form_field_snippet.html' with field=form.company_price %}
			{% include 'Management/form_field_snippet.html' with field=form.commission_madad_bi %}
			{% include 'Management/form_field_snippet.html' with field=form.include_registration %}
			{% include 'Management/form_field_snippet.html' with field=form.specification_expense %}
			{% include 'Management/form_field_snippet.html' with field=form.other_expense %}

			<h4 class="text-primary text-center"><u>נתוני מרום השרון</u></h4>

			{% include 'Management/form_field_snippet.html' with field=form.signup_date %}

			<h4 class="text-primary text-center"><u>נתונים נוספים</u></h4>

			{% include 'Management/form_field_snippet.html' with field=form.remarks %}
			
			{% with form.commission_include as field %}
			<div class="form-group">
				<label for="{{field.id_for_label}}" class="col-xs-4 control-label">{{field.label}}</label>
				<div class="col-xs-6">
					{{field}}
					{% if field.errors %}
						<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>
					{% endif %}
				</div>
			</div>
			{% endwith %}

		</div>
	
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input name="addanother" type="submit" value="שמור והמשך בהזנה" class="btn btn-primary" />
				<input name="todemand" type="submit" value="שמור וחזור לכרטיס הדרישה" class="btn btn-default" />
			</div>
		</div>

	</form>
</div>

	<div class="col-md-4">
	{% if form.instance.id %}
		{% with form.instance as s %}
		<div class="panel panel-info">
			<div class="panel-heading">תיקונים למכירה</div>
			<div class="panel-body">
				<ul>
					{% if s.salepricemod %}
						<li>המחיר שונה מ- 
						{{s.salepricemod.old_price|intcomma}} 
						ל - 
						<b>{{s.price|intcomma}}</b>. 
						<a href="{{ s.salepricemod.get_absolute_url }}">פרטים</a>
						</li>
					{% endif %}
					{% if s.salehousemod %}
						<li>הדירה  שונתה מבניין
						<a href="/buildings/{{s.salehousemod.old_house.building.id}}/pricelist/type1">{{s.salehousemod.old_house.building.num}}</a>
						 דירה 
						<a href="/buildings/{{s.salehousemod.old_house.building.id}}/house/{{s.salehousemod.old_house.id}}/type1">{{s.salehousemod.old_house.num}}</a>			
						 לבניין 
						<a href="/buildings/{{s.house.building.id}}/pricelist/type1"><b>{{s.house.building.num}}</b></a>
						 דירה 
						<a href="/buildings/{{s.house.building.id}}/house/{{s.house.id}}/type1"><b>{{s.house.num}}</b></a>. 
						<a href="{{ s.salehousemod.get_absolute_url }}">פרטים</a>
						</li>
					{% endif %}
					{% if s.salepre %}
						<li>המכירה הוקדמה לחודש זה. העובד יקבל תשלום בחודש
						<b>{{s.salepre.employee_pay_month}}/{{s.salepre.employee_pay_year}}</b>. 
						<a href="{{ s.salepre.get_absolute_url }}">פרטים</a>
						</li>
					{% endif %}
					{% if s.salereject %}
						<li>המכירה נדחתה לחודש
						<b>{{s.salereject.to_month_month}}/{{s.salereject.to_month_year}}</b>
						העובד יקבל תשלום בחודש
						<b>{{s.salereject.employee_pay_month}}/{{s.salereject.employee_pay_year}}</b>. 
						<a href="{{ s.salereject.get_absolute_url }}">פרטים</a>
						</li>			
					{% endif %}
					{% if s.salecancel %}
						<li>המכירה בוטלה. הקיזוז מהדרישה - 
						<b>{{s.cancel.fee|intcomma}}</b>
						<a href="{{ s.salecancel.get_absolute_url }}">פרטים</a>
						</li>			
					{% endif %}
				</ul>
			</div>
		</div>
		{% endwith %}
	{% endif %}

	<div class="panel panel-info">
		<div class="panel-heading">פרטי דירה</div>
		<div class="panel-body">
			<div id="houseDetails"></div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">עסקאות לדרישה לתשלום לחודש {{month}}/{{year}}</div>
		<div class="panel-body">
			<div id="sales"></div>
		</div>
	</div>
</div>

<div class="clearBoth"></div> 
{% endblock content %}