{% extends "../base.html" %}
{% block header %}
{{block.super}}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
	});
</script>
{% endblock header %}
{% block content %}
	<div class="title">
		<div class="pageTitle">הוספת תשלום (צ'ק) מפוצל</div>
	</div>
	<div class="clearBoth"> </div>
	<br />
	<div style="float:left; width:20%;">
		<fieldset class="cardFieldset">
			<ul>
				<li><a href="/payments/add">הזנת צ'ק רגיל</a></li>
				<li><a href="/invoices/add">הזנת חשבונית</a></li>
			</ul>
		</fieldset>
	</div>
	<div id="rightSide">
		<form method="POST">
			<table class="formTable">
				<tr>
					<th>{{spf.num.label_tag}}</th>
					<td>
						{{spf.num}}
						{% if spf.num.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{spf.num.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{spf.support_num.label_tag}}</th>
					<td>
						{{spf.support_num}}
						{% if spf.support_num.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{spf.support_num.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{spf.bank.label_tag}}</th>
					<td>
						{{spf.bank}}
						{% if spf.bank.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{spf.bank.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{spf.branch_num.label_tag}}</th>
					<td>
						{{spf.branch_num}}
						{% if spf.branch_num.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{spf.branch_num.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{spf.payment_type.label_tag}}</th>
					<td>
						{{spf.payment_type}}
						{% if spf.payment_type.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{spf.payment_type.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{spf.payment_date.label_tag}}</th>
					<td>
						{{spf.payment_date}}
						{% if spf.payment_date.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{spf.payment_date.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{spf.remarks.label_tag}}</th>
					<td>
						{{spf.remarks}}
						{% if spf.remarks.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{spf.remarks.errors|join:""}}'/>{% endif %}
					</td>
				</tr>
				<tr>
					<td>
					<th>דרישות לתשלום</th>
				</tr>
			</table>
			<table class="formTable">
			<tr>
				<td>{{spdForms.management_form}}</td>
			</tr>
				{% for form in spdForms.forms %}
				<tr>
					{% for field in form %}
						<td>{{field}}{% if field.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{field.errors|join:""}}'/>{% endif %}</td>
					{% endfor %}
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td>
						<input type="submit" value="אישור" class="button"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="clearBoth"></div>
{% endblock content %}