{% extends "../base.html" %}

{% block content %}
	<h3 class="text-center text-danger">הוספת תשלום (צ'ק) מפוצל</h3>
	<div class="clearBoth"> </div>
	<br />
	<div style="float:left; width:20%;">
		<fieldset class="cardFieldset">
			<ul>
				<li><a href="/payments/add">הזנת צ'ק רגיל</a></li>
				<li><a href="/invoices/add">הזנת חשבונית</a></li>
			</ul>
		</fieldset>
	</div>
	<div id="rightSide">
		<form method="POST">
			{% csrf_token %}
			<table class="formTable">
				{% include "Management/form_snippet.html" with form=spf %}
				<tr>
					<td>
					<th>דרישות לתשלום</th>
				</tr>
			</table>
			<table class="formTable">
			<tr>
				<td>{{spdForms.management_form}}</td>
			</tr>
				{% for form in spdForms.forms %}
				<tr>
					{% for field in form %}
						<td>
							{{field}}
							{% if field.errors %}
								<i class="fa fa-exclamation-circle text-danger" title='{{field.errors|join:""}}'></i>
							{% endif %}
						</td>
					{% endfor %}
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td>
						<input type="submit" value="אישור" class="button"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="clearBoth"></div>
{% endblock content %}