{% extends "../base.html" %}

{% load static %}

{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prevClass;
	$(document).ready(function() {		
		$("input[value!='submit']").attr("class", "inputText");
		//Add row selection
		$("#taskTable tr").click(function() {
			var tr = $(this);
			if (selectedID > 0)
				$("#taskTable tr[objid='"+selectedID+"']").attr("class", prevClass);
			selectedID = tr.attr("objid");
			if (!selectedID) return;
			prevClass = tr.attr("class");
			tr.attr("class","selectedRow");
			if (selectedID > 0)
			{//sync links
				$("#taskDelete").attr("href", "/task/" + selectedID + "/del");
				$("#taskDo").attr("href", "/task/" + selectedID + "/do");
			}
		});
		//add fancybox
		$(".fancybox").fancybox({'frameHeight':300, 'frameWidth' : 470});
	});
</script>
{% endblock header %}
{% block content %}
<div id="content">
	<h3 class="text-center text-danger">ניהול משימות</h3>

	<div class="col-md-4">
		<div class="panel panel-primary">
				<div class="panel-heading">סינון</div>
				<div class="panel-body">
					<form method="GET" class="form-inline">
						{% include "Management/filter_form_fields.html" with form=filterForm %}
						<input type="submit" value="סנן" class="btn btn-sm btn-primary"/>
					</form>
				</div>
			</div>
	</div>
	
	<div class="clearBoth"></div>
	
	<a href="/task/add" class="btn btn-default fancybox" role="button">
		<i class="fa fa-fw fa-plus-circle text-success"></i> חדש
	</a>
	<a id="taskDelete" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-times-circle text-danger"></i> מחיקה
	</a>
	<a id="taskDo" class="btn btn-default" role="button">
		<i class="fa fa-fw fa-thumbs-up"></i> בצע
	</a>

	<div class="clearBoth"> </div>
	<table id="taskTable" class="dataTable" border="1">
		<tr>
			<th>שולח</th>
			<th>מבצע</th>
			<th>תוכן</th>
			<th>תאריך</th>
			<th>בוצע?</th>
			<th>זמן ביצוע</th>
		</tr>
		{% for t in tasks %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{t.id}}>
				<td>{{ t.sender }}</td>
				<td>{{ t.user }}</td>
				<td>{{ t.content }}</td>
				<td>{{ t.time }}</td>
				<td>
					{% if t.is_done %}<img src="{% static "images/apply.gif" %}" alt="" />
					{% else %} <img src="{% static "images/delete.gif" %}" alt="" />
					{% endif %}
				</td>
				<td>{{ t.time_done|default_if_none:"-" }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}