{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
<h3 class="text-center text-danger">דוח רווח והפסד לחטיבה ללא מע"מ</h3>

<div class="clearBoth"></div>

<div class="col-md-9">
	<div class="panel panel-primary">
			<div class="panel-heading">חיפוש תקופה</div>
			<div class="panel-body">
				<form method="GET" class="form-inline">
					{% include "Management/filter_form_fields.html" with form=filterForm %}
					<input type="submit" value="חפש" class="btn btn-sm btn-primary"/>
				</form>
			</div>
		</div>
</div>

<div class="clearBoth"></div>

<a href="#" class="btn btn-default" role="button">
	<i class="fa fa-fw fa-print"></i> גרסת הדפסה
</a>

<div class="clearBoth"></div>
<br>
	{% for row in data %}
		<h3 style="text-align:center; background-color:#FBFFD1;">{{row.division}}</h3>
		<div style="float:right; width:45%;">
			<table class="table table-bordered table-striped table-condensed">
				<caption>הכנסות</caption>
				<th></th>
				<th>פרוייקט</th>
				<th>סכום</th>
				<th>% מההכנסות</th>
				{% for incomeRow in row.incomes %}
					<tr>
						<td>
							{% if incomeRow.details_link %} 
								<a href={{incomeRow.details_link}} target="_blank"><img src="{% static "images/viewmag-48.png" %}" width="20" height="20"/></a> 
							{%endif%}
						</td>
						<td>{{ incomeRow.name }}</td>
						<td>{{ incomeRow.amount|floatformat:0|intcomma }}</td>
						<td>{{ incomeRow.relative|floatformat:-2 }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div style="float:left; width:45%;">
			<table class="table table-bordered table-striped table-condensed">
				<caption>הוצאות</caption>
				<th></th>
				<th>סוג הוצאה</th>
				<th>סכום</th>
				<th>% מההוצאות</th>
				{% for lossRow in row.losses %}
					<tr>
						<td>
							{% if lossRow.details_link %} 
								<a href={{lossRow.details_link}} target="_blank"><img src="{% static "images/viewmag-48.png" %}" width="20" height="20"/></a> 
							{%endif%}
						</td>
						<td>{{ lossRow.name }}</td>
						<td>{{ lossRow.amount|floatformat:0|intcomma }}</td>
						<td>{{ lossRow.relative|floatformat:-2 }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="clearBoth"></div>
		<h4 style="text-align:center; background-color:#96F2A4;">רווח - {{row.profit|floatformat:0|intcomma}} ש"ח</h4>
		<br>
	{% endfor %}
	<table class="formTable" border="1">
		<tr>
			<th>סה"כ הכנסות</th>
			<td>{{global_income|floatformat:0|intcomma}}</td>
		</tr>
		<tr>
			<th>סה"כ הוצאות</th>
			<td>{{global_loss|floatformat:0|intcomma}}</td>
		</tr>
		<tr>
			<th>סה"כ רווח</th>
			<td>{{global_profit|floatformat:0|intcomma}}</td>
		</tr>
	</table>
{% endblock content %}