BODY {
	margin: 0;
	padding: 0;
	direction: rtl;
	text-align: center;
}

.clearBoth {
	clear: both;
}

.helpText {
	color: #0344D4;
	font-family: Tahoma; 
	font-size: 11px; 	
}

.cardFieldset {
	border: 1px solid #708090;
	font-family: Tahoma; 
	font-size: 12px; 
	padding: 7px;
	margin: 3px;
}

.cardFieldset legend {
	font-weight: bold; 
	font-family: Tahoma; 
	font-size: 12px; 
	color: #4682B4;
}

/*	
	thePage class is the Div that contains all the body inside.
	The menu, the content, the footer.. every thing.
	It's good to use this kind of container cuz it's much easier to define the
	the width of all the design, the white space of the side and etc.
*/

#thePage {
	width: 95%;
	margin: auto; /* centrilize the element.. in this case, all the child elements in the middle to0 */
	height: 90%;
	direction: rtl;
	text-align: right;
}

#content {
	font-family: Arial;
	padding: 4px 4px 4px 4px;
	direction: rtl;
	text-align: right;
}

#content img {
	border: 0;
}

#content .inputText {
	border: 1px solid #D4D4D4;
	font-size: 12px;
	font-family: Arial;
}

#content .button {
	border: 1px solid #D4D4D4;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	color: #FF6633;
	margin: 3px;
}

#content .button:hover {
	border: 1px solid #0065BD;
	color: #0065BD;
}


#content .title {
	width: 100%;
	height: 40px;
	text-align: center
}

#content .pageTitle {
	float: right;
	width: 100%;
	font-size: 26px;
	font-family: Tahoma;
	padding-top: 2px;
	padding-right: 10px;
	color: #AF0007;
}

#content .subTitle {
	width: 70%;
	border: 1px solid #ADADAD;
	border-bottom: 2px solid #ADADAD;
	border-right: 2px solid #ADADAD;
	font-size: 14px;
	font-weight: bold;
	background-color: #EFEFEF;
	padding-right: 2px;	
	color: #AF0007;
}

#content .listTitle {
	width: 60%;
	border: 1px solid #ADADAD;
	border-bottom: 2px solid #ADADAD;
	border-right: 2px solid #ADADAD;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	background-color: #C8D4F2;
	padding-right: 2px;
	margin : 2px;
}

#rightSide {
	float: right;
	width: 48%;
}


#leftSide {
	float: left;
	width: 48%;
}

.reportTable {
	font-size: 12px;
	padding: 4px 4px 4px 4px;
	font-family: Tahoma;
	border: 1px solid #000000;
	border-collapse: collapse;
	margin-right: 10px;
	text-align: center;
	width: 98%;
}

.reportTable th {
	height: 21px;
	font-size: 12px;
	font-family: Arial;
	border-bottom: 1px solid #000000;
}

.formTable {
	font-size: 12px;
	padding: 4px 4px 4px 4px;
	font-family: Arial;
}
.formTable th {
	padding: 4px 4px 4px 4px;
}
.formTable caption {
	padding: 4px 4px 4px 4px;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
}

.myDataTable {
	font-size: 12px;
	padding: 4px 4px 4px 4px;
	font-family: Arial;
	border: 1px solid #D4D4D4;
	border-collapse: collapse;
	margin-right: 10px;
	width: 98%;
}

.myDataTable caption {
	color: #FFFFFF;
	padding: 4px 4px 4px 4px;
	background-color: #6696D5;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
}

.myDataTable th {
	height: 21px;
	background: url(../images/gradiant.gif) repeat-x;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial;
	border-bottom: 1px solid #9F9F9F;
}


.rowSum td {
	color: #CF2222;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.rowSumGreen td {
	color: #039E33;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.rowSumBlue td {
	color: #3C79FF;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.rowSumRed td {
	color: #FF3C3C;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.rowTeal td {
	color: #1C9AAD;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.row1 td {
	background-color: #EFEFEF;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.row2 td {
	background-color: #FFFFFF;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.row3 td {
	background-color: #F7E1AF;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.row4 td {
	background-color: #B1CDFF;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.row5 td {
	background-color: #9EE9C3;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.rowLightGreen td {
	background-color: #98FFCE;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.rowLightBlue td {
	background-color: #BED1F3;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.rowMediumBlue td {
	background-color: #A5BEEC;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}
.rowBlue td {
	background-color: #739DE6;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.selectedRow td {
	background-color: #BCD9FF;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.deletedRow td {
	background-color: #FAA99E;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	padding: 4px 4px 4px 4px;
}

.someIcon {
	background-color: #FAFAFA;
	float: right;
	border: 1px solid #ACACAC;
	border-right: 2px solid #ACACAC;
	border-bottom: 2px solid #ACACAC;
	width: 65px;
	margin-right: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	color: #708090;
	font-family: Arial;
}

.someIcon a {
	font-size: 12px;
	color: #708090;
	font-family: Arial;
	text-decoration: none;
}

.someIcon a:hover {
	color: #0065BD;
	text-decoration: none;
}

.someIcon:hover {
	color: #0065BD;
	border: 1px solid #0065BD;
	border-right: 2px solid #0065BD;
	border-bottom: 2px solid #0065BD;
}

.someIcon img {
	vertical-align: middle;
}

.someIcon span {
	font-weight: bold;
	font-size: 12px;
	color: #708090;
	font-family: Arial;
}

